%nav
    %a.moo-nav{:href=>"#core"} $ Core
    %a.moo-nav{:href=>"#gestures"} $ Gestures
    %a.moo-nav{:href=>"#gestures"} $ Fx
    %a.moo-nav{:href=>"#nav"} Nav
    %a.moo-nav{:href=>"#ui"} UI
    %a.moo-nav{:href=>"#app"} App
