%nav.moo-list
    %li
        %a.moo-nav{:href=>"#core"} $
    %li
        %a.moo-nav{:href=>"#gestures"} Gestures
    %li
        %a.moo-nav{:href=>"#fx"} Fx
    %li
        %a.moo-nav{:href=>"#geo"} Geo
    %li
        %a.moo-nav{:href=>"#ui"} UI
