%form.moo-ui-form{:action=>"", :method=>"post"}

    .moo-field
        %legend
            Checkbox
        %fieldset#ui_checkbox_Fieldset
            %label{:for=>"check1"} Option 1
            %input#check1{:type=>"checkbox", :name=>"checkboxes" ,:value=>"0"}

            %label{:for=>"check2"} Option 2
            %input#check2{:type=>"checkbox", :name=>"checkboxes" ,:value=>"1"}

            %label{:for=>"check3"} Option 3
            %input#check3{:type=>"checkbox", :name=>"checkboxes" ,:value=>"2"}


