%form.moo-ui-form

    .moo-field
    
        %legend Checkbox
    
        %fieldset#ui_checkbox_Fieldset
    
            %label Check 1
            %input{:type=>"checkbox", :value=>"0"}
    
            %label Check 2
            %input{:type=>"checkbox", :value=>"1"}
    
            %label Check 3
            %input{:type=>"checkbox", :value=>"2"}
        