<form action='' class='moo-ui-form' method='post'>
  <div class='moo-field'>
    <legend>
      Checkbox
    </legend>
    <fieldset id='ui_checkbox_Fieldset'>
      <label for='check1'>Option 1</label>
      <input id='check1' name='checkboxes' type='checkbox' value='0' />
      <label for='check2'>Option 2</label>
      <input id='check2' name='checkboxes' type='checkbox' value='1' />
      <label for='check3'>Option 3</label>
      <input id='check3' name='checkboxes' type='checkbox' value='2' />
    </fieldset>
  </div>
</form>
