.moo_checkbox {
  display: block;
  height: 28px;
  width: 94px;
  overflow: hidden;
  float: right;
}
.moo_checkbox b {
  -webkit-transition-duration: .25s;
  background: url(../img/ui/switch.png);
  height: 28px;
  width: 149px;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
}
.moo_checkbox.off b {
  -webkit-transform: translate3d(-54px, 0, 0);
}
.moo_checkbox label {
  position: absolute;
  left: 5%;
  font-weight: bold;
  font-size: 17px;
  margin-top: 5px;
}

.stdform {
  width: 100%;
  text-align: center;
  padding: 2%;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}
.stdform label {
  display: block;
}
