#header {
  padding: 1.8em 1em;
  text-align: left;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
}
#header nav {
  position: absolute;
  margin-top: 0;
  top: 2.3em;
}
#header nav a {
  padding: .5em 1em;
  width: auto;
  display: inline;
}

#panels {
  min-height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}
#panels .panel {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  position: absolute;
}

nav ul,
nav ol {
  list-style: none;
}
nav a {
  text-decoration: none;
  text-align: left;
  display: block;
}

#panels .panel {
  -webkit-transition-duration: 0;
  -webkit-transform: translate3d(0, 0, 0);
}

a,
a:hover,
a:focus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
