/* ==========================================================================
   CSS Normalization, based on
   normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css 
   ========================================================================== */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
* Corrects `block` display not defined in Android 2.1, iOS 3.2 and Opera Mini.
*/
/* line 24, ../_source/css/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* =============================================================================
   Base
   ========================================================================== */
/* 
 * Apply a natural box layout model to all elements 
 * (padding is calculated inside the box, not changing the width/height set on the element)
 */
/* line 36, ../_source/css/sass/_normalize.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * Addresses margins/padding handled incorrectly 
 */
/* line 42, ../_source/css/sass/_normalize.scss */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
* Addresses `font-family` inconsistency between `textarea` and other form
* elements.
*/
/* line 57, ../_source/css/sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
* Prevents `sub` and `sup` affecting `line-height` in all browsers.
* gist.github.com/413930
*/
/* line 71, ../_source/css/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 78, ../_source/css/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 82, ../_source/css/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
*   Removes default style 
*/
/* line 95, ../_source/css/sass/_normalize.scss */
ol,
ul {
  list-style: none;
}

/*
* Removes default margin
*/
/* line 107, ../_source/css/sass/_normalize.scss */
dd,
dl,
menu,
ol,
ul {
  margin: 0;
}

/*
* Addresses paddings.
*/
/* line 117, ../_source/css/sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent margin and padding
 */
/* line 129, ../_source/css/sass/_normalize.scss */
form {
  margin: 0;
}

/* line 133, ../_source/css/sass/_normalize.scss */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */
/* line 147, ../_source/css/sass/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
}

/*
* 1. Corrects font size not being inherited in all browsers.
* 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
* 3. Improves appearance and consistency in all browsers.
*/
/* line 161, ../_source/css/sass/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
}

/*
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
* and `video` controls.
* 2. Corrects inability to style clickable `input` types in iOS.
* 3. Improves usability and consistency of cursor style between image-type
* `input` and others.
*/
/* line 178, ../_source/css/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
* Removes webkit border on input and textarea when the element is on focus
*/
/* line 187, ../_source/css/sass/_normalize.scss */
textarea:focus,
input:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/*
* Re-set default cursor for disabled elements.
*/
/* line 197, ../_source/css/sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 206, ../_source/css/sass/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
* 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
* 2. Addresses `box-sizing` set to `border-box` in S5, Chrome.
*/
/* line 215, ../_source/css/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
* Removes inner padding and search cancel button in S5, Chrome on OS X.
*/
/* line 226, ../_source/css/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
* Improves readability and alignment in all browsers.
*/
/* line 234, ../_source/css/sass/_normalize.scss */
textarea {
  vertical-align: top;
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
* Remove most spacing between table cells.
*/
/* line 247, ../_source/css/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
Typography 
(from normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css )
========================================================================== */
/*
* Addresses font sizes and margins set differently.
*/
/* line 19, src/_text.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  text-align: center;
}

/* line 25, src/_text.scss */
h1 {
  font-size: 2.3em;
  text-align: center;
  margin: 0.62em 0;
}

/* line 31, src/_text.scss */
h2 {
  font-size: 7em;
  margin: 0.5em 0;
}

/* line 36, src/_text.scss */
h3 {
  font-size: 1.83em;
  margin: 0.67em 0;
}

/* line 41, src/_text.scss */
h4 {
  font-size: 1.5em;
  margin: 1.33em 0;
}

/* line 46, src/_text.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 51, src/_text.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 56, src/_text.scss */
p {
  font-size: 3em;
  text-align: justify;
  padding: 1em;
  line-height: 150%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Droid Serif", serif;
  letter-spacing: 0;
}

/* line 64, src/_text.scss */
small {
  font-size: 75%;
}

/* line 9, ../_source/css/sass/_mootor.nav.scss */
body, html {
  height: 100%;
  background: #ccc;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}

/* line 21, ../_source/css/sass/_mootor.nav.scss */
.moo-header {
  text-align: left;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  padding: .6em 1em;
}
/* line 28, ../_source/css/sass/_mootor.nav.scss */
.moo-header nav {
  position: absolute;
  margin-top: 0;
  top: 1.6em;
  left: 1.5em;
}
/* line 34, ../_source/css/sass/_mootor.nav.scss */
.moo-header nav a {
  padding: .5em 1em;
  width: auto;
  display: inline;
  font-size: 1.5em;
}

/* line 44, ../_source/css/sass/_mootor.nav.scss */
#panels {
  position: absolute;
  width: 100%;
  left: 0;
  min-height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f7f7f7;
}
/* line 54, ../_source/css/sass/_mootor.nav.scss */
#panels .moo-panel {
  min-height: 100%;
  width: 100%;
  position: absolute;
}

/* line 66, ../_source/css/sass/_mootor.nav.scss */
nav ul,
nav ol {
  list-style: none;
}
/* line 70, ../_source/css/sass/_mootor.nav.scss */
nav a {
  text-decoration: none;
  text-align: left;
  display: block;
  padding: 1em;
}

/* line 80, ../_source/css/sass/_mootor.nav.scss */
#panels .moo-panel {
  -webkit-transition-duration: 0;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 88, ../_source/css/sass/_mootor.nav.scss */
a,
a:hover,
a:focus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* line 4, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-input-container, .moo-ui-form .moo-ui-text, .moo-ui-form .moo-ui-textarea, .moo-ui-form .moo-ui-select-container,
.moo-ui-form .moo-ui-select-container-multiple {
  display: inline;
  float: right;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #FFF;
  position: relative;
  width: 75%;
}

/* line 12, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-input, .moo-ui-form .moo-ui-text input, .moo-ui-form .moo-ui-textarea textarea {
  -webkit-appearance: none;
  /* Remove default iOS shadow */
  border: none;
  background: none;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 100%;
}

/* line 24, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form {
  text-align: left;
  width: 90%;
  margin: 5em auto;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
  /*
  *  Cleanbox is the styling of the icon link used to "clean" a text input
  */
}
/* line 32, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-field {
  display: block;
  padding: 1em 2em;
  border-top: 1px solid #CCC;
}
/* line 37, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-field:first-child {
  border-top: none;
}
/* line 38, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-field > label, .moo-ui-form .moo-field legend {
  display: inline;
  float: left;
  font-size: 2em;
  font-weight: 700;
  width: 25%;
}
/* line 45, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-text {
  padding: 0.25em 2.25em 0.25em 0.25em;
}
/* line 50, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-textarea {
  padding: 0.25em;
}
/* line 56, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-select-container,
.moo-ui-form .moo-ui-select-container-multiple {
  padding: 0.25em;
  height: 3em;
  z-index: 300;
}
/* line 61, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-text,
.moo-ui-form .moo-ui-select-container-multiple .moo-ui-select-text {
  font-size: 1.5em;
  line-height: 1.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline;
  float: left;
  padding: 0 0.35em;
  width: 90%;
}
/* line 71, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-link,
.moo-ui-form .moo-ui-select-container-multiple .moo-ui-select-link {
  color: #000;
  font-size: 1.25em;
  line-height: 2.25em;
  text-align: right;
  text-decoration: none;
  display: inline;
  float: right;
  height: 100%;
  padding: 0 0.5em;
  position: relative;
  right: 0;
  z-index: 10;
}
/* line 83, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-link:after,
.moo-ui-form .moo-ui-select-container-multiple .moo-ui-select-link:after {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background: -moz-linear-gradient(top, #ffffff, #cccccc);
  background: -o-linear-gradient(top, #ffffff, #cccccc);
  background: -ms-linear-gradient(top, #ffffff, #cccccc);
  background: linear-gradient(top, #ffffff, #cccccc);
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  content: " ";
  display: block;
  position: absolute;
  top: -0.25em;
  right: -0.25em;
  width: 2.25em;
  height: 2.25em;
  z-index: -1;
}
/* line 100, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-menu,
.moo-ui-form .moo-ui-select-container-multiple .moo-ui-select-menu {
  background-color: #999;
  border-radius: 5px;
  display: none;
  padding: 1em;
  position: absolute;
  width: 99%;
  z-index: 1000;
}
/* line 109, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-list,
.moo-ui-form .moo-ui-select-container-multiple .moo-ui-select-list {
  font-size: 1.5em;
  background: #FFF;
  border-radius: 5px;
}
/* line 113, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-list li,
.moo-ui-form .moo-ui-select-container-multiple .moo-ui-select-list li {
  padding: 1em;
  border-bottom: 1px solid #CCC;
  white-space: nowrap;
}
/* line 117, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-list li:last-child,
.moo-ui-form .moo-ui-select-container-multiple .moo-ui-select-list li:last-child {
  border: none;
}
/* line 118, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-list li.selected,
.moo-ui-form .moo-ui-select-container-multiple .moo-ui-select-list li.selected {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #daeaec), color-stop(100%, #cee3e6));
  background: -webkit-linear-gradient(top, #daeaec, #cee3e6);
  background: -moz-linear-gradient(top, #daeaec, #cee3e6);
  background: -o-linear-gradient(top, #daeaec, #cee3e6);
  background: -ms-linear-gradient(top, #daeaec, #cee3e6);
  background: linear-gradient(top, #daeaec, #cee3e6);
  border-top-color: #AEBBBD;
  border-bottom-color: #AEBBBD;
  color: #3F8D94;
}
/* line 127, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-select-container.moo-bottom .moo-ui-select-menu,
.moo-ui-form .moo-ui-select-container-multiple.moo-bottom .moo-ui-select-menu {
  top: 4.5em;
}
/* line 129, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-select-container.moo-bottom .moo-ui-select-menu:before,
.moo-ui-form .moo-ui-select-container-multiple.moo-bottom .moo-ui-select-menu:before {
  content: "";
  display: block;
  position: absolute;
  top: -3em;
  left: 25%;
  border-top: 15px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #999;
}
/* line 143, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-select-container.moo-top .moo-ui-select-menu,
.moo-ui-form .moo-ui-select-container-multiple.moo-top .moo-ui-select-menu {
  bottom: 4.5em;
}
/* line 145, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-select-container.moo-top .moo-ui-select-menu:after,
.moo-ui-form .moo-ui-select-container-multiple.moo-top .moo-ui-select-menu:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -3em;
  left: 25%;
  border-bottom: 1.5em solid transparent;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-top: 1.5em solid #999;
}
/* line 162, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .cleanbox {
  display: block;
  padding: 0 0.35em;
  position: absolute;
  top: 0;
  right: 0;
  color: #666;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5em;
  text-decoration: none;
}
/* line 174, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-radio {
  display: inline;
  float: right;
  position: relative;
  width: 75%;
}
/* line 178, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-radio input {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
/* line 183, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-radio label {
  position: relative;
  display: block;
  padding: 0.5em 0.5em 0.5em 2em;
  background: #FFF;
  font-size: 1.4em;
}
/* line 189, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-radio label .moo-ui-radio-icon {
  display: block;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  background-color: #CCC;
  border: 1px solid #999;
  border-radius: 8px;
  width: 1em;
  height: 1em;
}
/* line 199, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-radio label .moo-ui-radio-icon.moo-active {
  background-color: #666;
}
/* line 201, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-radio label .moo-ui-radio-icon.moo-active:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 6, color-stop(0%, #ffffff), color-stop(100%, #a6c9fd));
  background: -webkit-radial-gradient(#ffffff, #a6c9fd 6px);
  background: -moz-radial-gradient(#ffffff, #a6c9fd 6px);
  background: -o-radial-gradient(#ffffff, #a6c9fd 6px);
  background: -ms-radial-gradient(#ffffff, #a6c9fd 6px);
  background: radial-gradient(#ffffff, #a6c9fd 6px);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px 2px #666666;
  -moz-box-shadow: 0 0 2px 2px #666666;
  box-shadow: 0 0 2px 2px #666666;
  width: 0.6em;
  height: 0.6em;
}
/* line 217, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-checkbox {
  display: inline;
  float: right;
  position: relative;
  width: 75%;
}
/* line 221, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-checkbox input {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
/* line 226, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-checkbox label {
  position: relative;
  display: block;
  padding: 0.5em 0.5em 0.5em 2em;
  background: #FFF;
  font-size: 1.4em;
}
/* line 232, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-checkbox label .moo-ui-checkbox-icon {
  display: block;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  background-color: #CCC;
  border: 1px solid #999;
  width: 1em;
  height: 1em;
}
/* line 241, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-checkbox label .moo-ui-checkbox-icon.moo-active {
  background-color: #666;
}
/* line 243, ../_source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-ui-checkbox label .moo-ui-checkbox-icon.moo-active:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #bdd7fd));
  background: -webkit-linear-gradient(top, #ffffff, #bdd7fd);
  background: -moz-linear-gradient(top, #ffffff, #bdd7fd);
  background: -o-linear-gradient(top, #ffffff, #bdd7fd);
  background: -ms-linear-gradient(top, #ffffff, #bdd7fd);
  background: linear-gradient(top, #ffffff, #bdd7fd);
  -webkit-box-shadow: 0 0 2px 2px #666666;
  -moz-box-shadow: 0 0 2px 2px #666666;
  box-shadow: 0 0 2px 2px #666666;
  width: 0.6em;
  height: 0.6em;
}

/* line 4, ../_source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #888888), color-stop(65%, #bbbbbb));
  background-image: -webkit-linear-gradient(top, #888888, #bbbbbb 65%);
  background-image: -moz-linear-gradient(top, #888888, #bbbbbb 65%);
  background-image: -o-linear-gradient(top, #888888, #bbbbbb 65%);
  background-image: -ms-linear-gradient(top, #888888, #bbbbbb 65%);
  background-image: linear-gradient(top, #888888, #bbbbbb 65%);
  border: 1px solid #666;
  border-radius: 0.5em;
  display: inline;
  float: right;
  overflow: hidden;
  padding: 0.1em;
  width: 9em;
  height: 2.8em;
}
/* line 13, ../_source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch b {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
  background-image: -moz-linear-gradient(top, #ffffff, #dedede);
  background-image: -o-linear-gradient(top, #ffffff, #dedede);
  background-image: -ms-linear-gradient(top, #ffffff, #dedede);
  background-image: linear-gradient(top, #ffffff, #dedede);
  border: 1px solid #666;
  border-radius: 0.33em;
  display: block;
  position: relative;
  width: 1.9em;
  height: 100%;
  -webkit-transition-duration: .25s;
  -webkit-transform: translate3d(3.85em, 0, 0);
}
/* line 27, ../_source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch b:before {
  content: "I";
  border-radius: 0.35em 0 0 0.35em;
  color: #FFF;
  font-weight: 700;
  display: block;
  height: 100%;
  width: 4.15em;
  position: relative;
  top: 0;
  left: -4.15em;
  z-index: -1;
}
/* line 41, ../_source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch b:after {
  content: "O";
  line-height: 150%;
  border-radius: 0 0.35em 0.35em 0;
  color: #333;
  display: block;
  position: absolute;
  right: -4.15em;
  top: 0;
  height: 100%;
  width: 4.15em;
}
/* line 55, ../_source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch.moo-off {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(45%, #ffffff));
  background-image: -webkit-linear-gradient(top, #dddddd, #ffffff 45%);
  background-image: -moz-linear-gradient(top, #dddddd, #ffffff 45%);
  background-image: -o-linear-gradient(top, #dddddd, #ffffff 45%);
  background-image: -ms-linear-gradient(top, #dddddd, #ffffff 45%);
  background-image: linear-gradient(top, #dddddd, #ffffff 45%);
}
/* line 57, ../_source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch.moo-off b {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 2, ../_source/css/sass/_mootor.ui.tooltip.scss */
.moo_tooltip {
  position: absolute;
  background: white;
  border: 1px solid #f7f7f7;
  padding: 1em;
  text-align: center;
}

/* line 4, ../_source/css/sass/_mootor.ui.overlay.scss */
.moo-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
}
/* line 13, ../_source/css/sass/_mootor.ui.overlay.scss */
.moo-overlay.moo-hidden {
  display: none;
}

/*
* Loading animation 
* -----------------------------------------------------------------------------------------
*/
/*
* Editable styles
* Change this styles to position/resize the element as needed.
* 1. base (darkest) color. The gradient palette derives from this color.
* 2. Position of the center point of the animation. 
     Place wherever is needed, by default is in the center of its parent container.
* 3. The overall size of the loading is relative to this value.
* 4. Animation speed
*/
/*1*/
/* line 18, ../_source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading {
  position: absolute;
  /*2*/
  top: 50%;
  /*2*/
  left: 50%;
  /*2*/
  font-size: 1em;
  /*3*/
  -webkit-animation-duration: 1.5s;
  /*4*/
}

/*
* Base styles
*/
/* line 30, ../_source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading {
  width: 0;
  height: 0;
  z-index: 550;
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps(8, start);
}
/* line 38, ../_source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading.moo-hidden {
  display: none;
}
/* line 41, ../_source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-ui-loading-block {
  height: 3em;
  width: 1em;
  float: left;
  position: absolute;
  top: -1.5em;
  left: -0.5em;
}
/* line 49, ../_source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-01 {
  -webkit-transform: rotate(-90deg) translate(0, -3em);
  background-color: white;
}
/* line 53, ../_source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-02 {
  -webkit-transform: rotate(-45deg) translate(0, -3em);
  background-color: #dfdfdf;
}
/* line 57, ../_source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-03 {
  -webkit-transform: rotate(0deg) translate(0, -3em);
  background-color: #bfbfbf;
}
/* line 61, ../_source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-04 {
  -webkit-transform: rotate(45deg) translate(0, -3em);
  background-color: #9f9f9f;
}
/* line 65, ../_source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-05 {
  -webkit-transform: rotate(90deg) translate(0, -3em);
  background-color: gray;
}
/* line 69, ../_source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-06 {
  -webkit-transform: rotate(135deg) translate(0, -3em);
  background-color: #606060;
}
/* line 73, ../_source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-07 {
  -webkit-transform: rotate(180deg) translate(0, -3em);
  background-color: #404040;
}
/* line 77, ../_source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-08 {
  -webkit-transform: rotate(-135deg) translate(0, -3em);
  background-color: #202020;
}

@-webkit-keyframes rotateThis {
  /* line 84, ../_source/css/sass/_mootor.ui.loading.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 85, ../_source/css/sass/_mootor.ui.loading.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

/*
* Overlay Modal
*/
/* line 6, ../_source/css/sass/_mootor.ui.modal.scss */
.moo-ui-modal-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  z-index: 1050;
}
/* line 13, ../_source/css/sass/_mootor.ui.modal.scss */
.moo-ui-modal-placeholder.moo-hidden {
  display: none;
}

/* line 17, ../_source/css/sass/_mootor.ui.modal.scss */
.moo-ui-modal-container {
  background: #333;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #333;
  padding: 0.5em;
  position: relative;
  top: -10em;
  left: -15em;
  width: 31em;
  height: auto;
  z-index: 1500;
}
/* line 28, ../_source/css/sass/_mootor.ui.modal.scss */
.moo-ui-modal-container header {
  color: #FFF;
  text-shadow: #aaaaaa 0px 0px 1px;
}

/* line 33, ../_source/css/sass/_mootor.ui.modal.scss */
.moo-ui-modal-panel {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #FFF;
  width: 30em;
  overflow: hidden;
  padding: 5px;
  /* Pasar estos a estilos de botones genericos */
}
/* line 39, ../_source/css/sass/_mootor.ui.modal.scss */
.moo-ui-modal-panel .moo-title {
  color: #000;
  font-size: 2em;
  font-weight: 700;
  white-space: nowrap;
}
/* line 45, ../_source/css/sass/_mootor.ui.modal.scss */
.moo-ui-modal-panel .moo-text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 120%;
  padding: 0;
  margin: 0.5em;
}
/* line 54, ../_source/css/sass/_mootor.ui.modal.scss */
.moo-ui-modal-panel .moo-buttons {
  margin: 1.5em 0 0;
  overflow: hidden;
}
/* line 56, ../_source/css/sass/_mootor.ui.modal.scss */
.moo-ui-modal-panel .moo-ui-cancel,
.moo-ui-modal-panel .moo-ui-submit {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 200%;
  width: 49%;
}
/* line 63, ../_source/css/sass/_mootor.ui.modal.scss */
.moo-ui-modal-panel .moo-ui-cancel {
  display: inline;
  float: left;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background: -o-linear-gradient(top, #eeeeee, #cccccc);
  background: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #c1c1c1;
}
/* line 68, ../_source/css/sass/_mootor.ui.modal.scss */
.moo-ui-modal-panel .moo-ui-submit {
  display: inline;
  float: right;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #888888));
  background: -webkit-linear-gradient(top, #cccccc, #888888);
  background: -moz-linear-gradient(top, #cccccc, #888888);
  background: -o-linear-gradient(top, #cccccc, #888888);
  background: -ms-linear-gradient(top, #cccccc, #888888);
  background: linear-gradient(top, #cccccc, #888888);
  border: 1px solid #a1a1a1;
  color: #FFF;
}

/*
* Overlay Image
*/
/* line 6, ../_source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-container {
  background-color: #333;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 3px;
  position: absolute;
  top: 20%;
  left: 10%;
  min-width: 236px;
  max-width: 581px;
  width: 80%;
  height: auto;
  z-index: 800;
}
/* line 18, ../_source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-container header {
  padding: 4px;
  overflow: hidden;
}
/* line 21, ../_source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-container header a {
  color: #efefef;
  font-size: 1.2em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777777), color-stop(100%, #444444));
  background: -webkit-linear-gradient(top, #777777, #444444);
  background: -moz-linear-gradient(top, #777777, #444444);
  background: -o-linear-gradient(top, #777777, #444444);
  background: -ms-linear-gradient(top, #777777, #444444);
  background: linear-gradient(top, #777777, #444444);
  border: 1px solid #444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  float: right;
  margin: 0 2px;
  padding: 2px 4px;
}

/* line 36, ../_source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-panel {
  background-color: #FFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1000;
}
/* line 43, ../_source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-panel .moo-image-wrapper {
  display: inline;
  float: left;
  margin: 0.5em;
}
/* line 44, ../_source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-panel .moo-image {
  line-height: 1px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #eee;
  display: table-cell;
  margin: 2px;
  width: 105px;
  height: 105px;
}
/* line 53, ../_source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-panel .moo-image.moo-active {
  border: 2px solid #000;
}

/* line 17, src/styles.scss */
.moo-panel {
  background: #f7f7f7;
}

/* line 21, src/styles.scss */
.moo-header {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: bold;
  background: #333333;
  border: 1px solid #333333;
}
/* line 27, src/styles.scss */
.moo-header nav a {
  color: white;
  border: 0;
  font-size: 2em;
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 37, src/styles.scss */
nav a {
  font-size: 3em;
  color: black;
  border-bottom: 1px solid #f7f7f7;
  background: #f7f7f7;
  border-top: 1px solid #dddddd;
}

/* line 45, src/styles.scss */
.moo-nav.active {
  background: #29a6f7;
  color: white;
}

/* line 56, src/styles.scss */
.clearfix:before, .moo-ui-form:before, .moo-ui-form .moo-field:before,
.clearfix:after,
.moo-ui-form:after,
.moo-ui-form .moo-field:after {
  content: "";
  display: table;
}

/* line 60, src/styles.scss */
.clearfix:after, .moo-ui-form:after, .moo-ui-form .moo-field:after {
  clear: both;
}
