@charset "utf-8";
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 
 * Apply a natural box layout model to all elements 
 *
 * Useful for the padding does not change the height of the elements
 *
 */
/* line 7, src/_mootor/_mootor.nav.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, src/_mootor/_mootor.nav.scss */
body, html {
  height: 100%;
  background: #ff0000;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}

/* line 27, src/_mootor/_mootor.nav.scss */
.moo-header {
  text-align: left;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em 1em;
}
/* line 34, src/_mootor/_mootor.nav.scss */
.moo-header nav {
  position: absolute;
  margin-top: 0;
  top: 1.6em;
}
/* line 39, src/_mootor/_mootor.nav.scss */
.moo-header nav a {
  padding: .5em 1em;
  width: auto;
  display: inline;
  font-size: 1.5em;
}

/* line 49, src/_mootor/_mootor.nav.scss */
#panels {
  position: absolute;
  width: 100%;
  left: 0;
  min-height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background: #0000ff;
}
/* line 59, src/_mootor/_mootor.nav.scss */
#panels .moo-panel {
  min-height: 100%;
  width: 100%;
  position: absolute;
}

/* line 71, src/_mootor/_mootor.nav.scss */
nav ul,
nav ol {
  list-style: none;
}
/* line 75, src/_mootor/_mootor.nav.scss */
nav a {
  text-decoration: none;
  text-align: left;
  display: block;
  padding: 1em;
}

/* line 85, src/_mootor/_mootor.nav.scss */
#panels .moo-panel {
  -webkit-transition-duration: 0;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 93, src/_mootor/_mootor.nav.scss */
a,
a:hover,
a:focus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* line 4, src/_mootor/_mootor.ui.scss */
.moo-ui-form {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
}
/* line 12, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-field {
  display: block;
  padding: 1em 2em;
  border-top: 1px solid #CCC;
}
/* line 17, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-field:first-child {
  border-top: none;
}
/* line 18, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-field > label, .moo-ui-form .moo-field legend {
  display: inline;
  float: left;
  font-size: 2em;
  font-weight: 700;
  width: 25%;
}
/* line 25, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-text {
  display: inline;
  float: right;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #FFF;
  position: relative;
  padding: 0.25em 2.25em 0.25em 0.25em;
  width: 75%;
}
/* line 33, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-text input {
  -webkit-appearance: none;
  /* Remove default iOS shadow */
  border: none;
  background: none;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 100%;
}
/* line 42, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-textarea {
  display: inline;
  float: right;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #FFF;
  position: relative;
  padding: 0.25em;
  width: 75%;
}
/* line 50, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-textarea textarea {
  -webkit-appearance: none;
  /* Remove default iOS shadow */
  border: none;
  background: none;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 100%;
}
/* line 60, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container {
  display: inline;
  float: right;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #FFF;
  position: relative;
  padding: 0.25em 0.25em 0.25em 0.25em;
  width: 75%;
  height: 3em;
  z-index: 300;
}
/* line 70, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-link {
  color: #000;
  font-size: 1.25em;
  line-height: 2.25em;
  text-align: right;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 0 0.5em;
  position: relative;
  right: 0;
  z-index: 10;
}
/* line 82, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-link:after {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background: -moz-linear-gradient(top, #ffffff, #cccccc);
  background: -o-linear-gradient(top, #ffffff, #cccccc);
  background: -ms-linear-gradient(top, #ffffff, #cccccc);
  background: linear-gradient(top, #ffffff, #cccccc);
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  content: " ";
  display: block;
  position: absolute;
  top: -0.25em;
  right: -0.25em;
  width: 2.25em;
  height: 2.25em;
  z-index: -1;
}
/* line 99, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-menu {
  display: none;
  background-color: #999;
  border-radius: 5px;
  padding: 1em;
  position: absolute;
}
/* line 106, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-list {
  font-size: 2em;
  background: #FFF;
  border-radius: 5px;
  overflow-y: scroll;
}
/* line 112, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-list li {
  padding: 1em;
  border-bottom: 1px solid #CCC;
  white-space: nowrap;
}
/* line 116, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-list li:last-child {
  border: none;
}
/* line 117, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-list li.selected {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #daeaec), color-stop(100%, #cee3e6));
  background: -webkit-linear-gradient(top, #daeaec, #cee3e6);
  background: -moz-linear-gradient(top, #daeaec, #cee3e6);
  background: -o-linear-gradient(top, #daeaec, #cee3e6);
  background: -ms-linear-gradient(top, #daeaec, #cee3e6);
  background: linear-gradient(top, #daeaec, #cee3e6);
  border-top-color: #AEBBBD;
  border-bottom-color: #AEBBBD;
  color: #3F8D94;
}
/* line 126, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container.bottom .moo-ui-select-menu {
  top: 4.5em;
}
/* line 128, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container.bottom .moo-ui-select-menu:before {
  content: "";
  display: block;
  position: absolute;
  top: -3em;
  left: 25%;
  border-top: 15px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #999;
}
/* line 142, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container.top .moo-ui-select-menu {
  bottom: 4.5em;
}
/* line 144, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container.top .moo-ui-select-menu:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3em;
  left: 25%;
  border-bottom: 1.5em solid transparent;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-top: 1.5em solid #999;
}
/* line 158, src/_mootor/_mootor.ui.scss */
.moo-ui-form .cleanbox {
  display: block;
  padding: 0.35em;
  position: absolute;
  top: 0;
  right: 0;
  color: #666;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
}
/* line 169, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-radio {
  display: inline;
  float: right;
  position: relative;
  width: 75%;
}
/* line 173, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-radio input {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
/* line 178, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-radio label {
  position: relative;
  display: block;
  padding: 0.5em 0.5em 0.5em 2em;
  background: #FFF;
  font-size: 1.4em;
}
/* line 184, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-radio label .moo-ui-radio-icon {
  display: block;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  background-color: #CCC;
  border: 1px solid #999;
  border-radius: 8px;
  width: 1em;
  height: 1em;
}
/* line 194, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-radio label .moo-ui-radio-icon.moo-radio-active {
  background-color: #666;
}
/* line 196, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-radio label .moo-ui-radio-icon.moo-radio-active:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 6, color-stop(0%, #ffffff), color-stop(100%, #a6c9fd));
  background: -webkit-radial-gradient(#ffffff, #a6c9fd 6px);
  background: -moz-radial-gradient(#ffffff, #a6c9fd 6px);
  background: -o-radial-gradient(#ffffff, #a6c9fd 6px);
  background: -ms-radial-gradient(#ffffff, #a6c9fd 6px);
  background: radial-gradient(#ffffff, #a6c9fd 6px);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px 2px #666666;
  -moz-box-shadow: 0 0 2px 2px #666666;
  box-shadow: 0 0 2px 2px #666666;
  width: 0.6em;
  height: 0.6em;
}
/* line 212, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-checkbox {
  display: inline;
  float: right;
  position: relative;
  width: 75%;
}
/* line 216, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-checkbox input {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
/* line 221, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-checkbox label {
  position: relative;
  display: block;
  padding: 0.5em 0.5em 0.5em 2em;
  background: #FFF;
  font-size: 1.4em;
}
/* line 227, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-checkbox label .moo-ui-checkbox-icon {
  display: block;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  background-color: #CCC;
  border: 1px solid #999;
  width: 1em;
  height: 1em;
}
/* line 236, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-checkbox label .moo-ui-checkbox-icon.moo-checkbox-active {
  background-color: #666;
}
/* line 238, src/_mootor/_mootor.ui.scss */
.moo-ui-form .moo-ui-checkbox label .moo-ui-checkbox-icon.moo-checkbox-active:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #bdd7fd));
  background: -webkit-linear-gradient(top, #ffffff, #bdd7fd);
  background: -moz-linear-gradient(top, #ffffff, #bdd7fd);
  background: -o-linear-gradient(top, #ffffff, #bdd7fd);
  background: -ms-linear-gradient(top, #ffffff, #bdd7fd);
  background: linear-gradient(top, #ffffff, #bdd7fd);
  -webkit-box-shadow: 0 0 2px 2px #666666;
  -moz-box-shadow: 0 0 2px 2px #666666;
  box-shadow: 0 0 2px 2px #666666;
  width: 0.6em;
  height: 0.6em;
}

/* line 258, src/_mootor/_mootor.ui.scss */
.moo_checkbox {
  display: block;
  height: 28px;
  width: 94px;
  overflow: hidden;
  float: right;
}
/* line 265, src/_mootor/_mootor.ui.scss */
.moo_checkbox b {
  -webkit-transition-duration: .25s;
  background: url(../img/ui/switch.png);
  height: 28px;
  width: 149px;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 274, src/_mootor/_mootor.ui.scss */
.moo_checkbox.off b {
  -webkit-transform: translate3d(-54px, 0, 0);
}
/* line 277, src/_mootor/_mootor.ui.scss */
.moo_checkbox label {
  line-height: 28px;
}

/* line 283, src/_mootor/_mootor.ui.scss */
.moo_tooltip {
  position: absolute;
  line-height: 140%;
  font-size: 2.3em;
  background: white;
  border: 1px solid #f7f7f7;
  padding: 1em;
  text-align: center;
}

/* For modern browsers */
/* line 22, src/styles.scss */
.clearfix:before, .moo-ui-form:before, .moo-ui-form .moo-field:before,
.clearfix:after,
.moo-ui-form:after,
.moo-ui-form .moo-field:after {
  content: "";
  display: table;
}

/* line 27, src/styles.scss */
.clearfix:after, .moo-ui-form:after, .moo-ui-form .moo-field:after {
  clear: both;
}

/* line 34, src/styles.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  text-align: center;
}

/* line 40, src/styles.scss */
h1 {
  line-height: 140%;
  font-size: 2.3em;
  text-align: center;
  font-size: 2.6em;
  letter-spacing: -0.07em;
}

/* line 47, src/styles.scss */
h2 {
  line-height: 140%;
  font-size: 7em;
  letter-spacing: -0.1em;
}

/* line 51, src/styles.scss */
h3 {
  line-height: 140%;
  font-size: 3em;
}

/* line 56, src/styles.scss */
p {
  line-height: 140%;
  font-size: 3em;
  text-align: justify;
  padding: 1em;
  line-height: 150%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Droid Serif", serif;
  letter-spacing: 0;
}

/* line 63, src/styles.scss */
.moo-panel {
  background: #f7f7f7;
}

/* line 67, src/styles.scss */
.moo-header {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: bold;
  background: #333333;
  border: 1px solid #333333;
}
/* line 73, src/styles.scss */
.moo-header nav a {
  color: white;
  border: 0;
  font-size: 2em;
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 81, src/styles.scss */
.moo-header h1 {
  line-height: 140%;
  font-size: 2.3em;
  text-align: center;
  font-size: 2.6em;
  letter-spacing: -0.07em;
}

/* line 89, src/styles.scss */
nav a {
  font-size: 3em;
  color: black;
  border-bottom: 1px solid #f7f7f7;
  background: #f7f7f7;
  border-top: 1px solid #dddddd;
}

/* line 97, src/styles.scss */
.moo-nav.active {
  background: #29a6f7;
  color: white;
}
