/* line 17, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 
 * Apply a natural box layout model to all elements 
 *
 * Useful for the padding does not change the height of the elements
 *
 */
/* line 7, ../_source/css/sass/_mootor.nav.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../_source/css/sass/_mootor.nav.scss */
body {
  height: 100%;
}

/* line 21, ../_source/css/sass/_mootor.nav.scss */
.moo-header {
  text-align: left;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em 1em;
}
/* line 28, ../_source/css/sass/_mootor.nav.scss */
.moo-header nav {
  position: absolute;
  margin-top: 0;
  top: 1.6em;
}
/* line 33, ../_source/css/sass/_mootor.nav.scss */
.moo-header nav a {
  padding: .5em 1em;
  width: auto;
  display: inline;
  font-size: 1.5em;
}

/* line 43, ../_source/css/sass/_mootor.nav.scss */
#panels {
  position: absolute;
  width: 100%;
  left: 0;
  min-height: 100%;
}
/* line 48, ../_source/css/sass/_mootor.nav.scss */
#panels .moo-panel {
  min-height: 100%;
  width: 100%;
  position: absolute;
}

/* line 60, ../_source/css/sass/_mootor.nav.scss */
nav ul,
nav ol {
  list-style: none;
}
/* line 64, ../_source/css/sass/_mootor.nav.scss */
nav a {
  text-decoration: none;
  text-align: left;
  display: block;
  padding: 1em;
}

/* line 74, ../_source/css/sass/_mootor.nav.scss */
#panels .moo-panel {
  -webkit-transition-duration: 0;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 82, ../_source/css/sass/_mootor.nav.scss */
a,
a:hover,
a:focus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* line 4, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
}
/* line 13, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-field {
  display: block;
  padding: 1em 2em;
  border-top: 1px solid #CCC;
}
/* line 19, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-field:first-child {
  border-top: none;
}
/* line 21, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form label {
  display: inline;
  float: left;
  font-size: 2em;
  font-weight: 700;
  width: 25%;
}
/* line 27, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-text {
  display: inline;
  float: right;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #FFF;
  position: relative;
  padding: 0.25em 2.25em 0.25em 0.25em;
  width: 75%;
}
/* line 35, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-text input {
  -webkit-appearance: none;
  /* Remove default iOS shadow */
  border: none;
  background: none;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 100%;
}
/* line 44, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-textarea {
  display: inline;
  float: right;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #FFF;
  position: relative;
  padding: 0.25em;
  width: 75%;
}
/* line 52, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-textarea textarea {
  -webkit-appearance: none;
  /* Remove default iOS shadow */
  border: none;
  background: none;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 100%;
}
/* line 62, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container {
  display: inline;
  float: right;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #FFF;
  position: relative;
  padding: 0.25em 0.25em 0.25em 0.25em;
  width: 75%;
  height: 3em;
}
/* line 71, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-link {
  color: #000;
  font-size: 1.25em;
  line-height: 2.25em;
  text-align: right;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 0 1em;
  position: relative;
  right: 0;
}
/* line 82, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-link:before {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background: -moz-linear-gradient(top, #ffffff, #cccccc);
  background: -o-linear-gradient(top, #ffffff, #cccccc);
  background: -ms-linear-gradient(top, #ffffff, #cccccc);
  background: linear-gradient(top, #ffffff, #cccccc);
  content: " ";
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 2.5em;
  height: 2.5em;
}
/* line 94, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-menu {
  background-color: #999;
  border-radius: 5px;
  padding: 1em;
  position: absolute;
}
/* line 100, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-list {
  font-size: 2em;
  background: #FFF;
  border-radius: 5px;
  overflow: auto;
}
/* line 106, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-list li {
  padding: 1em;
  border-bottom: 1px solid #CCC;
}
/* line 109, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container .moo-ui-select-list li:last-child {
  border: none;
}
/* line 113, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container.bottom .moo-ui-select-menu {
  top: 4.5em;
}
/* line 115, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container.bottom .moo-ui-select-menu:before {
  content: "";
  display: block;
  position: absolute;
  top: -3em;
  left: 25%;
  border-top: 15px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #999;
}
/* line 129, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container.top .moo-ui-select-menu {
  bottom: 4.5em;
}
/* line 131, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .moo-ui-select-container.top .moo-ui-select-menu:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3em;
  left: 25%;
  border-bottom: 1.5em solid transparent;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-top: 1.5em solid #999;
}
/* line 145, ../_source/css/sass/_mootor.ui.scss */
.moo-ui-form .cleanbox {
  display: block;
  padding: 0.35em;
  position: absolute;
  top: 0;
  right: 0;
  color: #666;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
}

/* line 161, ../_source/css/sass/_mootor.ui.scss */
.moo_checkbox {
  display: block;
  height: 28px;
  width: 94px;
  overflow: hidden;
  float: right;
}
/* line 168, ../_source/css/sass/_mootor.ui.scss */
.moo_checkbox b {
  -webkit-transition-duration: .25s;
  background: url(../img/ui/switch.png);
  height: 28px;
  width: 149px;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 177, ../_source/css/sass/_mootor.ui.scss */
.moo_checkbox.off b {
  -webkit-transform: translate3d(-54px, 0, 0);
}
/* line 180, ../_source/css/sass/_mootor.ui.scss */
.moo_checkbox label {
  line-height: 28px;
}

/* line 186, ../_source/css/sass/_mootor.ui.scss */
.moo_tooltip {
  position: absolute;
  line-height: 140%;
  font-size: 2.3em;
  background: white;
  border: 1px solid #f7f7f7;
  padding: 1em;
  text-align: center;
}

/* For modern browsers */
/* line 22, src/styles.scss */
.clearfix:before, .moo-ui-form:before, .moo-ui-form .moo-field:before,
.clearfix:after,
.moo-ui-form:after,
.moo-ui-form .moo-field:after {
  content: "";
  display: table;
}

/* line 27, src/styles.scss */
.clearfix:after, .moo-ui-form:after, .moo-ui-form .moo-field:after {
  clear: both;
}

/* line 34, src/styles.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  text-align: center;
  background: #000;
}

/* line 41, src/styles.scss */
h1 {
  line-height: 140%;
  font-size: 2.3em;
  text-align: center;
  font-size: 2.6em;
  letter-spacing: -0.07em;
}

/* line 48, src/styles.scss */
h2 {
  line-height: 140%;
  font-size: 7em;
  letter-spacing: -0.1em;
}

/* line 52, src/styles.scss */
h3 {
  line-height: 140%;
  font-size: 3em;
}

/* line 57, src/styles.scss */
p {
  line-height: 140%;
  font-size: 3em;
  text-align: justify;
  padding: 1em;
  line-height: 150%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Droid Serif", serif;
  letter-spacing: 0;
}

/* line 64, src/styles.scss */
.moo-panel {
  background: #f7f7f7;
}

/* line 68, src/styles.scss */
.moo-header {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: bold;
  background: #333333;
  border: 1px solid #333333;
}
/* line 74, src/styles.scss */
.moo-header nav a {
  color: white;
  border: 0;
  font-size: 2em;
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 82, src/styles.scss */
.moo-header h1 {
  line-height: 140%;
  font-size: 2.3em;
  text-align: center;
  font-size: 2.6em;
  letter-spacing: -0.07em;
}

/* line 90, src/styles.scss */
nav a {
  font-size: 3em;
  color: black;
  border-bottom: 1px solid #f7f7f7;
  background: #f7f7f7;
  border-top: 1px solid #dddddd;
}

/* line 98, src/styles.scss */
.moo-nav.active {
  background: #29a6f7;
  color: white;
}
