<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>Titulo</title>
  <base href='/' />
  <link href='static/css/styles.css' media='screen' rel='stylesheet' />
  <meta content='width=device-width, initial-scale = 1.0,maximum-scale = 1.0' name='viewport' />
  <script type='text/javascript'>
    //<![CDATA[
      var updatevp = function(){
          /*
           *  TODO: revisar y optimizar el calculo 
           */
          var fontSize = window.innerWidth / 10 + (window.innerHeight / 40);
          if( typeof(document.body) != null) {
              if(fontSize < 105 && fontSize > 20) {
                document.body.style.fontSize=fontSize + "%";
              }
          }
      }       
      window.onload=updatevp;
      window.onresize=updatevp;
    //]]>
  </script>
</head>
