<ul class="icon-grid icon-grid-small">
    <li>
        <span class="m-icon-ok-circle-small"></span>
    </li>
    <li>
        <span class="m-icon-add-circle-small"></span>
    </li>
    <li>
        <span class="m-icon-add-small"></span>
    </li>
    <li>
        <span class="m-icon-attention-small"></span>
    </li>
</ul>

<ul class="icon-grid">
    <li>
        <span class="m-icon-ok-circle"></span>
    </li>
    <li>
        <span class="m-icon-add-circle"></span>
    </li>
    <li>
        <span class="m-icon-add"></span>
    </li>
    <li>
        <span class="m-icon-attention"></span>
    </li>
</ul>

<ul class="icon-grid icon-grid-large">
    <li>
        <span class="m-icon-ok-circle-large"></span>
    </li>
    <li>
        <span class="m-icon-add-circle-large"></span>
    </li>
    <li>
        <span class="m-icon-add-large"></span>
    </li>
    <li>
        <span class="m-icon-attention-large"></span>
    </li>
</ul>


