<div class='moo-ui-image-container'>
  <header>
    <a class='moo-ui-add-new' id='takePicture'>Take a picture</a>
    <a class='moo-ui-add-filed' id='choosePicture'>Choose a picture</a>
    <a class='moo-ui-delete'>Delete selected</a>
  </header>
  <div class='moo-ui-image-panel'>
    <ul class='moo-image-list'>
      <li class='moo-image-wrapper'>
        <div class='moo-image'>
          <img alt='image 1' id='myImage' src='img/tmp/sample1.jpg' />
        </div>
      </li>
      <li class='moo-image-wrapper'>
        <div class='moo-image'>
          <img alt='image 2' src='img/tmp/sample2.jpg' />
        </div>
      </li>
      <li class='moo-image-wrapper'>
        <div class='moo-image moo-active'>
          <img alt='image 3' src='img/tmp/sample3.jpg' />
        </div>
      </li>
      <li class='moo-image-wrapper'>
        <div class='moo-image'>
          <img alt='image 4' src='img/tmp/sample4.jpg' />
        </div>
      </li>
      <li class='moo-image-wrapper'>
        <div class='moo-image'>
          <img alt='image 5' src='img/tmp/sample5.jpg' />
        </div>
      </li>
      <li class='moo-image-wrapper'>
        <div class='moo-image'>
          <img alt='image 1' src='img/tmp/sample1.jpg' />
        </div>
      </li>
      <li class='moo-image-wrapper'>
        <div class='moo-image'>
          <img alt='image 2' src='img/tmp/sample2.jpg' />
        </div>
      </li>
      <li class='moo-image-wrapper'>
        <div class='moo-image moo-active'>
          <img alt='image 3' src='img/tmp/sample3.jpg' />
        </div>
      </li>
      <li class='moo-image-wrapper'>
        <div class='moo-image'>
          <img alt='image 4' src='img/tmp/sample4.jpg' />
        </div>
      </li>
      <li class='moo-image-wrapper'>
        <div class='moo-image'>
          <img alt='image 5' src='img/tmp/sample5.jpg' />
        </div>
      </li>
    </ul>
  </div>
</div>
