!!! XML
!!!
%head
    %title Subscripción
    %base{:href=>"/ufront/"}
    %meta{:name=>"viewport", :content=>"initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}
    %link{:href=>"css/styles.css", :media=>"screen",  :rel=>"stylesheet"}
    %script{:src=>"js/mootor.js",:type=>"text/javascript"}
%body.main

    #header
        / header content

    #panels

        .panel#home
            .nav#nav
                %li
                    %a{:href=>"", :rel=>"carousel"} Carousel
                %li
                    %a{:href=>"", :rel=>"geo"} Geo
                %li
                    %a{:href=>"", :rel=>"video"} Video
                %li
                    %a{:href=>"", :rel=>"audio"} Audio
                %li
                    %a{:href=>"", :rel=>"form"} Form
                %li
                    %a{:href=>"", :rel=>"graph"} Graph

        .panel#carousel
            %div
                %h2 Carousel
                %h3 This module is not implemented yet.
                %h3
                    %a{:href=>"", :rel=>"home"} < Back

        .panel#geo
            %div
                %h2 Geo
                %h3
                    %a{:href=>"", :rel=>"home"} < Back

        .panel#video
            %div
                %h2 Video
                %h3 This module is not implemented yet.
                %h3
                    %a{:href=>"", :rel=>"home"} < Back
                
        .panel#audio
            %div
                %h2 Audio
                %h3 This module is not implemented yet.
                %h3
                    %a{:href=>"", :rel=>"home"} < Back

        .panel#form
            %h3
                %a{:href=>"", :rel=>"home"} < Back
            .subscribe
                %h2 Form
                %h3 Subscribe to receive news about this product!
                %form.form#suscribeForm
                    .field.text
                        %input#fieldEmail{:type=>"text",:value=>"e-mail"}
                    .action.subscribe
                        %input#suscribeBtn{:type=>"submit",:value=>"Subscribe"} 

        .panel#graph
            %div
                %h2 Graph
                %h3 This module is not implemented yet.
                %h3
                    %a{:href=>"", :rel=>"home"} < Back
 
:javascript    

       $(document).ready(function(){
       
           // Cache query for performance
           var panels = $("#panels");

           // Dynamic font size
           panels.dynamicType();

           // Navigation panels
           panels.panels();
       
       });


