!!! XML
!!!
%head
    %title Subscripción
    %base{:href=>"/ufront/"}
    %meta{:name=>"viewport", :content=>"initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}
    %link{:href=>"css/styles.css", :media=>"screen",  :rel=>"stylesheet"}
    %script{:src=>"js/mootor.js",:type=>"text/javascript"}
%body.main 
    #panels

        .panel
            .content
                %h2 Pink Floyd
                %h3 1965 - 1995

        .panel
            %div
                %img{:src=>"http://192.168.1.11/ucore/uploads/products/1.jpg"}

        .panel
            %div
                %img{:src=>"http://192.168.1.11/ucore/uploads/products/2.jpg"}

        .panel
            %div
                %img{:src=>"http://192.168.1.11/ucore/uploads/products/3.jpg"}

        .panel
            %div
                %img{:src=>"http://192.168.1.11/ucore/uploads/products/4.jpg"}


        .panel
            .subscribe
                %h2 &iexcl;Subscribite! 
                %h3 y te enviaremos novedades una vez por mes, no molestamos :)
                %form.form#suscribeForm
                    .field.text
                        %input#fieldEmail{:type=>"text",:value=>"correo electrónico"}
                    .action.subscribe
                        %input#suscribeBtn{:type=>"submit",:value=>"Suscribirse"} 
 
:javascript    

       $(document).ready(function(){
       
           // Cache query for performance
           var panels = $("#panels");

           // Dynamic font size
           panels.dynamicType();

           // Navigation panels
           panels.panels();
       
       });


