!!! XML
!!!
%head
    %title Subscripción
    %base{:href=>"/ufront/"}
    %meta{:name=>"viewport", :content=>"initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}
    %link{:href=>"css/styles.css", :media=>"screen",  :rel=>"stylesheet"}
    %script{:src=>"js/mootor.js",:type=>"text/javascript"}
%body.main 
    #panels

        .panel#home
            .content
                %h2 Pink Floyd
                %h3 1965 - 1995
                %a{:href=>"", :rel=>"form"} Subscripcion
                %a{:href=>"", :rel=>"panel1"} Siguiente

        .panel#panel1
            %div
                %a{:href=>"", :rel=>"panel2"} Siguiente
                %img{:src=>"upload/products/1.jpg"}

        .panel#panel2
            %div
                %a{:href=>"", :rel=>"panel3"} Siguiente
                %img{:src=>"upload/products/2.jpg"}

        .panel#panel3
            %div
                %a{:href=>"", :rel=>"panel4"} Siguiente
                %img{:src=>"upload/products/3.jpg"}

        .panel#panel4
            %div
                %a{:href=>"", :rel=>"form"} Siguiente
                %img{:src=>"upload/products/4.jpg"}


        .panel#form
            %a{:href=>"", :rel=>"home"} Inicio
            .subscribe
                %h2 &iexcl;Subscribite! 
                %h3 y te enviaremos novedades una vez por mes, no molestamos :)
                %form.form#suscribeForm
                    .field.text
                        %input#fieldEmail{:type=>"text",:value=>"correo electrónico"}
                    .action.subscribe
                        %input#suscribeBtn{:type=>"submit",:value=>"Suscribirse"} 
 
:javascript    

       $(document).ready(function(){
       
           // Cache query for performance
           var panels = $("#panels");

           // Dynamic font size
           panels.dynamicType();

           // Navigation panels
           panels.panels();
       
       });


