!!! 5
%head
    %title Mootor demo
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}
    %link{:href=>"css/styles.css", :media=>"screen",  :rel=>"stylesheet"}
    %script{:src=>"js/mootor.js",:type=>"text/javascript"}
    %script{:src=>"js/plugins/nav.js",:type=>"text/javascript"}
    %script{:src=>"js/plugins/app.js",:type=>"text/javascript"}
%body.main

    %header#header.moo-header
        %h1 Mootor demo
        %nav
            %a.moo-nav-back{:href=>"", :rel=>"back"} Back

    #panels    
        .moo-panel#home
            %nav
                %a.moo-nav{:href=>"", :rel=>"nav"} Nav
                %a.moo-nav{:href=>"", :rel=>"ui"} UI
                %a.moo-nav{:href=>"", :rel=>"geolocalization"} Geolocalization
                %a.moo-nav{:href=>"", :rel=>"data"} Data
                %a.moo-nav{:href=>"", :rel=>"graph"} Graph
                %a.moo-nav{:href=>"", :rel=>"carousel"} Carousel
                    
        .moo-panel#ui
        .moo-panel#nav
        .moo-panel#item1
        .moo-panel#item2
        .moo-panel#geolocalization
            %h2 Geolocalization
            %h3 This module is not activated. See $.geolocation

        .moo-panel#data
            %h2 Data
            %h3 This module is not implemented yet.

        .moo-panel#graph
            %h2 Graph
            %h3 This module is not implemented yet.
 
        .moo-panel#carousel
            %h2 Carousel
            %h3 This module is not implemented yet.

:javascript    

       $(document).ready(function(){
       
           // Application & Navigation panels
           $.app({
               views: [
                    "ui",
                    "nav",
                    "item1",
                    "item2"
               ],
               nav: $("#panels").nav()
           });
                                  
       });
