!!! 5
%head
    %title Mootor demo
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}
    %link{:href=>"css/styles.css", :media=>"screen",  :rel=>"stylesheet"}
    %script{:src=>"js/mootor.js",:type=>"text/javascript"}
    %script{:src=>"js/plugins/ui.js",:type=>"text/javascript"}
    %script{:src=>"phonegap/cordova-1.9.0.js",:type=>"text/javascript"}
    
%body.main

    %header#moo-header.moo-header
        %h1 Mootor
        %nav
            %a.moo-nav-back{:href=>"", :rel=>"back"} Back

    #panels    
        .moo-panel#home
            %nav
                %a.moo-nav{:href=>"", :rel=>"nav"} Nav
                %a.moo-nav{:href=>"", :rel=>"ui"} UI
                %a.moo-nav{:href=>"", :rel=>"camera"} Camera
                    
        .moo-panel#ui
        .moo-panel#nav
        .moo-panel#item1
        .moo-panel#item2        
        .moo-panel#camera

:javascript    

       $(document).ready(function(){
       
           "use strict";
           
           $.require("js/plugins/nav.js", function() {
       
               // Navigation panels
               var myNav = $("#panels").nav();
           
               // Application
               $.require("js/plugins/app.js", function() {
               
                   var myApp = $.app({
                       views: [
                            "ui",
                            "nav",
                            "item1",
                            "item2",
                            "picture"
                       ],
                       nav: myNav
                   });
                   
                   myApp.load( myApp.views[0], {
                       nav: myNav.get("ui")
                   });
               });
                   
          });
       });
