/*
 * Color
 */

// Swatches
$blue-main: #2C3E50;
$blue-dark: #2C3E50;
$blue-light: #2C3E50;
$light-neutral: #F9F8F6;
$dark-neutral: #3B474C;
$dark-grey: #333;
$light-grey: #f1f1f1;
$white: #fff;

// Main palette
$color-main: $blue-main;
$color-accent: $blue-light;

// Text
$color-text-main: lighten($dark-neutral, 25%);
$color-text-alt: lighten($dark-neutral, 25%);
$color-text-titles: $dark-neutral;
$color-text-strong: $dark-grey;

/*
 * Mootor
 */ 

// mootor.ui.list
$img-background-color: $white;
$img-border-color: $light-grey;

// mootor.nav.header
$nav-header-background: $blue-dark;

/*
 * Example app styles
 */

.blue {
    background: #00d;
}
