%form.moo-ui-form{:action=>"", :method=>"post"}
    .moo-field
        %label Switch
        %input#moo-ui-switch-1{:type=>"checkbox", :name=>"switch1" ,:value=>"1"}  

    .moo-field
        %label Text
        %input#moo-ui-text-1{:type=>"text", :name=>"text1" ,:placeholder=>"Ingrese su texto aqui"}
       
    .moo-field
        %label TextArea
        %textarea#moo-ui-textarea-1{:name=>"textarea1" ,:placeholder=>"Ingrese su texto aqui"}

    .moo-field
        %label Select
        %select#moo-ui-select-1
            %option{:value=>"100"} Item 1
            %option{:value=>"200"} This is some other item listed
            %option{:value=>"300"} Third item
            %option{:value=>"400"} some random item
            %option{:value=>"500"} Item 1
            %option{:value=>"600"} This is some other item listed
            %option{:value=>"700"} Third item
            %option{:value=>"800"} Item 1
            %option{:value=>"900"} This is some other item listed
            %option{:value=>"1000"} Third item
            %option{:value=>"1100"} Item 1
            %option{:value=>"1200"} This is some other item listed
            %option{:value=>"1300"} Third item

    .moo-field
        %legend 
            Radio
        %fieldset#moo-ui-radio-1
            %label{:for=>"radio0"} Option 0
            %input{:type=>"radio", :name=>"radios", :id=>"radio0" ,:value=>"0"}
            %label{:for=>"radio1"} Option 1
            %input{:type=>"radio", :name=>"radios", :id=>"radio1" ,:value=>"1"}
            %label{:for=>"radio2"} Option 2
            %input{:type=>"radio", :name=>"radios", :id=>"radio2" ,:value=>"2"}
            %label{:for=>"radio3"} Option 3
            %input{:type=>"radio", :name=>"radios", :id=>"radio3" ,:value=>"3"}
       
    
    .moo-field
        %legend 
            Checkbox
        %fieldset#moo-ui-checkbox-1
            .moo-ui-checkbox
                %label{:for=>"check1"} Option 1
                %input#check1{:type=>"checkbox", :name=>"checkboxes" ,:value=>"0"}
            .moo-ui-checkbox
                %label{:for=>"check2"} Option 2
                %input#check2{:type=>"checkbox", :name=>"checkboxes" ,:value=>"1"}
            .moo-ui-checkbox
                %label{:for=>"check3"} Option 3
                %input#check3{:type=>"checkbox", :name=>"checkboxes" ,:value=>"2"}
                            