<form action='' class='moo-ui-form' method='post'>
  <div class='moo-field'>
    <label>Switch</label>
    <div class='moo-ui-switch' id='moo-ui-switch-1'>
      <input name='switch1' type='checkbox' value='1' />
    </div>
  </div>
  <div class='moo-field'>
    <label>Text</label>
    <div class='moo-ui-text' id='moo-ui-text-1'>
      <input name='text1' placeholder='Ingrese su texto aqui' type='text' />
    </div>
  </div>
  <div class='moo-field'>
    <label>TextArea</label>
    <div class='moo-ui-textarea'>
      <textarea id='moo-ui-textarea-1' name='textarea1' placeholder='Ingrese su texto aqui'></textarea>
    </div>
  </div>
  <div class='moo-field'>
    <label>Select</label>
    <select id='moo-ui-select-1'>
      <option value='100'>Item 1</option>
      <option value='200'>This is some other item listed</option>
      <option value='300'>Third item</option>
      <option value='400'>some random item</option>
      <option value='500'>Item 1</option>
      <option value='600'>This is some other item listed</option>
      <option value='700'>Third item</option>
      <option value='800'>Item 1</option>
      <option value='900'>This is some other item listed</option>
      <option value='1000'>Third item</option>
      <option value='1100'>Item 1</option>
      <option value='1200'>This is some other item listed</option>
      <option value='1300'>Third item</option>
    </select>
  </div>
  <div class='moo-field'>
    <label>MultipleSelect</label>
    <select id='moo-ui-select-multiple-1'>
      <option value='300'>Item 1</option>
      <option value='200'>This is some other item listed</option>
      <option value='400'>Third item</option>
      <option value='450'>some random item</option>
      <option value='500'>Item 1</option>
      <option value='600'>This is some other item listed</option>
      <option value='700'>Third item</option>
      <option value='800'>Item 1</option>
      <option value='900'>This is some other item listed</option>
    </select>
  </div>
  <div class='moo-field'>
    <legend>
      Radio
    </legend>
    <fieldset id='moo-ui-radio-1'>
      <label for='radio0'>Option 0</label>
      <input id='radio0' name='radios' type='radio' value='0' />
      <label for='radio1'>Option 1</label>
      <input id='radio1' name='radios' type='radio' value='1' />
      <label for='radio2'>Option 2</label>
      <input id='radio2' name='radios' type='radio' value='2' />
      <label for='radio3'>Option 3</label>
      <input id='radio3' name='radios' type='radio' value='3' />
    </fieldset>
  </div>
  <div class='moo-field'>
    <legend>
      Checkbox
    </legend>
    <fieldset id='moo-ui-checkbox-1'>
      <div class='moo-ui-checkbox'>
        <label for='check1'>Option 1</label>
        <input id='check1' name='checkboxes' type='checkbox' value='0' />
      </div>
      <div class='moo-ui-checkbox'>
        <label for='check2'>Option 2</label>
        <input id='check2' name='checkboxes' type='checkbox' value='1' />
      </div>
      <div class='moo-ui-checkbox'>
        <label for='check3'>Option 3</label>
        <input id='check3' name='checkboxes' type='checkbox' value='2' />
      </div>
    </fieldset>
  </div>
  <div class='moo-field'>
    <label>Tooltip</label>
    <div id='radiobtn'>
      <span id='tooltipTest'>Show me the tooltip!</span>
    </div>
  </div>
</form>
