$checkbox-background-color: darken($color-bg-main, 10%);
$checkbox-border-color: lighten($color-border-main, 40%);

.moo-ui-checkbox-icon {
    display: block;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    background-color: #CCC;
    border: 1px solid #999;
    width: 1em;
    height: 1em;
}
.moo-ui-checkbox {
    position: relative;
    input { 
        position:absolute;
        top: 0.5em;
        left: 0.5em;
    }
    label {
        position: relative;
        display: block;
        padding: 0.5em 0.5em 0.5em 2em;
        background: #FFF;
        font-size: 1.4em; 
    }
    &.moo-active {
        .moo-ui-checkbox-icon {
            background-color: #666;
            &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 0.2em;
                left: 0.2em;
                @include background(linear-gradient(top, #FFF, #BDD7FD));
                @include single-box-shadow(#666, 0, 0, 2px, 2px);
                width:0.6em;
                height: 0.6em;
            }
        }
    }
}
