/*
 * Form
 */

@import "compass/utilities";
@import "compass/css3";

$color-border-forms: $color-light-grey !default;
$color-bg-forms: $color-white !default;
$color-label-forms:  lighten($color-text-action, 4%) !default;
$color-border-forms-inputs: $color-border-forms !default;
$moo-ui-form-classname: ".moo-ui-form" !default;
$border-radius-forms: 5px !default;
$padding-forms: 1em !default;
$ui-form-input-border-width: 1px !default;
$ui-form-width: auto !default;
$ui-form-input-border-radius: 5px !default;
$ui-form-input-background: $color-white !default;
$ui-form-margin: 5em 1em !default;
$ui-form-field-margin: 0 0 1em 0 !default;

@mixin moo-ui-form(
    $class: $moo-ui-form-classname
) {
    #{$class} {
        
        width: $ui-form-width; 
        margin: $ui-form-margin;
        background-color: $color-bg-forms;
        border: 1px solid $color-border-forms;
        border-radius: $border-radius-forms;            
        padding: $padding-forms;
        
        .moo-field {
            text-align: left;   
            margin: $ui-form-field-margin;
            legend, label {
                font-size: 2em;
                margin-bottom: 1em;
            }         
        }

        // FIXME CHECK
        .moo-ui-input {
            -webkit-appearance: none;  /* Remove default iOS shadow */
            // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            border: none;
            background: none;
            font-size: 1.5em;
            line-height: 1.5em;
            width: 100%;
            &:focus {
                border: rgba(0, 0, 0, 0) none;
            }        
        }
        .moo-ui-input-container {
             border-style: solid;
             border-color: $color-border-forms-inputs;
             border-width: $ui-form-input-border-width;
             border-radius: $ui-form-input-border-radius;
             background-color: $ui-form-input-background;
             position: relative;
        }
        // Cleanbox is the styling of the icon link used to "clean" 
        // a text input
        .cleanbox {
            display: block;
            padding: 0 0.35em;
            position: absolute;
            top: 0;
            right: 0;
            color: #666;
            font-size: 2em;
            font-weight: 700;
            line-height: 1.5em;
            text-decoration: none;
        }
        
    }
}


