/*
 * List
 */

$color-bg-list: $light-neutral;
$color-list-background: $color-bg-list;
$color-border-top: lighten($color-bg-list, 5%);
$color-border-bottom: darken($color-bg-list, 10%);

@mixin list(
    $has-image:false, 
    $rounded:false, 
    $color-bg: #f0f0f0, 
    $border-top: #f5f5f5, 
    $border-bottom: #DDD, 
    $color-bg-rounded: #FFF, 
    $color-border-rounded: #CCC) {
    li {
        background-color: $color-list-background;
        border-top: 1px solid $color-border-top;
        border-bottom: 1px solid $color-border-bottom;
        text-align: left;
        padding: 1em 1.5em;
        position: relative;
        overflow: hidden;
    }
    h2 {
        margin: 0;    
    }
    p {
        margin: .25em 0;
    }
    @if $has-image {
        p { padding: 0 0 0 4.2em; }
        h2 { padding: 0 0 0 2.75em; }
        img {
            @include float-left;
            background: lighten($color-list-background, 10%);
            border: 1px solid $color-border-bottom;
            margin: 0 1em 0 0; 
            padding: .25em;
            max-width: 4.5em;
            max-height: 4.5em;
            
        }
    }
    @if $rounded {
        padding: 3em 0;
        li {
            background-color: $color-bg-rounded;
            border: 1px solid $color-border-rounded;
            @include border-radius(9px);
            margin: 1em;
        }
    }
}