/*
 * Overlay
 */

$color-ui-overlay-bg: $color-dark-grey !default;

.moo-overlay {
    background-color: $color-ui-overlay-bg; 
    opacity: .75;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
    &.moo-hidden {
        display: none;
    }
}

