/*
 * Overlay
 */
.moo-overlay {
    background-color: darken($light-grey, 10%); 
    opacity: .75;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
    &.moo-hidden {
        display: none;
    }
}

