$moo-ui-select-container-height: 3em !default;
$moo-ui-select-container-padding: .25em !default;

@mixin moo-ui-select() {
    .moo-ui-select-container {
        @extend .moo-ui-input-container;
        padding: $moo-ui-select-container-padding; 
        height: $moo-ui-select-container-height;
    }
    .moo-ui-select-wrapper {
        height: 100%;
        .moo-ui-select-text {
            font-size: 1.5em;
            line-height: 1.5;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @include float-left;
            padding: 0 0.35em;
            width: 85%;
        }
        .moo-ui-select-link {
            color: #000;
            line-height: 2.25em;
            text-align: right;
            text-decoration: none;
            @include float-right;
            height: 100%;
            padding: 0 0.5em;
            position:relative;
            right: 0;
            z-index: 10;
            &:after  {
                content: " "; 
                display: block;
                position: absolute;
                top: -0.35em;
                right: -0.35em;
                width: 2.75em;
                height: 2.8em;
                z-index: -1;
            }
        }
        select {
            position: absolute;
            top: .5em;
            left: 1em;
            opacity: 0;
            width: 100%;
            min-height: 100%;
            -webkit-appearance: none;
            z-index: 9999;
        }
    }    
}
