!!! XML
!!!
%head
    %title Merlina Textil, arte en macram&eacute;
    %base{:href=>"/"}
    %link{:href=>"static/css/styles.css", :media=>"screen", :rel=>"stylesheet"}
    %link{:rel=>"stylesheet",:media=>"all",:href=>"static/css/jquery.fancybox-1.3.4.css"}
    %script{:type=>"text/javascript",:src=>"static/js/jquery.min.1.6.js"}
    %script{:type=>"text/javascript",:src=>"static/js/jquery.fancybox-1.3.4.pack.js"}
    :javascript
        $(document).ready(function() {
            $(".product-list .item").click(function() {
                  $.fancybox({
                      'titlePosition'   : 'inside',
                      'transitionIn'    : 'none',
                      'transitionOut'   : 'none',
                      'autoDimensions'  : true,
                      'overlayColor'      : '#000',
                      'overlayOpacity'  : 0.5,
                      'href'              : this.href
                  });
                  return false ;
            });
        });
%body.main 
    {% if is_home %}
    .container.home 
        {% else %}
    .container.inner 
        {% endif %}    
        .header
            %h1.logo
                %a{:href=>"/", :title=>"Catalogo"} Catalogo
            %ul.nav.main
                %li
                    %a{:href=>"/catalog/test",:title=>"Catalogo"} Catalogo   
      
        {% block content %}
        {% endblock %}

        .footer
            %ul.copy
                %li
                    %a{:href=>"http://www.proyecto83.com", :title=>"Proyecto 83"} Proyecto 83
            %ul.nav.links
                %li.fb
                    %a{:href=>"https://www.facebook.com/pages/Merlina-Textil-macrame/184697121619099", :title=>"Facebook de Merlina Textil"} Mi Facebook
                %li.tw
                    %a{:href=>"https://twitter.com/merlina420", :title=>"Twitter de Merlina Textil"} Mi Twitter
                %li.flickr
                    %a{:href=>"http://www.flickr.com/people/artetextilmerlina/", :title=>"Flickr de Merlina Textil"} Mi Flickr
