!!! XML
!!!
%head
    %title Index
    %base{:href=>"/"}
    %link{:href=>"static/css/styles.css", :media=>"screen", :rel=>"stylesheet"}
%body.main 
    .container
        {% include "templates/header.html" %}

        {% block content %}
        {% endblock %}

        .footer
            %ul.copy
                /%li
                /    %a{:href=>"http://www.proyecto83.com", :title=>"Proyecto 83"} Proyecto 83
            %ul.nav.links
                /%li.fb
                /    %a{:href=>"https://www.facebook.com/pages/Merlina-Textil-macrame/184697121619099", :title=>"Facebook de Merlina Textil"} Mi Facebook
                /%li.tw
                /    %a{:href=>"https://twitter.com/merlina420", :title=>"Twitter de Merlina Textil"} Mi Twitter
                /%li.flickr
                /    %a{:href=>"http://www.flickr.com/people/artetextilmerlina/", :title=>"Flickr de Merlina Textil"} Mi Flickr
