{% extends 'templates/base.html' %}
  
{% block content %}
.content
    %ul.breadcrumb
        %li
            %a{:href=>"/"}
    %h2 Category
    .product-list
        {% for product in products %}
        %a.item{:href=>"/{{ product.fields.category }}/{{ product.fields.name }}.html",:rel=>"gallery"}
            %img{:src=>"http://50.116.1.212:9000/uploads/{{ product.fields.image }}"}       

        {% endfor %}
        //%a.item{:href=>"item.html",:rel=>"gallery"}
        //    %img{:src=>"img/tmp/product-list-item.jpg"}                                 
{% endblock %}
