{% extends 'templates/base/default.html' %}
{% block content %}
.panel
    .subscribe
        %h2 Subscripción
        %h3 Te enviaremos novedades una vez por mes, no molestamos :)
        {% include "templates/forms/landing_form.html" %}   
.panel
    {#% include "templates/catalog/gallery.html" %#}
    / Demo output HTML
    .catalog
        %div
            %img.item{:src=>"http://192.168.1.12:9000/uploads/products/joey-ramone_1.jpg"}

:javascript
    
    $().ready(function(){

       // Dynamic font size
       //$("#panels").Fx.dynamicType();

       // Navigation panels
       $("#panels").Nav.Panels();
       
       // FIXME: al cambiar la forma de cargar el modulo Nav.Panels 
       //        hay que revisar todos los modulos para ver su
       //        compatibilidad.

    });
{% endblock %}

