// import compass sprite utility
@import "compass/utilities/sprites/base";


// General Sprite Defaults
// ----------------------------------------------------------
$mootor-sprite-base-class: ".moo-icons" !default;
$mootor-sprite-dimensions: false !default;
$mootor-position: 0% !default;
$mootor-spacing: 10px !default;
$mootor-repeat: no-repeat !default;

$mootor-sprites: sprite-map("ui/icons/*.png",
  $position: $mootor-position,
  $spacing: $mootor-spacing,
  $repeat: $mootor-repeat);

// All sprites should extend this class
// The emblem-sprite mixin will do so for you.
#{$mootor-sprite-base-class} {
  background-image: $mootor-sprites;
  background-repeat: no-repeat;
}

// Use this to set the dimensions of an element
// based on the size of the original image.
@mixin mootor-sprite-dimensions($name) {
  @include sprite-dimensions($mootor-sprites, $name)
}

// Move the background position to display the sprite.
@mixin mootor-sprite-position($name, $offset-x: 0, $offset-y: 0) {
  @include sprite-position($mootor-sprites, $name, $offset-x, $offset-y)
}

// Extends the sprite base class and set the background position for the desired sprite.
// It will also apply the image dimensions if $dimensions is true.
@mixin mootor-sprite($name, $dimensions: $mootor-sprite-dimensions, $offset-x: 0, $offset-y: 0) {
  @extend #{$mootor-sprite-base-class};
  @include sprite($mootor-sprites, $name, $dimensions, $offset-x, $offset-y)
}

