$base-padding: 1em;
$base-margin: 1em;

// Content

h2 {
  margin: ($base-margin / 8) 0 ;  
}
h3 {
  margin: ($base-margin / 4) 0 ;
}

// Header

#header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

// Panels

#panels,
#blank_panel,
.panel {
    position: absolute;
    left: 0;
    top: 0;
}

// Navigation

nav ul, 
nav ol {
    list-style: none;
}

nav a {
    text-decoration: none;
    text-align: left;
    display: block;
}


