// Navigation plugin

@mixin base-anchor {
    text-decoration: none ;
}

// Header

#header {
    // padding: 1.8em 1em;
    text-align: left;
    z-index: 9999;
    position: fixed;
    top:0;
    width: 100%;
    padding: 1.8em 1em;
    nav {
        position: absolute;
        margin-top: 0;
        top: 2.3em;
    }
    nav a {
        padding: .5em 1em;
        width: auto;
        display: inline;
    }
}

// Panels 

#panels .panel {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}

#panels {
    min-height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    .panel {
        width: 100%;
        max-width: 100%;
        min-height: 100%;
        position: absolute;
    }
}


// Navigation

nav {
    ul, 
    ol {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        text-align: left;
        display: block;
    }   
}

// Hacks
 
#panels .panel {
    // Prevents flicker on transform3d (iOS)    
    -webkit-transition-duration:0;
    -webkit-transform:translate3d(0,0,0);
}

a,
a:hover,
a:focus {
    // No decorations on anchors (Android) 
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

