
// Standard form

.stdform {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    overflow: hidden;
    .field {
        display:block;
        overflow:hidden;
        padding: 1em 2em;
       //border-bottom: 1px solid #999;
        border-top: 1px solid #CCC;
        &:first-child {border-top: none}
        //&:last-child {border-bottom: none}
    }
    label {
        @include float-left;
        font-size: 2em;
        font-weight: 700;
        width: 25%;
    }
    .txt-container {
        @include float-right;
        border: 1px solid #666;
        background-color: #FFF;
        position: relative;
        padding: 0.25em 2.25em 0.25em 0.25em; 
        width: 75%;
        input, 
        textarea { 
            border: none; 
            background: none; 
            font-size: 1.5em; 
            line-height: 1.5em;
            width: 100%;
        }
        &.area{ padding: 0.25em; }
    }
    .cleanbox {
        display: block;
        padding: 0.35em;
        position: absolute;
        top: 0;
        right: 0;
        color: #666;
        font-size: 2em;
        font-weight: 700;
        text-decoration: none;
    }
}

// User Interface plugin

// Checkbox
.moo_checkbox {
    display: block;
    height: 28px;
    width: 94px;
    overflow: hidden;
    float: right;
    
    b {
        -webkit-transition-duration: .25s;
        background: url(../img/ui/switch.png);
        height: 28px;
        width: 149px;
        display: block;
        -webkit-transform: translate3d(0, 0, 0);
    }
    
    &.off b {
        -webkit-transform: translate3d(-54px, 0, 0);
    }
    label {
        line-height: 28px;
    }
}

// Tooltip
.moo_tooltip {
    position: absolute;
    @include domType1;
    background: $subColor1;
    border: 1px solid $subColor1B;
    padding: 1em;
    text-align: center;
}


