$base-line-height: 140% ; 
$base-letter-spacing: -0.05em ; 
$base-font: arial ; 
$base-font-size: 62.5%;

body { 
   font-family: $base-font ; 
   font-size: $base-font-size;
}
@mixin baseType { 
  line-height: $base-line-height ;  
}

// Type 1
@mixin domType1 {
  @include baseType;
  font-size: 2.3em ;
  letter-spacing: $base-letter-spacing ;
}
@mixin subType1 {
  @include baseType;
  font-size: 3em ;
  letter-spacing: $base-letter-spacing*1.5;
}
@mixin empType1 {
  @include baseType;
  font-family: 'HelveticaLTStdBlackCondensed', arial ;
  font-size: 7em ;
  letter-spacing: $base-letter-spacing*1.5;
}


// Type 2
@mixin empType2 { 
   @include baseType;
   font-family: 'FiveMinutesRegular' ;
   font-size: 4em;
   text-decoration: none;
   text-shadow: 0px 0px 1px $text1;
}


// Font-face sources
@font-face {
    font-family: 'FiveMinutesRegular';
    src: url('../fonts/five_minutes-webfont.eot');
    src: url('../fonts/five_minutes-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/five_minutes-webfont.woff') format('woff'),
         url('../fonts/five_minutes-webfont.ttf') format('truetype'),
         url('../fonts/five_minutes-webfont.svg#FiveMinutesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaLTStdBlackCondensed';
    src: url('../fonts/helveticaltstd-blkcond-webfont.eot');
    src: url('../fonts/helveticaltstd-blkcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaltstd-blkcond-webfont.woff') format('woff'),
         url('../fonts/helveticaltstd-blkcond-webfont.ttf') format('truetype'),
         url('../fonts/helveticaltstd-blkcond-webfont.svg#HelveticaLTStdBlackCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}