@import "compass/css3" ;

.moo_checkbox {
    display: block;
    height: 28px;
    width: 94px;
    overflow: hidden;
    float: right;
    
    b {
        -webkit-transition-duration: .25s;
        background: url(../img/ui/switch.png);
        height: 28px;
        width: 149px;
        display: block;
        -webkit-transform: translate3d(0, 0, 0);
    }
    
    &.off b {
        -webkit-transform: translate3d(-54px, 0, 0);
    }

    label {
        position: absolute;
        left: 5%;
        font-weight: bold;
        font-size: 17px;
        margin-top: 5px;
    }
    
}