@import "compass/reset" ;
@import "compass/css3" ;
@import "colors" ;
@import "text" ;
@import "layout" ;
@import "ui" ;

@mixin base-anchor {
    text-decoration: none ;
}

body {
    background: #000;
}

// Header

#header {
    padding: 1.8em 1em;
    text-align: left;
    z-index: 9999;
    position: fixed;
    top:0;
    nav {
        position: absolute;
        margin-top: 0;
        top: 2.3em;
    }
    nav a {
        padding: .5em 1em;
        width: auto;
        display: inline;
    }
    h1 {
        @include domType1;
        text-align: center;
        font-size: 2.6em;
        letter-spacing: -0.07em;
    }
}

#panels .panel {
    width: 100%;
    max-width: 100%;
}

#panels {
    width: 100%;
}

// Hacks

#panels .panel {
    // Prevents flicker on transform3d (iOS)    
    -webkit-transition-duration:0;
    -webkit-transform:translate3d(0,0,0);
}

a,
a:hover,
a:focus {
    // No decorations on anchors (Android) 
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}
