/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset" ;
@import "compass/css3" ;
@import "colors" ;
@import "text" ;
@import "layout" ;
@import "forms" ;

@mixin base-anchor {
    text-decoration: none ;
}

body {
  text-align: center ;
}

#panels,
body {
  background: $bodyColor; 
}
#blank_panel,
.panel {
  background: $subColor1B;  
}

// Subscribe

.subscribe {
  width: 90% ;
  margin: 0 auto ;
}

.form { 
  @include stdform ; 
  .field.text input[type=text],
  .action input {
      text-transform: lowercase ; 
  }
}

h2 {
  @include empType1;
}
h3 {
  @include subType1;
}
p {
  @include readlyType;
}

// Subscribe

.subscribe h2 {
  margin: 0 ;
}

// Navigation

.nav a {
    font-size: 3em;
    color: $domColor1;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
}

.nav a:hover {
    background: transparent;
}

