<header>
    <h1>Index</h1>
</header>

<div class="index-view">

    <div class="ui form segment">
      <div class="field">
        <label>E-mail</label>
        <div class="ui left labeled icon input">
          <input id="inputEmail" placeholder="E-mail" type="text">
          <i class="user icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui left labeled icon input">
          <input  id="inputPass" type="password">
          <i class="lock icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
          <div style="display:none" id="initElement">initElement</div>
          <div id="loadElement"></div>
          <div id="beforeLoadElement"></div>
          <div id="unloadElement"></div>
          <div id="beforeUnloadElement"></div>
        </div>
      </div>
      <div class="ui blue submit button" id="btnLogin">Login</div>
    </div>

</div>