/*
Syntax error: File to import not found or unreadable: 960/grid.
              Load paths:
                C:/xampp/htdocs/ucms/sass
                C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets
                C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 8 of C:/xampp/htdocs/ucms/sass/grid.scss

Backtrace:
C:/xampp/htdocs/ucms/sass/grid.scss:8
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/import_node.rb:64:in `rescue in import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/import_node.rb:42:in `import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/import_node.rb:25:in `imported_file'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:147:in `rescue in visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:152:in `visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/engine.rb:248:in `block in render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/util.rb:297:in `silence_sass_warnings'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/engine.rb:248:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:136:in `block (2 levels) in compile'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:135:in `block in compile'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/logger.rb:45:in `red'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:134:in `compile'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:114:in `compile_if_required'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:99:in `block (2 levels) in run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `block in run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:96:in `run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/commands/watch_project.rb:142:in `recompile'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:31:in `create'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:26:in `block in created'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:25:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:25:in `created'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:17:in `refresh'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block in run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `loop'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/commands/watch_project.rb:86:in `perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/commands/base.rb:18:in `execute'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/commands/project_base.rb:19:in `execute'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/bin/compass:25:in `block in <top (required)>'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/bin/compass:39:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/bin/compass:39:in `<top (required)>'
C:/Ruby193/bin/compass:19:in `load'
C:/Ruby193/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: 960/grid.\A               Load paths:\A                 C:/xampp/htdocs/ucms/sass\A                 C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets\A                 C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 8 of C:/xampp/htdocs/ucms/sass/grid.scss"; }
