<form class='form' id='suscribeForm'>
  <div class='field text'>
    <input id='fieldEmail' type='text' value='correo electrónico' />
  </div>
  <div class='action subscribe'>
    <input id='suscribeBtn' type='submit' value='Suscribirse' />
  </div>
</form>
<script type='text/javascript'>
  //<![CDATA[
    $(document).ready(function(){
        $("#suscribeForm").Form({
            type: "Subscribe",
            fields: $("#fieldEmail"),
            actions: $("#suscribeBtn"),
        });
    });
  //]]>
</script>
