// App color swatches


// main palette
$color-main: #10155E;
$color-accent: #EE3124;
$light-neutral: #F0F0F0;
$dark-neutral: #181A1B;


// Basic color variables

$color-bg-main: $light-neutral;
$color-bg-alt: $dark-neutral;
$color-bg-action: lighten($color-main, 30%);
$color-bg-accent: lighten($color-accent, 30%);


$color-text-strong: darken($color-main, 8%);
$color-text-titles: $dark-neutral;
$color-text-main: lighten($dark-neutral, 35%);
$color-text-secondary: lighten($dark-neutral, 20%);
$color-text-terciary: lighten($dark-neutral, 30%);

$color-text-alt: $light-neutral;
$color-text-action: lighten($color-main, 15%);
$color-text-accent: $color-accent;


$color-border-main: $dark-neutral;
$color-border-alt: $light-neutral;
$color-border-action: darken($color-main, 10%);
$color-border-accent: darken($color-accent, 20%);



$color-border-forms: lighten($color-border-main, 70%);
$color-bg-forms:  lighten($color-bg-main, 4%);
$color-label-forms:  lighten($color-text-action, 4%);


// Deprecated: this swatches are deprecated and will soon disappear! DO NOT USE THEM.
// Dominants

$domColor1: #000;             // black
$domColor1B: #333;            // grey
$domColor1C: #666;            // light gray

// Subordinated

$subColor1: #FFF;            // white
$subColor1B: #f7f7f7;        // lighter gray
$subColor1C: #DDD;           // light gray
$subColor2: #7BBED6;         // light blue
$subColor3: #F7D77B;         // yellow
$subColor4: #EFDFCE;         // light yellow

// Emphasis

$empColor1: #FF3031;       // light red
$empColor1B: #911E17;      // red
$empColor2: #5FBCF9;       // lighter blue
$empColor2B: #29A6F7;      // light blue

// System

$bodyColor: #333;          // gray


