.moo-ui-image-container
    %header
        %a#takePicture.moo-ui-add-new{:rel=>""} Take a picture
        %a#choosePicture.moo-ui-add-filed{:rel=>""} Choose a picture
        %a.moo-ui-delete{:rel=>""} Delete selected
    .moo-ui-image-panel
        %ul.moo-image-list
            %li.moo-image-wrapper
                .moo-image
                    %img#myImage{ :src=>"img/tmp/sample1.jpg", :alt=>"image 1"}
            %li.moo-image-wrapper
                .moo-image
                    %img{ :src=>"img/tmp/sample2.jpg", :alt=>"image 2"}
            %li.moo-image-wrapper
                .moo-image.moo-active
                    %img{ :src=>"img/tmp/sample3.jpg", :alt=>"image 3"}
            %li.moo-image-wrapper
                .moo-image
                    %img{ :src=>"img/tmp/sample4.jpg", :alt=>"image 4"}
            %li.moo-image-wrapper
                .moo-image
                    %img{ :src=>"img/tmp/sample5.jpg", :alt=>"image 5"}
            %li.moo-image-wrapper
                .moo-image
                    %img{ :src=>"img/tmp/sample1.jpg", :alt=>"image 1"}
            %li.moo-image-wrapper
                .moo-image
                    %img{ :src=>"img/tmp/sample2.jpg", :alt=>"image 2"}
            %li.moo-image-wrapper
                .moo-image.moo-active
                    %img{ :src=>"img/tmp/sample3.jpg", :alt=>"image 3"}
            %li.moo-image-wrapper
                .moo-image
                    %img{ :src=>"img/tmp/sample4.jpg", :alt=>"image 4"}
            %li.moo-image-wrapper
                .moo-image
                    %img{ :src=>"img/tmp/sample5.jpg", :alt=>"image 5"}