@import "mootor/core/normalize";
@import "mootor/core/utilities";
@import "mootor/core/color";
@import "mootor/core/type";
@import "mootor/nav";
@import "mootor/ui";

@mixin mootor-defaults(
    $header: true,
    $footer: true,
    $hidden: true,
    $list: true,
    $form: true,
    $select: true,
    $button: true
) {
    @if $header == true {
        @include moo-header();        
    }
    @if $footer == true {
        @include moo-footer();
    }
    @if $form == true {
        @include moo-ui-form();
    }
    @if $select == true {
        @include moo-ui-select();
    }
    @if $hidden == true {
        @include moo-hidden();
    }
    @if $list == true {
        @include moo-list-default();
    }
    @if $button == true {
        @include moo-button();    
    }
}



