// @import "compass/css3/transition";

body, html {
    overflow-x: hidden;
    overflow-y: auto;
}

.moo-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
   

    background: #fa0;

    // Prevents flicker on transform3d (iOS)    
    -webkit-transition-duration:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
    -webkit-transform: translateZ(0);
}

.moo-transition-slide {
    // TODO: use Compass transitions
	transition: left 1s ease-in-out;
	-ms-transition: left 1s ease-in-out;
	-moz-transition: left 1s ease-in-out;
	-o-transition: left 1s ease-in-out;
	-webkit-transition: left 1s ease-in-out;
}

.moo-transition-none {
    // TODO: use Compass transitions
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: left 0 ease-in;
    transition: none;
}

