.m-views-container {
    position: relative;

    width: 100%;
    height: 100%;

    .m-panel {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; 
        overflow-x: hidden;
         -webkit-overflow-scrolling: touch;
    }

    // Hacks

    .m-panel {
        // Prevents flicker on transform3d (iOS)    
        -webkit-transition-duration:0;
        -webkit-backface-visibility: hidden;
        -webkit-transform:translate3d(0,0,0);
        -webkit-transform: translateZ(0);
    }

}



