@import "compass/utilities/sprites/base";  

.m-sprite {
    background-repeat: no-repeat;
    display: inline-block;
}

@mixin m-sprite($name, $sprites, $sprites2x) {

  @extend .m-sprite;
  background-position: sprite-position($sprites, $name);

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      background-position: 0 round(nth(sprite-position($sprites2x, $name), 2) / 2);
  }
  
}

