.m-button {
    padding: 0.4em 2.3em;
    font-size: 1em;
    line-height: 2em;
    border: none;
    border-radius: 0.5em;
}

.m-button:focus,
.m-button:active,
.m-button:hover {
    background: red;
    outline: 0;
}

.m-button-small {
    padding-top: 0;
    padding-bottom: 0;
}

.m-button-outline {
    border: 1px solid;
}

.m-button-fullwidth {
    width: 100%;
    border-radius: 0;
}

.m-button-outline-fullwidth {
    border-left: none;
    border-right: none;
}