.m-footer-container {
    @extend .m-nav;

    bottom: 0;
    position: fixed !important;
    z-index: 101;
            
    footer {
        z-index: 100;
        position: absolute;
        width: 100%;
    }
    
    .m-nav {
        width: 100%;
        display: table;
    }
    .m-nav-item {
        display: table-cell;
    }
    
}

