@include m-all-fields("m-select");

select.m-select {
	top: -1.7em;
	margin-bottom: -1.7em;
	opacity: 0.01;
	position: relative;
}

.m-form-left-labels select.m-select {
	float: left;
	left: 30%;
}

.m-select-cover {
	background: white;
	float: left;
	position: relative;

	.m-icon-arrow-down-small {
		position: absolute;
		right: 0;
		top: 6px;
	}
	.m-value {
		height: 1.4em;
		display: inline-block;
		overflow: hidden;
		margin-right: 21px;
	}
}	


