@include m-all-fields("m-select");

select.m-select {
	opacity: 0.001;
    top: 0;
    position: absolute;
    top: 2.4em;
}

.m-form-left-labels select.m-select {
	float: left;
    left: 30%;
    top: 0.4em;
}

.m-form-left-labels .m-select-cover {
    float: left;
}


.m-select-cover {
	background: white;
	position: relative;

	.m-icon-arrow-down-small {
		position: absolute;
		right: 10px;
		top: 7px;
	}
	.m-value {
		height: 1.4em;
		display: inline-block;
		overflow: hidden;
		margin-right: 11px;
	}
}	
