@mixin m-all-fields($class) {
    &.m-form-left-labels {
        .#{$class} {
            width: 70%;
        }
    }
    &.m-form-top-labels {
        .#{$class} {
            width: 100%;
            display: block;
        }
    }

    .#{$class} {
        font-size: 1em;
        background-color: transparent;
        border: none;
        font-family: sans-serif;
        padding: 0;

        &:disabled {
            opacity: 0.2;
        }

        &:focus {
            outline: 0;
        }

    }
    .m-field.m-error {
       .#{$class} {
            background-color: red;
        }        
    }

}

.m-form {
    &.m-form-left-labels .m-field {
        overflow: hidden;

        label {
            float: left;
            width: 30%;
        }  
    } 
    &.m-form-top-labels .m-field {
        label {
            width: 100%;
            display: block;
        }
    }

    .m-field {
        padding: 1em;
        border-bottom: 1px solid #ccc;
        display: block;

        label {
            font-weight: bold;
            font-size: 1em;
            line-height: 1.5em;
        }
        &.m-error {
           label {
                color: red;
            }        
        }
    }

    @import "uiformtext";
    @import "uiformtextarea";
    @import "uiformselect";

}