header {
    background: #072F52;
    height: 55px;
    position: relative;
    z-index: 100;

    h1 {
        text-align: center;
        color: #f1f1f1;
        font-weight: bold;
        line-height: 55px;
    }
}