// Config

$transitionDuration: .3s;

@import "compass/css3/transition";
@import "compass/css3/transform";

// UIPanel

.m-views-container {
    position: relative;

    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 55px;

    .m-panel {
        position: relative;
        height: 100%;
        width: 50%;
        top: 0; 
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        float: left;
    }

}

// Hacks

.m-views-container,
.m-panel {
    // Prevents flicker on transform3d (iOS)    
    -webkit-transition-duration:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
    -webkit-transform: translateZ(0);
}


// Transitions

.m-transition-none {
    @include transition(all 0);
}

.m-transition-hslide {
    @include transition(transform $transitionDuration ease-out);
}
.m-no-transitions.m-stransition-hslide {
    @include transition(none);
}

.m-transition-hslide-left {
	@include transform(translateX(-50%));
}

.m-no-transitions.m-transition-hslide-left {
	@include transform(none);
    left: -50%;
}


.m-transition-hslide-right {
	@include transform(translateX(0));
}

.m-no-transitions.m-transition-hslide-right {
	@include transform(none);
    left: 0;
}
