@import "variables";

.m-hidden {
	display: none;
}

.m-ios {
    .m-panel {
        width: 50%;
    }
    .m-panel.m-hidden {
        width: 0;
        display: block;
    }
}

.m-double-width {
    width: 200%;
}

.m-full-width {
    width: 100%;
}

.m-position-left {
    left: 0;
}

.m-position-right {
    float: right !important;
}

.m-padding {
    padding: $default-padding ($default-padding*2);
    box-sizing: border-box;
}
