.m-hidden {
	display: none;
}
	
.m-double-width {
    width: 200%;
}

.m-full-width {
    width: 100%;
}

.m-half-width {
    width: 50%;
}

.m-position-left {
    left: 0;
}

.m-position-right {
    left: 100%;
}
