!!! XML
!!!
%head
    %title Titulo
    %base{:href=>"/"}
    %link{:href=>"static/css/styles.css", :media=>"screen", :rel=>"stylesheet"}
    %meta{:name=>"viewport",:content=>"width=device-width, initial-scale = 1.0,maximum-scale = 1.0"}
    %script{:src=>"static/js/jquery.js",:type=>"text/javascript"}
    %script{:src=>"static/js/mootor.js",:type=>"text/javascript"}
    :javascript
        var updatevp = function(){
            /*
             *  FIXME: optimize calc 
             */
            var fontSize = window.innerWidth / 10 + (window.innerHeight / 40);
            if( typeof(document.body) != null) {
                if(fontSize < 105 && fontSize > 20) {
                  document.body.style.fontSize=fontSize + "%";
                } else if(fontSize >= 105) {
                  document.body.style.fontSize=105 + "%";                  
                } else if(fontSize <= 20) {
                  document.body.style.fontSize=20 + "%";                  
                }
            }
        }       
        window.onload=updatevp;
        window.onresize=updatevp; 





