.gestureTestingArea, .gestureTestingStatus {
    width: 90%;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 1em;
}

.gestureTestingArea {
    height: 10em;
    border: 0.2em dashed #ccc;   
}

.gestureTestingStatus {
    height: 30em;
    border: 0.1em solid #ccc;   
    overflow: auto;
}