/* line 23, ../../source/css/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 35, ../../source/css/sass/_normalize.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 44, ../../source/css/sass/_normalize.scss */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 57, ../../source/css/sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 70, ../../source/css/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 77, ../../source/css/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 81, ../../source/css/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 93, ../../source/css/sass/_normalize.scss */
ol,
ul {
  list-style: none;
}

/* line 103, ../../source/css/sass/_normalize.scss */
dd,
dl,
menu,
ol,
ul {
  margin: 0;
}

/* line 111, ../../source/css/sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0;
}

/* line 122, ../../source/css/sass/_normalize.scss */
form {
  margin: 0;
}

/* line 126, ../../source/css/sass/_normalize.scss */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 138, ../../source/css/sass/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 150, ../../source/css/sass/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 165, ../../source/css/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 175, ../../source/css/sass/_normalize.scss */
a, a:hover, a:focus,
input, input:focus,
select, select:focus,
textarea, textarea:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* line 183, ../../source/css/sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 190, ../../source/css/sass/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 197, ../../source/css/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 206, ../../source/css/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 213, ../../source/css/sass/_normalize.scss */
textarea {
  vertical-align: top;
}

/* line 224, ../../source/css/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 17, demo/base/globals/_text.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.65em;
  text-align: center;
}

/* line 23, demo/base/globals/_text.scss */
h1 {
  font-size: 2.5em;
  margin: .9em 0;
  line-height: 1.8;
}

/* line 29, demo/base/globals/_text.scss */
h2 {
  font-size: 1.98em;
  line-height: 1.3;
  margin: 1.2em 0;
}

/* line 35, demo/base/globals/_text.scss */
h3 {
  font-size: 1.65em;
  line-height: 1.55;
  margin: 1.5em 0;
}

/* line 41, demo/base/globals/_text.scss */
h4, h5, h6 {
  font-size: 1.43em;
  line-height: 1.75;
  margin: 1.7em 0;
}

/* line 47, demo/base/globals/_text.scss */
p {
  font-size: 1.32em;
  line-height: 1.9;
  text-align: justify;
  margin: 1.9em 0;
}

/* line 54, demo/base/globals/_text.scss */
small {
  font-size: 75%;
}

/* line 9, ../../source/css/sass/_mootor.nav.scss */
body, html {
  height: 100%;
  background: #ccc;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}

/* line 21, ../../source/css/sass/_mootor.nav.scss */
.moo-header {
  text-align: left;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  padding: .6em 1em;
}
/* line 28, ../../source/css/sass/_mootor.nav.scss */
.moo-header nav {
  position: absolute;
  margin-top: 0;
  top: 1.6em;
  left: 1.5em;
}
/* line 34, ../../source/css/sass/_mootor.nav.scss */
.moo-header nav a {
  padding: .5em 1em;
  width: auto;
  display: inline;
  font-size: 1.5em;
}

/* line 45, ../../source/css/sass/_mootor.nav.scss */
.moo-footer {
  text-align: left;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .5em 1em;
}
/* line 52, ../../source/css/sass/_mootor.nav.scss */
.moo-footer nav {
  text-align: center;
}
/* line 54, ../../source/css/sass/_mootor.nav.scss */
.moo-footer nav a {
  display: inline-block;
  font-size: 1.4em;
  padding: .3em 1.5em;
}

/* line 66, ../../source/css/sass/_mootor.nav.scss */
.moo-panels {
  position: absolute;
  width: 100%;
  left: 0;
  min-height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f7f7f7;
}

/* line 76, ../../source/css/sass/_mootor.nav.scss */
.moo-panel {
  min-height: 100%;
  width: 100%;
  position: absolute;
}

/* line 86, ../../source/css/sass/_mootor.nav.scss */
nav ul,
nav ol {
  list-style: none;
}
/* line 90, ../../source/css/sass/_mootor.nav.scss */
nav a {
  text-decoration: none;
  text-align: left;
  display: block;
  padding: 1em;
}

/* line 100, ../../source/css/sass/_mootor.nav.scss */
.moo-nav-back {
  opacity: 0;
  -webkit-transition: opacity, 0.5s;
  -moz-transition: opacity, 0.5s;
  -ms-transition: opacity, 0.5s;
  -o-transition: opacity, 0.5s;
  transition: opacity, 0.5s;
}
/* line 103, ../../source/css/sass/_mootor.nav.scss */
.moo-nav-back.moo-visible {
  opacity: 1;
}

/* line 110, ../../source/css/sass/_mootor.nav.scss */
.moo-panel {
  -webkit-transition-duration: 0;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 5, ../../source/css/sass/_mootor.nav.tabs.scss */
.moo-nav-tabs-container {
  padding: 2em 0;
}

/* line 8, ../../source/css/sass/_mootor.nav.tabs.scss */
.moo-nav-tabs-header {
  height: 5em;
}
/* line 10, ../../source/css/sass/_mootor.nav.tabs.scss */
.moo-nav-tabs-header .moo-tab {
  color: #999;
  background-color: #ddd;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  padding: .2em 1em;
  height: 100%;
}
/* line 18, ../../source/css/sass/_mootor.nav.tabs.scss */
.moo-nav-tabs-header .moo-tab.moo-active {
  color: #333;
  background-color: #fff;
  border-color: #999 #999 #fff #999;
  height: 104%;
}

/* line 26, ../../source/css/sass/_mootor.nav.tabs.scss */
.moo-tab-content {
  display: none;
  background-color: #fff;
  border-top: 1px solid #999;
}
/* line 31, ../../source/css/sass/_mootor.nav.tabs.scss */
.moo-tab-content.moo-active {
  display: block;
}

/* line 3, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-input-container, .moo-ui-text, .moo-ui-textarea, .moo-ui-select-container {
  display: inline;
  float: right;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #FFF;
  position: relative;
  width: 75%;
}

/* line 11, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-input, .moo-ui-text input, .moo-ui-textarea textarea {
  -webkit-appearance: none;
  /* Remove default iOS shadow */
  border: none;
  background: none;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 100%;
}
/* line 19, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-input:focus, .moo-ui-text input:focus, .moo-ui-textarea textarea:focus {
  border: rgba(0, 0, 0, 0) none;
}

/* line 27, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-form {
  text-align: left;
  width: 90%;
  margin: 5em auto;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
}
/* line 35, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-field {
  display: block;
  padding: 1em 2em;
  border-top: 1px solid #CCC;
}
/* line 40, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-field:first-child {
  border-top: none;
}
/* line 41, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-form .moo-field > label, .moo-ui-form .moo-field > legend {
  display: inline;
  float: left;
  font-size: 2em;
  font-weight: 700;
  width: 25%;
}

/* line 49, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-text {
  padding: 0.35em 2.25em 0.25em 0.25em;
}

/* line 54, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-textarea {
  padding: 0.25em;
}

/* line 59, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-select-container {
  padding: 0.25em;
  height: 3em;
}

/* line 64, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-select-wrapper {
  overflow: hidden;
  height: 100%;
}
/* line 67, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-select-wrapper .moo-ui-select-text {
  font-size: 1.5em;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline;
  float: left;
  padding: 0 0.35em;
  width: 85%;
}
/* line 77, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-select-wrapper .moo-ui-select-link {
  color: #000;
  line-height: 2.25em;
  text-align: right;
  text-decoration: none;
  display: inline;
  float: right;
  height: 100%;
  padding: 0 0.5em;
  position: relative;
  right: 0;
  z-index: 10;
}
/* line 88, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-select-wrapper .moo-ui-select-link:after {
  content: " ";
  display: block;
  position: absolute;
  top: -0.35em;
  right: -0.35em;
  width: 2.75em;
  height: 2.8em;
  z-index: -1;
}
/* line 99, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-select-wrapper select {
  position: absolute;
  top: .5em;
  left: 1em;
  opacity: 0;
  width: 100%;
  min-height: 100%;
  -webkit-appearance: none;
  z-index: 9999;
}

/*
*  Cleanbox is the styling of the icon link used to "clean" a text input
*/
/* line 113, ../../source/css/sass/_mootor.ui.form.scss */
.cleanbox {
  display: block;
  padding: 0 0.35em;
  position: absolute;
  top: 0;
  right: 0;
  color: #666;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5em;
  text-decoration: none;
}

/* line 125, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-radio {
  display: inline;
  float: right;
  position: relative;
  width: 75%;
}
/* line 129, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-radio input {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
/* line 134, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-radio label {
  position: relative;
  display: block;
  padding: 0.5em 0.5em 0.5em 2em;
  background: #FFF;
  font-size: 1.4em;
}
/* line 140, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-radio label .moo-ui-radio-icon {
  display: block;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  background-color: #CCC;
  border: 1px solid #999;
  border-radius: 0.5em;
  width: 1em;
  height: 1em;
}
/* line 153, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-radio.moo-active .moo-ui-radio-icon {
  background-color: #666;
}
/* line 155, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-radio.moo-active .moo-ui-radio-icon:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0.14em;
  left: 0.14em;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 6, color-stop(0%, #ffffff), color-stop(100%, #a6c9fd));
  background: -webkit-radial-gradient(#ffffff, #a6c9fd 6px);
  background: -moz-radial-gradient(#ffffff, #a6c9fd 6px);
  background: -o-radial-gradient(#ffffff, #a6c9fd 6px);
  background: -ms-radial-gradient(#ffffff, #a6c9fd 6px);
  background: radial-gradient(#ffffff, #a6c9fd 6px);
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 2px 2px #666666;
  -moz-box-shadow: 0 0 2px 2px #666666;
  box-shadow: 0 0 2px 2px #666666;
  width: 0.6em;
  height: 0.6em;
}

/* line 171, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-checkbox-icon {
  display: block;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  background-color: #CCC;
  border: 1px solid #999;
  width: 1em;
  height: 1em;
}

/* line 181, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-checkbox {
  display: inline;
  float: right;
  position: relative;
  width: 75%;
}
/* line 185, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-checkbox input {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
/* line 190, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-checkbox label {
  position: relative;
  display: block;
  padding: 0.5em 0.5em 0.5em 2em;
  background: #FFF;
  font-size: 1.4em;
}
/* line 198, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-checkbox.moo-active .moo-ui-checkbox-icon {
  background-color: #666;
}
/* line 200, ../../source/css/sass/_mootor.ui.form.scss */
.moo-ui-checkbox.moo-active .moo-ui-checkbox-icon:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #bdd7fd));
  background: -webkit-linear-gradient(top, #ffffff, #bdd7fd);
  background: -moz-linear-gradient(top, #ffffff, #bdd7fd);
  background: -o-linear-gradient(top, #ffffff, #bdd7fd);
  background: -ms-linear-gradient(top, #ffffff, #bdd7fd);
  background: linear-gradient(top, #ffffff, #bdd7fd);
  -webkit-box-shadow: 0 0 2px 2px #666666;
  -moz-box-shadow: 0 0 2px 2px #666666;
  box-shadow: 0 0 2px 2px #666666;
  width: 0.6em;
  height: 0.6em;
}

/* line 5, ../../source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(45%, #ffffff));
  background-image: -webkit-linear-gradient(top, #dddddd, #ffffff 45%);
  background-image: -moz-linear-gradient(top, #dddddd, #ffffff 45%);
  background-image: -o-linear-gradient(top, #dddddd, #ffffff 45%);
  background-image: -ms-linear-gradient(top, #dddddd, #ffffff 45%);
  background-image: linear-gradient(top, #dddddd, #ffffff 45%);
  border: 1px solid #666;
  border-radius: 0.5em;
  display: inline;
  float: right;
  overflow: hidden;
  padding: 0.1em;
  height: 2.8em;
  width: 9em;
}
/* line 14, ../../source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch b {
  font-weight: 700;
  line-height: 2.8em;
  text-align: center;
  display: block;
  position: relative;
  height: auto;
  width: auto;
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 23, ../../source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch b .moo-button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
  background-image: -moz-linear-gradient(top, #ffffff, #dedede);
  background-image: -o-linear-gradient(top, #ffffff, #dedede);
  background-image: -ms-linear-gradient(top, #ffffff, #dedede);
  background-image: linear-gradient(top, #ffffff, #dedede);
  border: 1px solid #666;
  border-radius: 0.5em;
  display: block;
  position: relative;
  top: -0.2em;
  height: 2.8em;
  width: 3em;
}
/* line 34, ../../source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch b .moo-before,
.moo-ui-switch b .moo-after {
  display: block;
  position: absolute;
  top: -0.1em;
  height: 2.8em;
  width: 6.55em;
}
/* line 40, ../../source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch b .moo-before::first-letter,
.moo-ui-switch b .moo-after::first-letter {
  font-size: 1.5em;
}
/* line 42, ../../source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch b .moo-before {
  background-color: rgba(66, 66, 66, 0.5);
  border-radius: 0.35em 0 0 0.35em;
  color: #fff;
  left: -6.1em;
  z-index: -1;
}
/* line 49, ../../source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch b .moo-after {
  border-radius: 0 0.35em 0.35em 0;
  color: #333;
  right: -0.3em;
}
/* line 57, ../../source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch.moo-on b, .moo-ui-switch.moo-off b {
  -webkit-transition-duration: .25s;
}
/* line 62, ../../source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch.moo-on b {
  -webkit-transform: translate3d(5.85em, 0, 0);
}
/* line 67, ../../source/css/sass/_mootor.ui.switch.scss */
.moo-ui-switch.moo-off b {
  -webkit-transform: translate3d(-0.15em, 0, 0);
}

/* line 4, ../../source/css/sass/_mootor.ui.tooltip.scss */
.moo_tooltip {
  position: absolute;
  background: white;
  border: 1px solid #f7f7f7;
  padding: 1em;
  text-align: center;
}

/* line 5, ../../source/css/sass/_mootor.ui.overlay.scss */
.moo-overlay {
  background-color: #dedede;
  opacity: .75;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
}
/* line 14, ../../source/css/sass/_mootor.ui.overlay.scss */
.moo-overlay.moo-hidden {
  display: none;
}

/* line 16, ../../source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1em;
  -webkit-animation-duration: 1.5s;
}

/* line 29, ../../source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading {
  height: 0;
  width: 0;
  z-index: 550;
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps(8, start);
}
/* line 37, ../../source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading.moo-hidden {
  display: none;
}
/* line 40, ../../source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-ui-loading-block {
  height: 3em;
  width: 1em;
  float: left;
  position: absolute;
  top: -1.5em;
  left: -0.5em;
}
/* line 48, ../../source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-01 {
  background-color: white;
  -webkit-transform: rotate(-90deg) translate(0, -3em);
}
/* line 52, ../../source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-02 {
  background-color: #dfdfdf;
  -webkit-transform: rotate(-45deg) translate(0, -3em);
}
/* line 56, ../../source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-03 {
  background-color: #bfbfbf;
  -webkit-transform: rotate(0deg) translate(0, -3em);
}
/* line 60, ../../source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-04 {
  background-color: #9f9f9f;
  -webkit-transform: rotate(45deg) translate(0, -3em);
}
/* line 64, ../../source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-05 {
  background-color: gray;
  -webkit-transform: rotate(90deg) translate(0, -3em);
}
/* line 68, ../../source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-06 {
  background-color: #606060;
  -webkit-transform: rotate(135deg) translate(0, -3em);
}
/* line 72, ../../source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-07 {
  background-color: #404040;
  -webkit-transform: rotate(180deg) translate(0, -3em);
}
/* line 76, ../../source/css/sass/_mootor.ui.loading.scss */
.moo-ui-loading .moo-loading-08 {
  background-color: #202020;
  -webkit-transform: rotate(-135deg) translate(0, -3em);
}

@-webkit-keyframes rotateThis {
  /* line 84, ../../source/css/sass/_mootor.ui.loading.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 85, ../../source/css/sass/_mootor.ui.loading.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* line 5, ../../source/css/sass/_mootor.ui.modal.scss */
.moo-ui-modal-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  z-index: 1050;
}
/* line 12, ../../source/css/sass/_mootor.ui.modal.scss */
.moo-ui-modal-placeholder.moo-hidden {
  display: none;
}

/* line 5, ../../source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-container {
  background-color: #333;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 3px;
  position: absolute;
  top: 20%;
  left: 10%;
  min-width: 236px;
  max-width: 660px;
  width: 80%;
  height: auto;
  z-index: 800;
}
/* line 17, ../../source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-container header {
  padding: 4px;
  overflow: hidden;
}
/* line 20, ../../source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-container header a {
  color: #efefef;
  font-size: 1.2em;
  background-color: #666;
  border: 1px solid #444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  float: right;
  margin: 2px;
  padding: 2px 4px;
}

/* line 33, ../../source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-panel {
  background-color: #FFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  overflow: auto;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 12em;
  z-index: 1000;
}
/* line 42, ../../source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-panel .moo-image-wrapper {
  display: inline;
  float: left;
  margin: 0.5em;
}
/* line 43, ../../source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-panel .moo-image {
  line-height: 1px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #eee;
  display: table-cell;
  margin: .2em;
  width: 4.5em;
  height: 4.5em;
}
/* line 52, ../../source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-panel .moo-image.moo-active {
  border: 2px solid #000;
}
/* line 53, ../../source/css/sass/_mootor.ui.image.scss */
.moo-ui-image-panel .moo-image img {
  max-width: 100%;
  max-height: 100%;
}

/* line 5, ../../source/css/sass/_mootor.ui.badge.scss */
.moo-sample-icon {
  background-color: #ccc;
  border-radius: 6px;
  border: 1px solid #999;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  width: 100px;
  height: 100px;
}
/* line 14, ../../source/css/sass/_mootor.ui.badge.scss */
.moo-sample-icon.medium {
  width: 50px;
  height: 50px;
  font-size: 0.8em;
}
/* line 19, ../../source/css/sass/_mootor.ui.badge.scss */
.moo-sample-icon.small {
  width: 24px;
  height: 24px;
  font-size: 0.5em;
}

/* line 26, ../../source/css/sass/_mootor.ui.badge.scss */
.moo-ui-badge {
  font-size: 1.8em;
  line-height: 125%;
  background-color: #333;
  color: #fff;
  border: 1px solid #666;
  border-radius: 10em;
  display: block;
  padding: 0.2em 0.5em;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
}

/* line 28, demo/base/shared/_layout.scss */
.moo-header {
  color: #f0f0f0;
  background-color: #1c216c;
  border-bottom: 1px solid #181a1b;
}
/* line 32, demo/base/shared/_layout.scss */
.moo-header h1 {
  display: inline;
  float: left;
  font-size: 1.5em;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0 4em;
  width: 100%;
}

/* line 51, demo/base/shared/_layout.scss */
.moo-header.hidden {
  display: block;
  opacity: 0;
}
/* line 54, demo/base/shared/_layout.scss */
.moo-header.hidden nav {
  top: -9999em !important;
}

/* line 62, demo/base/shared/_layout.scss */
.moo-footer {
  color: #f0f0f0;
  background-color: #1c216c;
  border: 1px solid #181a1b;
}
/* line 67, demo/base/shared/_layout.scss */
.moo-footer nav a {
  background-color: transparent;
  border: none;
  color: #f0f0f0;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

/* line 82, demo/base/shared/_layout.scss */
.moo-panels,
.moo-panel {
  background: #e3e3e3;
}

/* line 90, demo/base/shared/_layout.scss */
.section-title {
  background: #e3e3e3;
  border-bottom: 1px solid #d6d6d6;
  color: #1b249f;
  font-size: 2.6em;
  padding: .5em 0;
}
/* line 96, demo/base/shared/_layout.scss */
.section-title strong {
  color: #0a0d3b;
  display: block;
  font-size: 1.35em;
}

/* line 30, demo/base/shared/_nav.scss */
nav a {
  font-size: 2.5em;
  color: #6c757a;
}

/* line 36, demo/base/shared/_nav.scss */
.moo-header {
  padding: .6em 0;
}
/* line 38, demo/base/shared/_nav.scss */
.moo-header nav {
  display: inline;
  float: left;
  padding: 0 .5em 0 1em;
  position: absolute;
  top: auto;
  left: auto;
}
/* line 44, demo/base/shared/_nav.scss */
.moo-header nav a {
  background-color: #6a6d9d;
  color: #f0f0f0;
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  -ms-border-radius: 0.35em;
  -o-border-radius: 0.35em;
  border-radius: 0.35em;
  line-height: 1.75;
  font-size: 1.1em;
  font-weight: 700;
  padding: .5em 1em;
}
/* line 53, demo/base/shared/_nav.scss */
.moo-header nav.app {
  top: 0;
  right: 0;
  padding: .65em .5em;
  margin: 0;
}
/* line 58, demo/base/shared/_nav.scss */
.moo-header nav.app a {
  line-height: 1.2;
}

/* line 68, demo/base/shared/_nav.scss */
.moo-nav-buttons, .moo-nav-back, .moo-nav-next {
  padding: .5em 1.5em;
  position: relative;
}
/* line 71, demo/base/shared/_nav.scss */
.moo-nav-buttons:hover, .moo-nav-back:hover, .moo-nav-next:hover {
  background-color: #5d62aa;
}
/* line 74, demo/base/shared/_nav.scss */
.moo-nav-buttons.disabled, .disabled.moo-nav-back, .disabled.moo-nav-next {
  color: #bbc1c3;
}
/* line 76, demo/base/shared/_nav.scss */
.moo-nav-buttons.disabled:hover, .disabled.moo-nav-back:hover, .disabled.moo-nav-next:hover {
  background-color: #bbc1c3;
}

/* line 87, demo/base/shared/_nav.scss */
.moo-nav-back:before {
  content: ' ';
  display: block;
}

/* line 95, demo/base/shared/_nav.scss */
.moo-nav-next {
  margin: 0 1em 0 0;
}
/* line 98, demo/base/shared/_nav.scss */
.moo-nav-next:after {
  content: ' ';
  display: block;
}

/* line 107, demo/base/shared/_nav.scss */
.app-buttons, nav.app .moo-nav {
  line-height: 2.5;
  text-indent: -9999px;
  padding: .75em 1em;
  position: relative;
}
/* line 112, demo/base/shared/_nav.scss */
.app-buttons:before, nav.app .moo-nav:before {
  content: " ";
  display: block;
}
/* line 116, demo/base/shared/_nav.scss */
.app-buttons.moo-current, nav.app .moo-current.moo-nav {
  background-color: #0c0e2f;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* line 122, demo/base/shared/_nav.scss */
nav.app {
  float: right;
  left: auto;
  height: 100%;
}

/* line 131, demo/base/shared/_nav.scss */
.moo-footer {
  padding: 0;
}
/* line 133, demo/base/shared/_nav.scss */
.moo-footer nav.app {
  float: none;
  display: table;
  border-spacing: 1em .5em;
  width: 100%;
}

/* line 28, demo/base/shared/_forms.scss */
.moo-ui-form {
  background: transparent;
  border: none;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  margin: 3em auto;
}
/* line 34, demo/base/shared/_forms.scss */
.moo-ui-form fieldset {
  background: #fafafa;
  border: 1px solid #c9cdcf;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  padding: 0;
  margin: 0 0 2em;
}
/* line 41, demo/base/shared/_forms.scss */
.moo-ui-form .moo-field {
  border-top: none;
  border-bottom: 1px solid #c9cdcf;
  padding: .5em 1em;
}
/* line 45, demo/base/shared/_forms.scss */
.moo-ui-form .moo-field:last-child {
  border: none;
}
/* line 48, demo/base/shared/_forms.scss */
.moo-ui-form .moo-field.control-button {
  padding: 1em;
}

/* line 62, demo/base/shared/_forms.scss */
.moo-ui-input-container, .moo-ui-text, .moo-ui-textarea, .moo-ui-select-container {
  border-color: #f2f3f3;
  width: 100%;
}

/* line 74, demo/base/shared/_forms.scss */
.moo-field-short, .moo-field.address-floor, .moo-field.address-number {
  display: inline;
  float: left;
}

/* line 85, demo/base/shared/_forms.scss */
.cleanbox {
  color: transparent;
  overflow: hidden;
  padding: 0 .5em;
}
/* line 89, demo/base/shared/_forms.scss */
.cleanbox:before {
  content: " ";
  background-image: url('../img/default-s86cb387897.png');
  background-repeat: no-repeat;
  background-position: 0 -904px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 105, demo/base/shared/_forms.scss */
.moo-ui-input, .moo-ui-text input, .moo-ui-textarea textarea {
  padding: 0 0.4em;
}

/* line 111, demo/base/shared/_forms.scss */
.moo-ui-form .moo-field > label {
  color: #1e27b1;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1em 0 0;
  overflow: hidden;
  width: 30%;
}

/* line 124, demo/base/shared/_forms.scss */
.moo-ui-form legend,
.moo-ui-form .legend {
  border-bottom: 1px solid #c9cdcf;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.6;
  margin: .5em 0 0;
  padding: 0 1.5em .75em;
  display: block;
  width: 100%;
}

/* line 136, demo/base/shared/_forms.scss */
.moo-ui-form .moo-field > legend {
  color: #1e27b1;
}

/* line 144, demo/base/shared/_forms.scss */
.moo-ui-input, .moo-ui-text input, .moo-ui-textarea textarea {
  font-size: 15px;
  line-height: 21px;
  height: 21px;
}

/* line 149, demo/base/shared/_forms.scss */
.moo-ui-text {
  background: transparent;
  border: none;
  padding: .5em 2em .25em .25em;
  width: 100%;
}

/* line 155, demo/base/shared/_forms.scss */
.cleanbox {
  font-size: 19px;
  line-height: 1.5;
  padding: 0 10px;
}

/* line 164, demo/base/shared/_forms.scss */
.moo-field.address-floor {
  width: 57%;
}
/* line 167, demo/base/shared/_forms.scss */
.moo-field.address-floor > label {
  width: 57%;
}
/* line 168, demo/base/shared/_forms.scss */
.moo-field.address-floor .moo-ui-text {
  width: 42%;
}

/* line 171, demo/base/shared/_forms.scss */
.moo-field.address-number {
  width: 43%;
}

/* line 176, demo/base/shared/_forms.scss */
.moo-field.postal-code {
  clear: both;
}
/* line 178, demo/base/shared/_forms.scss */
.moo-field.postal-code .moo-ui-text {
  width: 34.5%;
  float: left;
}

/* line 187, demo/base/shared/_forms.scss */
.moo-field.phone .moo-ui-text {
  float: left;
  margin: 0 .5% 0 0;
  width: 17%;
}
/* line 191, demo/base/shared/_forms.scss */
.moo-field.phone .moo-ui-text:nth-child(4) {
  width: 35%;
  margin: 0;
}

/* line 201, demo/base/shared/_forms.scss */
.moo-field.contact .moo-ui-select-wrapper {
  width: 26%;
}
/* line 205, demo/base/shared/_forms.scss */
.moo-field.contact .moo-ui-select-container .moo-ui-select-text {
  width: 80%;
}
/* line 209, demo/base/shared/_forms.scss */
.moo-field.contact .moo-ui-text {
  display: inline;
  float: right;
  width: 43%;
}

/* line 221, demo/base/shared/_forms.scss */
.moo-field .moo-ui-select-wrapper {
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}
/* line 225, demo/base/shared/_forms.scss */
.moo-field .moo-ui-select-wrapper .moo-ui-select-container {
  width: 100%;
  z-index: 200;
}

/* line 233, demo/base/shared/_forms.scss */
.moo-ui-select-container .moo-ui-select-list li {
  padding: .75em;
}
/* line 234, demo/base/shared/_forms.scss */
.moo-ui-select-container .moo-ui-select-link {
  color: transparent;
  padding: 0 1.5em;
}
/* line 238, demo/base/shared/_forms.scss */
.moo-ui-select-container .moo-ui-select-link:before {
  content: " ";
  background-image: url('../img/default-s86cb387897.png');
  background-repeat: no-repeat;
  background-position: 0 -929px;
  width: 10px;
  height: 8px;
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 246, demo/base/shared/_forms.scss */
.moo-ui-select-container .moo-ui-select-link:after {
  border-color: #f2f3f3;
  border-left: 1px solid #f2f3f3;
  background: transparent none;
}

/* line 258, demo/base/shared/_forms.scss */
.moo-ui-checkbox-icon {
  background-color: #d6d6d6;
  border: 1px solid #788287;
  top: .85em;
  width: 18px;
  height: 18px;
}

/* line 266, demo/base/shared/_forms.scss */
.moo-ui-checkbox.moo-active .moo-ui-checkbox-icon {
  background-color: #d6d6d6;
}
/* line 268, demo/base/shared/_forms.scss */
.moo-ui-checkbox.moo-active .moo-ui-checkbox-icon:after {
  background-color: transparent;
  box-shadow: none;
  background-image: url('../img/default-s86cb387897.png');
  background-repeat: no-repeat;
  background-position: 0 -876px;
  width: 21px;
  height: 22px;
  top: -0.25em;
  left: 0;
}

/* line 282, demo/base/shared/_forms.scss */
.control-button .button {
  font-size: 2em;
  text-align: center;
  display: block;
  width: 100%;
}

/* line 13, demo/base/shared/_utilities.scss */
.hidden {
  display: none;
}

/* line 18, demo/base/shared/_utilities.scss */
.placeholder {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

/* line 49, ../../source/css/sass/_mootor.utilities.scss */
.clearfix:before, .moo-tab-content:before, .moo-ui-form:before, .moo-ui-form .moo-field:before, .moo-ui-form legend:before,
.moo-ui-form .legend:before, .clearfix:after, .moo-tab-content:after, .moo-ui-form:after, .moo-ui-form .moo-field:after, .moo-ui-form legend:after,
.moo-ui-form .legend:after {
  content: " ";
  display: table;
}
/* line 53, ../../source/css/sass/_mootor.utilities.scss */
.clearfix:after, .moo-tab-content:after, .moo-ui-form:after, .moo-ui-form .moo-field:after, .moo-ui-form legend:after,
.moo-ui-form .legend:after {
  clear: both;
}
