// -----------------------------------------------------------------------------------
// Layout 
// -----------------------------------------------------------------------------------
// 
// This partial contains general layout and shared styles among panels 
//
// Contents: 
// 1. .moo-header - header styles
// -----------------------------------------------------------------------------------

// 1. header
// -----------------------------------------------------------------------------------
.moo-header {
    background: $color-bg-alt url(../img/bg/header.jpg) repeat-x 0 0 scroll;
    h1 {
        @include text-shadow(#000 -1px -1px 0);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
    .moo-header {
        background: $color-bg-alt url(../img/bg/header2x.jpg) repeat-x 0 0 scroll;
        background-size: 60px 60px;
    }
 }


