// -----------------------------------------------------------------------------------
// General styles for navigation elements
// -----------------------------------------------------------------------------------
//
// Contents:
// 1. nav              - general styles for navigation items
// 2. header nav       - header navigation items
// 3. .moo-nav-back    - back button style
// 4. .app-buttons     - this application particular set of buttons extensible class
// 5. .app             - this application particular set of buttons   
// 6. .tabs            - tabs navigation custom styling // not implemented yet 
// -----------------------------------------------------------------------------------


// color variables
// -----------------------------------------------------------------------------------
$nav-border-color: lighten($color-border-main, 30%);
$nav-bg-light-color: lighten($color-bg-alt, 40%);
$nav-bg-dark-color: lighten($color-bg-alt, 15%);
$nav-focus-bg-light-color: lighten($color-bg-alt, 35%);
$nav-focus-bg-dark-color: lighten($color-bg-alt, 10%);
$nav-text-color: $color-text-alt;




// 2. header nav
// -----------------------------------------------------------------------------------
.moo-header {
    nav {
        a {
            background-color: transparent;
        }
    }
}

// 3. .moo-nav-buttons
// -----------------------------------------------------------------------------------
.moo-nav-buttons {
    @include background(linear-gradient(top, $nav-bg-light-color, $nav-bg-dark-color));
    @include box-shadow(rgba(#333,0.6) 0 1px 1px 0 inset, rgba(#333, 0.3) 0 -1px 0 0 inset, rgba(white, 0.3) 0 1px 0 0);
    @include text-shadow(rgba(black,.5) 0 -1px -1px);
    &:hover {
        @include background(linear-gradient(top, $nav-focus-bg-light-color, $nav-focus-bg-dark-color));
    }
    &.disabled {
        &:hover {
            @include background(linear-gradient(top, $nav-bg-light-color, $nav-bg-dark-color));
        }
    }
}


// 3. .moo-nav-back
// -----------------------------------------------------------------------------------
.moo-nav-back {
    &:before {
        @include background(linear-gradient(top left, $nav-bg-light-color, $nav-bg-dark-color));
        border-left: 1px solid $color-border-main;
        border-bottom: 1px solid $color-border-main;
        @include border-radius (0 2em 0 .2em);
        @include box-shadow(rgba(#333,0.6) 1px 0 0 0 inset, rgba(#333, 0.3) -1px 0 0 0 inset, rgba(white, 0.3) 0 1px 0 0);
        position: absolute;
        top: 0.35em;
        left: -12px;
        width: 25px;
        height: 25px;
        @include transform(rotate(45deg));
    }
    &:hover:before {
        @include background(linear-gradient(top left, $nav-focus-bg-light-color, $nav-focus-bg-dark-color));
    }
    &.disabled {
        &:hover:before {
           @include background(linear-gradient(top left, $nav-bg-light-color, $nav-bg-dark-color));
        }
    }
}

// 3. .moo-nav-next
// -----------------------------------------------------------------------------------
.moo-nav-next {
    &:after {
        @include background(linear-gradient(bottom right, $nav-bg-light-color, $nav-bg-dark-color));
        border-left: 1px solid $color-border-main;
        border-bottom: 1px solid $color-border-main;
        @include border-radius (0 2em 0 .2em);
        @include box-shadow(rgba(#333, .6) 0 -1px 0 0 inset, rgba(#333, .3) 1px 0 0 0 inset, rgba(white, .3) -1px 0 0 0);
        position: absolute;
        // top: 0.35em;
        // right: -0.8em;
        // width: 1.7em;
        // height: 1.7em;
        top: 4px;
        right: -12px;
        width: 25px;
        height: 25px;
        @include transform(rotate(-135deg));
    }
    &:hover:after {
        @include background(linear-gradient(bottom right, $nav-focus-bg-light-color, $nav-focus-bg-dark-color));
    }
    &.disabled {
        &:hover:after {
            @include background(linear-gradient(bottom right, $nav-bg-light-color, $nav-bg-dark-color));
        }
    }
}



// 4. .app-buttons
// -----------------------------------------------------------------------------------
.app-buttons {
    background-color: transparent;
    @include background(linear-gradient(top, rgba($nav-bg-light-color, .5), rgba(darken($nav-bg-dark-color, 30%), .5)));
    @include box-shadow(rgba(0, 0, 0, .5) 1px 1px 1px 0 inset, rgba(0, 0, 0, .7) -1px -1px 1px 0 inset, rgba(white, .3) 0 1px 0 0);
     border: 1px solid $color-border-main;
    &:before {
        content: " ";
        display: block;
    }
    &:hover {
        background-color: transparent;
        @include background(linear-gradient(top,  rgba($nav-bg-light-color, .7), rgba(darken($nav-bg-dark-color, 10%), .7)));
    }
}
