.applogo {
    width: 76px;
    height: 22px;
    background: url("../img/logo.png");
}

@media (max-resolution: 1.99dppx), (-webkit-max-device-pixel-ratio: 1.99), (max-device-pixel-ratio: 1.99) {
    .applogo {
        width: 76px;
        height: 22px;
        background: url("../../img/logo.png");
    }
}

@media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .applogo {
        width: 76px;
        height: 22px;
        background: url("../../img/logo@2x.png") no-repeat 0 0;
        background-size: 76px 22px;
    }
}
