<h1>What is Mootor?</h1>

		<p><strong>Mootor is an open source framework for building mobile applications based on HTML5.</strong></p>
<p>HTML5 because it’s a fast growing technology and it’s multi-platform (Android, iOS, Firefox OS, etc). Open source because a front-end tool in HTML5 can not avoid it.</p>
<h2>Github</h2>
<p>Download the code and get involved!</p>
<strong><a href="https://github.com/emi420/Mootor/">https://github.com/emi420/Mootor/</a></strong>

<br />
<br />
<br />
<h3>Keyboard shortcuts</h3>
<p>
  Browse to a module or class using the sidebar to view its API documentation.
</p>

<ul>
  <li><p>Press <kbd>s</kbd> to focus the API search box.</p></li>

  <li><p>Use <kbd>Up</kbd> and <kbd>Down</kbd> to select classes, modules, and search results.</p></li>

  <li class="mac-only"><p>With the API search box or sidebar focused, use <kbd><span class="cmd">&#x2318;</span>-Left</kbd> or <kbd><span class="cmd">&#x2318;</span>-Right</kbd> to switch sidebar tabs.</p></li>

  <li class="pc-only"><p>With the API search box or sidebar focused, use <kbd>Ctrl+Left</kbd> and <kbd>Ctrl+Right</kbd> to switch sidebar tabs.</p></li>
</ul>
<br />
<p>Vive l’open source!</p>
