<form action='' class='moo-ui-form' method='post'>
  <div class='moo-field'>
    <label>Select</label>
    <div class='moo-ui-select-wrapper'>
      <select id='ui_select_input'>
        <option value='100'>Item 1</option>
        <option value='200'>This is some other item listed</option>
        <option value='300'>Third item</option>
        <option value='400'>some random item</option>
        <option value='500'>Item 1</option>
        <option value='600'>This is some other item listed</option>
        <option value='700'>Third item</option>
        <option value='800'>Item 1</option>
        <option value='900'>This is some other item listed</option>
        <option value='1000'>Third item</option>
        <option value='1100'>Item 1</option>
        <option value='1200'>This is some other item listed</option>
        <option value='1300'>Third item</option>
      </select>
    </div>
  </div>
</form>
