// -----------------------------------------------------------------------------------
// Layout 
// -----------------------------------------------------------------------------------
// 
// This partial contains general layout and shared styles among panels 
//
// Contents: 
// 1.  .moo-header - header styles
// 1.1 .moo-header.hidden  - header styles when is hidden
// 2.  .moo-footer - footer styles
// 3.  .moo-panels - panels common styling
// -----------------------------------------------------------------------------------


// color variables
// -----------------------------------------------------------------------------------

$color-bg-header-bar: desaturate(lighten($color-main, 5%), 12%);
$color-header-text: $color-text-alt;

$color-bg-footer-bar: desaturate(lighten($color-main, 5%), 12%);
$color-footer-text: $color-text-alt;



// 1. header
// -----------------------------------------------------------------------------------
.moo-header {
    color: $color-header-text;    
    background-color: $color-bg-header-bar;
    border-bottom: 1px solid $color-border-main;
    h1 {
        @include float-left;
        font-size: 1.5em;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;       
        margin: 0;
        padding: 0 4em;
        width: 100%;
    }
}
 
// 1.1 .hidden header
// -----------------------------------------------------------------------------------
//
// This style vissually hides the header without removing it from the DOM. 
// 1. Fix to overwrite .hidden generic class
// 2. Prevents using nav when header is hidden
.moo-header.hidden {
    display: block; // 1
    opacity: 0;
    nav {
        top: -9999em !important; // 2
    }
}
// FIXME: merge with visually hidden instead of overwriting .hidden class!!

// 2. footer
// ----------------------------------------------------------------------------------
.moo-footer {
    color: $color-footer-text;    
    background-color: $color-bg-footer-bar;
    border: 1px solid $color-border-main;
    nav {
        a {
            background-color: transparent;
            border: none;
            color: $color-footer-text;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
        }
    }
}


// 3. panels 
// -----------------------------------------------------------------------------------
.moo-panels,
.moo-panel  {
    background: darken($color-bg-main, 5%); 
}


// 4. sections
// -----------------------------------------------------------------------------------

.section-title {
    background: darken($color-bg-main, 5%);
    border-bottom: 1px solid  darken( $light-neutral, 10%);
    color: $color-text-action;
    font-size: 2.6em;
    padding: .5em 0;
    strong {
        color: $color-text-strong;
        display: block;
        font-size: 1.35em;
    }
}

