// -----------------------------------------------------------------------------------
// General styles for navigation elements
// -----------------------------------------------------------------------------------
//
// Contents:
// 1. nav              - general styles for navigation items
// 2. header nav       - header navigation items
// 3. .moo-nav-buttons    - back button style
// 4. .moo-nav-back    - back button style
// 5. .app-buttons     - this application particular set of buttons extensible class
// 6. .app             - this application particular set of buttons   
// 7. .tabs            - tabs navigation custom styling // not implemented yet 
// -----------------------------------------------------------------------------------


// color variables
// -----------------------------------------------------------------------------------
$nav-border-color: lighten($color-border-main, 30%);
$nav-bg-color: desaturate($color-bg-action, 50);
$nav-bg-light-color: lighten($color-bg-alt, 40%);
$nav-bg-dark-color: lighten($color-bg-alt, 15%);
$nav-focus-bg-color: lighten($color-bg-alt, 25%);
$nav-disabled-bg-color: lighten($color-bg-alt, 35%);
$nav-text-color: $color-text-alt;



// 1. nav
// -----------------------------------------------------------------------------------
nav a {
    font-size: 2.5em;
    color: $color-text-main;
}
// 2. header nav
// -----------------------------------------------------------------------------------
.moo-header {
    padding: .6em 0;
    nav {
        @include float-left;
        padding: 0 .5em 0 1em; 
        a {
            background-color: $nav-bg-color;
            color: $nav-text-color;
            @include border-radius(.35em);
            line-height: 1.75;
            font-size: 1.1em;
            font-weight: 700;
            padding: .5em 1em;
        }
        &.app {
            top: 0;
            right: 0;
            padding: .65em .5em;
            margin: 0;
            a {
                line-height: 1.2;
            }
        }
    }
    
}

// 3. .moo-nav-buttons
// -----------------------------------------------------------------------------------
.moo-nav-buttons {
    padding: .5em 1.5em;
    position: relative;
    &:hover {
       background-color: saturate($nav-bg-color, 10%);
    }
    &.disabled {
        color: lighten($nav-bg-light-color, 25%);
        &:hover {
           background-color: lighten($nav-bg-light-color, 25%);
        }
    }
}


// 4. .moo-nav-back
// -----------------------------------------------------------------------------------
.moo-nav-back {
    @extend .moo-nav-buttons;
    &:before {
        content: ' ';
        display: block;
    }
}

// 5. .moo-nav-next
// -----------------------------------------------------------------------------------
.moo-nav-next {
    @extend .moo-nav-buttons;
    margin: 0 1em 0 0;
    &:after {
        content: ' ';
        display: block;
    }
}


// 6. .app-buttons
// -----------------------------------------------------------------------------------
.app-buttons {
    line-height: 2.5;
    text-indent: -9999px;
    padding: .75em 1em;
    position: relative;
    &:before {
        content: " ";
        display: block;
    }
    &.moo-current {
        background-color: desaturate(darken($color-main, 10%), 12%);;
        @include border-radius(.5em); 
    }
}

nav.app {
    float: right;
    left: auto;
    height: 100%;
    .moo-nav {
        @extend .app-buttons;
    }
}

.moo-footer {
    padding: 0;
    nav.app {
        float: none;
        display: table;
        border-spacing: 1em .5em;
        width: 100%;
    }
}
