!!! 5
%head
    %title Mootor sample app
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}
    %link{:href=>"css/styles.css", :media=>"screen",  :rel=>"stylesheet"}
    %link{:href=>"css/dev.css", :media=>"screen",  :rel=>"stylesheet"}
    
    %script{:src=>"../js/mootor.js",:type=>"text/javascript"}
    %script{:src=>"../js/plugins/nav.js",:type=>"text/javascript"}
    %script{:src=>"../js/plugins/app.js",:type=>"text/javascript"}
    %script{:src=>"../js/plugins/ui.js",:type=>"text/javascript"}

    %script{:src=>"js/app.js",:type=>"text/javascript"}

%body.main

    %header.moo-header
        %nav
            %a#navBack.moo-nav-back{:href=>"#moo-nav-back"} Back

        %h1 Sample app

    #main
        #index.moo-panel

        #core.moo-panel
        #core_ajax.moo-panel
        #core_context.moo-panel
        #core_extend.moo-panel
        #core_find.moo-panel
        #core_hasclass.moo-panel
        #core_hide.moo-panel
        #core_html.moo-panel
        #core_on.moo-panel
        #core_ready.moo-panel
        #core_removeclass.moo-panel
        #core_require.moo-panel
        #core_selector.moo-panel
        #core_setclass.moo-panel
        #core_show.moo-panel
        #core_unbind.moo-panel

        #fx.moo-panel
        #fx_translate.moo-panel

        #gestures.moo-panel

        #ui.moo-panel
        #ui_checkbox.moo-panel
        #ui_map.moo-panel
        #ui_option.moo-panel
        #ui_overlay.moo-panel
        #ui_select.moo-panel
        #ui_text.moo-panel
        #ui_textarea.moo-panel
        #ui_toggleswitch.moo-panel
        #ui_camera.moo-panel
        #ui_simplecamera.moo-panel
        
