!!! 5
%head
    %title Mootor demo
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    %link{:href=>"../css/styles.css", :media=>"screen",  :rel=>"stylesheet"}
    %script{:src=>"../js/mootor.min.js",:type=>"text/javascript"}
    %script{:src=>"../js/plugins/nav.min.js",:type=>"text/javascript"}
    %script{:src=>"../js/plugins/app.min.js",:type=>"text/javascript"}
    %script{:src=>"../js/plugins/ui.min.js",:type=>"text/javascript"}

%body.main
    %header
        %h1 Mootor demo
        %nav
            %a.moo-nav-back{:href=>"#moo-nav-back"} Back

    #main.moo-panels
        #home.moo-panel
            %nav
                %a.moo-nav{:href=>"#nav"} Nav
                %a.moo-nav{:href=>"#ui"} UI
                %a.moo-nav{:href=>"#gestures"} Gestures
                %a.moo-nav{:href=>"#camera"} Camera
                %a.moo-nav{:href=>"#sprites"} Sprites
                     
        #nav.moo-panel
        #item1.moo-panel
        #item2.moo-panel       
        #ui.moo-panel
        #gestures.moo-panel
        #camera.moo-panel
         
        #sprites.moo-panel
            .moo-sample-icon.arrow  
                .moo-ui-badge
                    2
            .moo-sample-icon.bell
                .moo-ui-badge
                    22
            .moo-sample-icon.burst
                .moo-ui-badge
                    522
            .moo-sample-icon.medium
                .moo-ui-badge
                    22
            .moo-sample-icon.medium
                .moo-ui-badge
                    2
            .moo-sample-icon.small
                .moo-ui-badge
                    22
            .moo-sample-icon.small
                .moo-ui-badge
                    2

:javascript    
        
    (function($) {
    
        $(document).ready(function() {
        
           "use strict";
       
           // Navigation panels
           var myNav = $("#main").nav(),
       
           // Application
           myApp = $.app({
               path: "views",
               views: [
                    "ui",
                    "nav",
                    "item1",
                    "item2",
                    "gestures",
                    "camera"
               ],
               nav: myNav
           });
           
           // Preload a view
           myApp.load(
                myApp.views[0],
                myNav.get("ui")
           );           
                                  
       });
       
    }(Mootor));
    

