!!! 5
%head
    %title Mootor demo
    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    %link{:href=>"../css/styles.css", :media=>"screen",  :rel=>"stylesheet"}
    %script{:src=>"../js/mootor.min.js",:type=>"text/javascript"}
    %script{:src=>"../js/plugins/nav.js",:type=>"text/javascript"}
    %script{:src=>"../js/plugins/app.js",:type=>"text/javascript"}
    %script{:src=>"../js/plugins/ui.js",:type=>"text/javascript"}

%body.main
    %header#moo-header.moo-header
        %h1 Mootor demo
        %nav
            %a.moo-nav-back{:href=>"#moo-nav-back"} Back

    #main.moo-panels
        #data.moo-panel

:javascript    
         
    $(document).ready(function() {
    
       "use strict";
   
       // Navigation panels
       var nav = $("#main").nav(),
   
       // Application
       app = $.app({
           id: "demo",
           path: "views",
           views: [
                "data",
           ],
           nav: nav
       });
       
       // Preload a view
       app.load(
            app.views[0],
            nav.get("data")
       );           
                              
    });
