<nav class='moo-list moo-list-navigation'>
  <li>
    <a class='moo-nav'>Item 1</a>
  </li>
  <li>
    <a class='moo-nav'>Item 2</a>
  </li>
  <li>
    <a class='moo-nav'>Item 3</a>
  </li>
  <li>
    <a class='moo-nav'>Item 4</a>
  </li>
  <li>
    <a class='moo-nav'>Item 5</a>
  </li>
  <li>
    <a class='moo-nav'>Item 6</a>
  </li>
  <li>
    <a class='moo-nav'>Item 7</a>
  </li>
  <li>
    <a class='moo-nav'>Item 8</a>
  </li>
  <li>
    <a class='moo-nav'>Item 9</a>
  </li>
  <li>
    <a class='moo-nav'>Item 10</a>
  </li>
  <li>
    <a class='moo-nav'>Item 11</a>
  </li>
  <li>
    <a class='moo-nav'>Item 12</a>
  </li>
  <li>
    <a class='moo-nav'>Item 13</a>
  </li>
  <li>
    <a class='moo-nav'>Item 14</a>
  </li>
  <li>
    <a class='moo-nav'>Item 15</a>
  </li>
  <li>
    <a class='moo-nav'>Item 16</a>
  </li>
  <li>
    <a class='moo-nav'>Item 17</a>
  </li>
  <li>
    <a class='moo-nav'>Item 18</a>
  </li>
  <li>
    <a class='moo-nav'>Item 19</a>
  </li>
  <li>
    <a class='moo-nav'>Item 20</a>
  </li>
  <li>
    <a class='moo-nav'>Item 21</a>
  </li>
  <li>
    <a class='moo-nav'>Item 22</a>
  </li>
  <li>
    <a class='moo-nav'>Item 23</a>
  </li>
  <li>
    <a class='moo-nav'>Item 24</a>
  </li>
  <li>
    <a class='moo-nav'>Item 25</a>
  </li>
  <li>
    <a class='moo-nav'>Item 26</a>
  </li>
  <li>
    <a class='moo-nav'>Item 27</a>
  </li>
  <li>
    <a class='moo-nav'>Item 28</a>
  </li>
  <li>
    <a class='moo-nav'>Item 29</a>
  </li>
  <li>
    <a class='moo-nav'>Item 30</a>
  </li>
  <li>
    <a class='moo-nav'>Item 31</a>
  </li>
  <li>
    <a class='moo-nav'>Item 32</a>
  </li>
  <li>
    <a class='moo-nav'>Item 33</a>
  </li>
  <li>
    <a class='moo-nav'>Item 34</a>
  </li>
  <li>
    <a class='moo-nav'>Item 35</a>
  </li>
  <li>
    <a class='moo-nav'>Item 36</a>
  </li>
  <li>
    <a class='moo-nav'>Item 37</a>
  </li>
  <li>
    <a class='moo-nav'>Item 38</a>
  </li>
  <li>
    <a class='moo-nav'>Item 39</a>
  </li>
  <li>
    <a class='moo-nav'>Item 40</a>
  </li>
  <li>
    <a class='moo-nav'>Item 41</a>
  </li>
  <li>
    <a class='moo-nav'>Item 42</a>
  </li>
  <li>
    <a class='moo-nav'>Item 43</a>
  </li>
  <li>
    <a class='moo-nav'>Item 44</a>
  </li>
  <li>
    <a class='moo-nav'>Item 45</a>
  </li>
  <li>
    <a class='moo-nav'>Item 46</a>
  </li>
  <li>
    <a class='moo-nav'>Item 47</a>
  </li>
  <li>
    <a class='moo-nav'>Item 48</a>
  </li>
  <li>
    <a class='moo-nav'>Item 49</a>
  </li>
  <li>
    <a class='moo-nav'>Item 50</a>
  </li>
  <li>
    <a class='moo-nav'>Item 51</a>
  </li>
  <li>
    <a class='moo-nav'>Item 52</a>
  </li>
  <li>
    <a class='moo-nav'>Item 53</a>
  </li>
  <li>
    <a class='moo-nav'>Item 54</a>
  </li>
  <li>
    <a class='moo-nav'>Item 55</a>
  </li>
  <li>
    <a class='moo-nav'>Item 56</a>
  </li>
  <li>
    <a class='moo-nav'>Item 57</a>
  </li>
  <li>
    <a class='moo-nav'>Item 58</a>
  </li>
  <li>
    <a class='moo-nav'>Item 59</a>
  </li>
  <li>
    <a class='moo-nav'>Item 60</a>
  </li>
  <li>
    <a class='moo-nav'>Item 61</a>
  </li>
  <li>
    <a class='moo-nav'>Item 62</a>
  </li>
  <li>
    <a class='moo-nav'>Item 63</a>
  </li>
  <li>
    <a class='moo-nav'>Item 64</a>
  </li>
  <li>
    <a class='moo-nav'>Item 65</a>
  </li>
  <li>
    <a class='moo-nav'>Item 66</a>
  </li>
  <li>
    <a class='moo-nav'>Item 67</a>
  </li>
  <li>
    <a class='moo-nav'>Item 68</a>
  </li>
  <li>
    <a class='moo-nav'>Item 69</a>
  </li>
  <li>
    <a class='moo-nav'>Item 70</a>
  </li>
  <li>
    <a class='moo-nav'>Item 71</a>
  </li>
  <li>
    <a class='moo-nav'>Item 72</a>
  </li>
  <li>
    <a class='moo-nav'>Item 73</a>
  </li>
  <li>
    <a class='moo-nav'>Item 74</a>
  </li>
  <li>
    <a class='moo-nav'>Item 75</a>
  </li>
  <li>
    <a class='moo-nav'>Item 76</a>
  </li>
  <li>
    <a class='moo-nav'>Item 77</a>
  </li>
  <li>
    <a class='moo-nav'>Item 78</a>
  </li>
  <li>
    <a class='moo-nav'>Item 79</a>
  </li>
  <li>
    <a class='moo-nav'>Item 80</a>
  </li>
  <li>
    <a class='moo-nav'>Item 81</a>
  </li>
  <li>
    <a class='moo-nav'>Item 82</a>
  </li>
  <li>
    <a class='moo-nav'>Item 83</a>
  </li>
  <li>
    <a class='moo-nav'>Item 84</a>
  </li>
  <li>
    <a class='moo-nav'>Item 85</a>
  </li>
  <li>
    <a class='moo-nav'>Item 86</a>
  </li>
  <li>
    <a class='moo-nav'>Item 87</a>
  </li>
  <li>
    <a class='moo-nav'>Item 88</a>
  </li>
  <li>
    <a class='moo-nav'>Item 89</a>
  </li>
  <li>
    <a class='moo-nav'>Item 90</a>
  </li>
  <li>
    <a class='moo-nav'>Item 91</a>
  </li>
  <li>
    <a class='moo-nav'>Item 92</a>
  </li>
  <li>
    <a class='moo-nav'>Item 93</a>
  </li>
  <li>
    <a class='moo-nav'>Item 94</a>
  </li>
  <li>
    <a class='moo-nav'>Item 95</a>
  </li>
  <li>
    <a class='moo-nav'>Item 96</a>
  </li>
  <li>
    <a class='moo-nav'>Item 97</a>
  </li>
  <li>
    <a class='moo-nav'>Item 98</a>
  </li>
  <li>
    <a class='moo-nav'>Item 99</a>
  </li>
  <li>
    <a class='moo-nav'>Item 100</a>
  </li>
  <li>
    <a class='moo-nav'>Item 101</a>
  </li>
  <li>
    <a class='moo-nav'>Item 102</a>
  </li>
  <li>
    <a class='moo-nav'>Item 103</a>
  </li>
  <li>
    <a class='moo-nav'>Item 104</a>
  </li>
  <li>
    <a class='moo-nav'>Item 105</a>
  </li>
  <li>
    <a class='moo-nav'>Item 106</a>
  </li>
  <li>
    <a class='moo-nav'>Item 107</a>
  </li>
  <li>
    <a class='moo-nav'>Item 108</a>
  </li>
</nav>
