    <div class="m-button m-button-default">
        <span class="m-icon-add-circle-small"></span>
        Default
        <span class="m-icon-add-circle"></span>
    </div>

    
    <input type="submit" value="Unspecified" class="m-button" />

    <input type="submit" value="Unspecified" class="m-button-outline" />
    <input type="submit" value="Unspecified" class="m-button-small" />
    <input type="submit" value="Unspecified" class="m-button-outline-small" />

    <br><br>

    <input type="submit" value="Default" class="m-button m-button-default" />
    <input type="submit" value="Default" class="m-button-outline m-button-default" />
    <input type="submit" value="Default" class="m-button-small m-button-default" />
    <input type="submit" value="Default" class="m-button-outline-small m-button-default" />
    <br><br>
    <input type="submit" value="Primary" class="m-button m-button-primary" />
    <input type="submit" value="Primary" class="m-button-outline m-button-primary" />
    <input type="submit" value="Primary" class="m-button-small m-button-primary" />
    <input type="submit" value="Primary" class="m-button-outline-small m-button-primary" />
    <br><br>
    <input type="submit" value="Secondary" class="m-button m-button-secondary" />
    <input type="submit" value="Secondary" class="m-button-outline m-button-secondary" />
    <input type="submit" value="Secondary" class="m-button-small m-button-secondary" />
    <input type="submit" value="Secondary" class="m-button-outline-small m-button-secondary" />
    <br><br>
    <input type="submit" value="Success" class="m-button m-button-success" />
    <input type="submit" value="Success" class="m-button-outline m-button-success" />
    <input type="submit" value="Success" class="m-button-small m-button-success" />
    <input type="submit" value="Success" class="m-button-outline-small m-button-success" />
    <br><br>
    <input type="submit" value="Warning" class="m-button m-button-warning" />
    <input type="submit" value="Warning" class="m-button-outline m-button-warning" />
    <input type="submit" value="Warning" class="m-button-small m-button-warning" />
    <input type="submit" value="Warning" class="m-button-outline-small m-button-warning" />
    <br><br>
    <input type="submit" value="Info" class="m-button m-button-info" />
    <input type="submit" value="Info" class="m-button-outline m-button-info" />
    <input type="submit" value="Info" class="m-button-small m-button-info" />
    <input type="submit" value="Info" class="m-button-outline-small m-button-info" />
    <br><br>
    <input type="submit" value="Danger" class="m-button m-button-danger    " />
    <input type="submit" value="Danger" class="m-button-outline m-button-danger" />
    <input type="submit" value="Danger" class="m-button-small m-button-danger" />
    <input type="submit" value="Danger" class="m-button-outline-small m-button-danger" />
    <br><br>



    <input type="submit" value="Unspecified" class="m-button-fullwidth" />
    <br><br>
    <input type="submit" value="Unspecified" class="m-button-outline-fullwidth" />
    <br><br>

    <input type="submit" value="Default" class="m-button-fullwidth m-button-default" />
    <br><br>
    <input type="submit" value="Default" class="m-button-outline-fullwidth m-button-default" />
    <br><br>

    <input type="submit" value="Secondary" class="m-button-fullwidth m-button-secondary" />
    <br><br>
    <input type="submit" value="Secondary" class="m-button-outline-fullwidth m-button-secondary" />
    <br><br>
    <input type="submit" value="Success" class="m-button-fullwidth m-button-success" />
    <br><br>
    <input type="submit" value="Success" class="m-button-outline-fullwidth m-button-success" />
    <br><br>
    <input type="submit" value="Warning" class="m-button-fullwidth m-button-warning" />
    <br><br>
    <input type="submit" value="Warning" class="m-button-outline-fullwidth m-button-warning" />
    <br><br>
    <input type="submit" value="Info" class="m-button-fullwidth m-button-info" />
    <br><br>
    <input type="submit" value="Info" class="m-button-outline-fullwidth m-button-info" />
    <br><br>
    <input type="submit" value="Danger" class="m-button-fullwidth m-button-danger" />
    <br><br>
    <input type="submit" value="Danger" class="m-button-outline-fullwidth m-button-danger" />
    <br><br>   