%form.form#suscribeForm
    .field.text
        %input#fieldEmail{:type=>"text",:value=>"correo electrónico"}
    .action.subscribe
        %input#suscribeBtn{:type=>"submit",:value=>"Suscribirse"}

:javascript
    $(document).ready(function(){
        $("#suscribeForm").Form({
            type: "Subscribe",
            fields: $("#fieldEmail"),
            actions: $("#suscribeBtn"),
        });
    });




