<form id="myForm" class="m-form m-padding">
    <fieldset class="m-form-top-labels">

        <h2>Special form controls</h2>
        
        <div class="m-field">
            <label>Camera single</label>
            <input type="file" class="m-camera-single" accept="image/*" placeholder="Sample picture" />
            <img class="m-camera-single-img" src="" />
        </div>

        <div class="m-field">
            <label>Geolocation</label>
            <input type="text" class="m-geo m-button-block m-button-outline m-button" value="Search location" />
        </div>
        
        <div class="m-field">
            <label>Draw</label>
            <input class="m-draw" accept="image/*" type="file" />
            <img id="draw1" src="" title="Draw" />
        </div>

        <div class="m-field">
            <label>Draw 2</label>
            <input class="m-draw" accept="image/*" type="file" />
            <img id="draw2" src="" title="Draw again" />
        </div>
        
        <div class="m-field">
            <label>Draw 3</label>
            <input class="m-draw" accept="image/*" type="file" />
            <img id="draw3" src="" title="Draw 3" />
        </div>

        <h2>Radio buttons</h2>

        <div class="m-field">
            <input name="radiogroup" id="radio1" checked="true" value="01" type="radio" class="m-option" />
            <label for="radio1">Radio 1</label>
            <input name="radiogroup" id="radio2" value="02" type="radio" class="m-option" />
            <label for="radio2">Radio 2</label>
            <input name="radiogroup" id="radio3" value="03" type="radio" class="m-option" />
            <label for="radio3">Radio 3</label>
        </div>

        <h2>More radio buttons</h2>

        <div class="m-field">
            <input name="radiogroup2" id="radio4" checked="true" value="01" type="radio" class="m-option" />
            <label for="radio4">Other radio 1</label>
            <input name="radiogroup2" id="radio5" value="02" type="radio" class="m-option" />
            <label for="radio5">Other radio 2</label>
        </div>

        <h2>Other controls</h2>
        
        <div class="m-field">
            <label>Date</label>
            <input type="date" class="m-date" placeholder="Date here" />
        </div>

        <div class="m-field">
            <label>Time</label>
            <input class="m-time" type="time" placeholder="Time here" />
        </div>

        <div class="m-field">
            <label>Month</label>
            <input type="month" class="m-date" type="time" placeholder="Month here" />
        </div>
        
        <div class="m-field">
            <label>Phone</label>
            <input type="tel" class="m-text" placeholder="Phone here" />
        </div>

        <div class="m-field">
            <label>E-mail</label>
            <input type="email" class="m-text" placeholder="E-mail here" />
        </div>

        <div class="m-field">
            <label>Number</label>
            <input type="number" class="m-text" placeholder="Number here" />
        </div>

        
        <div class="m-field">
            <input id="checkbox1" checked="true" value="Check value 2" type="checkbox" class="m-checkbox" />
            <label for="checkbox1">Multiple check 1</label>
            <input id="checkbox2" value="Check value 2" type="checkbox" class="m-checkbox" />
            <label for="checkbox2">Multiple check 2</label>
            <input id="checkbox3" value="Check value 3" type="checkbox" class="m-checkbox" />
            <label for="checkbox3">Multiple check 2</label>
        </div>

        <div class="m-field">
            <label for="select2">Select</label>
            <select class="m-select" id="select2" placeholder="Select...">
                <option value="01">Option 1</option>
                <option value="02">Option 2</option>
                <option value="03">Option 3</option>
            </select>
        </div>

        <div class="m-field">
            <label>Text</label>
            <input class="m-text" placeholder="Text here" />
        </div>

        <div class="m-field">
            <label>TextArea</label>
            <textarea class="m-textarea" placeholder="Text here"></textarea>
        </div>



    </fieldset>

    <fieldset class="m-form-left-labels">


        <div class="m-field">
            <label for="01">Select</label>
            <select class="m-select" id="select1">
                <option value="01" selected>Option 1</option>
                <option value="02">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit</option>
                <option value="03">Option 3</option>
            </select>
        </div>

        <div class="m-field">
            <label>Text</label>
            <input class="m-text" placeholder="Text here" />
        </div>

        <div class="m-field">
            <label>TextArea</label>
            <textarea class="m-textarea" placeholder="Text here"></textarea>
        </div>

    </fieldset>

    <div class="m-field">
        <input class="m-text" placeholder="Text without label" />
    </div>
    
    <button type="submit" class="m-button m-button-success m-button-block">Submit this form</button>

</form>