<form class="m-form m-form-top-labels">

    <div class="m-field">
        <label>Text</label>
        <input class="m-text" placeholder="Text here" />
    </div>

    <div class="m-field">
        <label>TextArea</label>
        <textarea class="m-textarea" placeholder="Text here"></textarea>
    </div>

    <div class="m-field">
        <label>Select</label>
        <select class="m-select">
            <option value="01">Option 1</option>
            <option value="02" selected>Option 2</option>
            <option value="03">Option 3</option>
        </select>
    </div>
    
    <input type="submit" value="Default" class="m-button" />
    <br><br>
    <input type="submit" value="Default" class="m-button-small" />
    <br><br>

    <input type="submit" value="Default" class="m-button-outline" />
    <br><br>
    <input type="submit" value="Default" class="m-button-outline-small" />

    <br><br>

    <input type="submit" value="Default" class="m-button-fullwidth" />
    <br><br>
    <input type="submit" value="Default" class="m-button-outline-fullwidth" />
    <br><br>

    <input type="submit" value="Default" class="m-button m-button-default" />
    <br><br>
    <input type="submit" value="Primary" class="m-button m-button-primary" />
    <br><br>
    <input type="submit" value="Secondary" class="m-button m-button-secondary" />
    <br><br>
    <input type="submit" value="Success" class="m-button m-button-success" />
    <br><br>
    <input type="submit" value="Warning" class="m-button m-button-warning" />
    <br><br>
    <input type="submit" value="Info" class="m-button m-button-info" />
    <br><br>
    <input type="submit" value="Danger" class="m-button m-button-danger    " />
    <br><br>


</form>

<form class="m-form m-form-left-labels">

    <div class="m-field">
        <label>Text</label>
        <input class="m-text" placeholder="Text here" />
    </div>

    <div class="m-field">
        <label>TextArea</label>
        <textarea class="m-textarea" placeholder="Text here"></textarea>
    </div>

    <div class="m-field">
        <label>Select</label>
        <select class="m-select">
            <option value="01">Option 1</option>
            <option value="02" selected>Option 2</option>
            <option value="03">Option 3</option>
        </select>
    </div>
    
    <input type="submit" class="m-button" />

</form>