<div class='moo-field'>
  <legend>
    Option
  </legend>
  <fieldset id='ui_option_Fieldset'>
    <label for='radio0'>Option 0</label>
    <input id='radio0' name='radios' type='radio' value='0' />
    <label for='radio1'>Option 1</label>
    <input id='radio1' name='radios' type='radio' value='1' />
    <label for='radio2'>Option 2</label>
    <input id='radio2' name='radios' type='radio' value='2' />
    <label for='radio3'>Option 3</label>
    <input id='radio3' name='radios' type='radio' value='3' />
  </fieldset>
</div>
