.moo-field
    %legend
        Option

    %fieldset#ui_option_Fieldset
        %label{:for=>"radio0"} Option 0
        %input{:type=>"radio", :name=>"radios", :id=>"radio0" ,:value=>"0"}

        %label{:for=>"radio1"} Option 1
        %input{:type=>"radio", :name=>"radios", :id=>"radio1" ,:value=>"1"}

        %label{:for=>"radio2"} Option 2
        %input{:type=>"radio", :name=>"radios", :id=>"radio2" ,:value=>"2"}

        %label{:for=>"radio3"} Option 3
        %input{:type=>"radio", :name=>"radios", :id=>"radio3" ,:value=>"3"}


