<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>Index</title>
  <base href='/' />
  <link href='static/css/styles.css' media='screen' rel='stylesheet' />
</head>
<body class='main'>
  <div class='container'>
    {% include "templates/header.html" %}
    {% block content %}
    {% endblock %}
    <div class='footer'>
      <ul class='copy'>
        <!-- %li -->
        <!-- %a{:href=>"http://www.proyecto83.com", :title=>"Proyecto 83"} Proyecto 83 -->
      </ul>
      <ul class='nav links'>
        <!-- %li.fb -->
        <!-- %a{:href=>"https://www.facebook.com/pages/Merlina-Textil-macrame/184697121619099", :title=>"Facebook de Merlina Textil"} Mi Facebook -->
        <!-- %li.tw -->
        <!-- %a{:href=>"https://twitter.com/merlina420", :title=>"Twitter de Merlina Textil"} Mi Twitter -->
        <!-- %li.flickr -->
        <!-- %a{:href=>"http://www.flickr.com/people/artetextilmerlina/", :title=>"Flickr de Merlina Textil"} Mi Flickr -->
      </ul>
    </div>
  </div>
</body>
