{% extends 'templates/base.html' %}
{% block content %}
<div class='content bio'>
  <ul class='breadcrumb'>
    <li>
      <a href='/'></a>
    </li>
  </ul>
  <h2>
    Mini-bio
  </h2>
  <h3>
    Artesana de corazón y profesión
  </h3>
  <p>
    Nací en Necochea, a orillas del mar, en el año 1986 en un invierno frio...
  </p>
  <p>
    Desde muy chiquita me intereso todo lo relacionado con el arte y los trabajos manuales...Mi primer recuerdo como artesana lo tengo en las playas de mi pueblo natal. Con una amiga juntabamos paja de los medanos, la trenzabamos y armabamos pulseritas que luego saliamos a repartir a la gente de alrededor.
  </p>
  <br />
  <img class='picture' src='static/img/bio.jpg' />
  <p>
    En el año 2006, viviendo en Mar del Plata, encontré en mi departamento una revista del año 1958, que enseñaba entre tantas otras cosas los puntos básicos de macramé.Agarre unos hilos que tenía y comencé a practicar el nudo plano, me costo un par de horas pero lo hice...
  </p>
  <p>
    Después entusiasmada con lo que conseguí quise tomar clases, pero me toco una profesora que no sabía mucho más de lo que hasta el momento había aprendido sola; así que opte por continuar aprendiendo por mi cuenta, prueba y error constantemente.
  </p>
  <p>
    Investigue muchisimo sobre la técnica (aún lo sigo haciendo), me apasione y fui encontrando mi camino, mi estilo, mi manera de expresarme con los hilos.
  </p>
  <br />
  <p>
    Para mi el momento de creación es sagrado y perfecto, en ese momento me conecto con el material y dejo que mis dedos y mente fluyan para poder transmitir sensaciones y entregar mis partes más crudas, tiernas, tristes o soñadoras en mi obra. No  solo se trata de un proceso técnico sino también de un proceso espiritual de conexión con lo que se siente y lo que se hace.
  </p>
  <p>
    Ya a fines del 2009 me empece a trasladar a la Capital de Buenos Aires, donde empece a participar muy de a poco y con un gran esfuerzo en algunas exposiciones:
  </p>
  <br />
  <p>
    2010 XIV Salón de minitextiles, CAAT, Premio Mención (Coya)
  </p>
  <p>
    2010 Símbolos Patrios CAAT
  </p>
  <p>
    2010 VI Salón de Arte textil en pequeño y mediano formato,Museo de Arte Popular José Herndez
  </p>
  <p>
    2010 Símbolos Patrios,Casa de la Cultura, espacio de la Universidad Nacional del Sur,Bahía Blanca
  </p>
  <p>
    2010 12º Encuentro de Arte Textil,Escuela Superior de Bellas Artes Regina Pacis,San Isidro
  </p>
  <p>
    2010 13º Encuentro de Artesanos,Escuela Marín,Beccar,San Isidro
  </p>
  <p>
    2010 Minitextiles,Museo Histórico,Balcarce
  </p>
  <p>
    2011 Bienal de Artesanías de Buenos Aires,Tercera Mención:Rubro Texil (Collar Otoño)
  </p>
  <p>
    2011 VII Salón de Arte Textil en pequeño y mediano formato,Museo de Arte Popular José Hernandez
  </p>
</div>
{% endblock %}
