{% extends 'templates/base.html' %}
{% block content %}
<div class='content'>
  <ul class='breadcrumb'>
    <li>
      <a href='/'></a>
    </li>
  </ul>
  <h2>Contacto</h2>
  <form action='/contact/' class='form contact' method='post'>
    {{ form.non_field_errors }}
    <div class='field char fieldWrapper'>
      <label for='id_sendername'>Nombre</label>
      {{ form.sendername }}
      {{ form.sendername.errors }}
    </div>
    <div class='field char fieldWrapper'>
      <label for='id_senderemail'>E-mail</label>
      {{ form.senderemail }}
      {{ form.senderemail.errors }}
    </div>
    <div class='field text fieldWrapper'>
      {{ form.message }}
      {{ form.message.errors }}
    </div>
    <div class='field actions'>
      <input type='submit' value='Enviar' />
    </div>
  </form>
</div>
{% endblock %}
