{% load thumbnail %}
<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>Merlina Textil, arte en macram&eacute;</title>
  <link href='css/styles.css' media='screen' rel='stylesheet' />
  <script type='text/javascript'>
    //<![CDATA[
      $(document).ready(function() {
          $(".container.fancybox a").click(function() {
                $.fancybox({
                    'titlePosition'   : 'inside',
                    'transitionIn'    : 'none',
                    'transitionOut'   : 'none',
                    'autoDimensions'  : true,
                    'overlayColor'      : '#000',
                    'overlayOpacity'  : 0.5,
                    'href'              : this.href
                });
                return false ;
          });
          $(".container.fancybox .pager").css("display","none");
          $(".container.fancybox .img").mouseover(function() {
              $(".container.fancybox .pager").css("display","block");
          });
          $(".container.fancybox .img").mouseout(function() {
              $(".container.fancybox .pager").css("display","none");
          });
          $(".container.fancybox .pager").mouseover(function() {
              $(".container.fancybox .pager").css("display","block");
          });
      });
    //]]>
  </script>
</head>
<body class='main'>
  <div class='container fancybox'>
    <div class='content'>
      <a class='img' href='{{ next_item.category.name }}/{{ next_item.name }}.html'>
        <img src='{% thumbnail product.image "640x570" %}' />
      </a>
      <div class='pager'>
        <a class='prev' href='{{ prev_item.category.name }}/{{ prev_item.name }}.html'>
          <span>Anterior</span>
        </a>
        <a class='next' href='{{ next_item.category.name }}/{{ next_item.name }}.html'>
          <span>Siguiente</span>
        </a>
      </div>
      <h2>{{ product.title }}</h2>
      <div class='info'>
        <p class='description'>
          {{ product.description|linebreaks }}
          <!-- 20cm x 20cm x 20cm -->
          <!-- Macram&eacute;e -->
          <!-- A&ntilde;o 2010 -->
        </p>
      </div>
    </div>
  </div>
</body>
