{% extends 'templates/base/base.html' %}

{% block content %}
.content
    {% include "templates/content/cms_content_header.html" %}
    {% include "templates/forms/landing_form.html" %}
{% endblock %}
