<header>
    <h1>Icons</h1>
</header>

<ul class="icon-grid">
    <li><span class="m-icon-ok-circle-small"></span></li>
    <li><span class="m-icon-add-circle-small"></span></li>
    <li><span class="m-icon-add-small"></span></li>
    <li><span class="m-icon-arrow-circle-down-small"></span></li>
    <li><span class="m-icon-arrow-circle-left-small"></span></li>
    <li><span class="m-icon-arrow-circle-right-small"></span></li>
    <li><span class="m-icon-arrow-circle-up-small"></span></li>
    <li><span class="m-icon-arrow-down-small"></span></li>
    <li><span class="m-icon-arrow-left-small"></span></li>
    <li><span class="m-icon-arrow-right-small"></span></li>
    <li><span class="m-icon-arrow-up-small"></span></li>
    <li><span class="m-icon-arrow2-down-small"></span></li>
    <li><span class="m-icon-arrow2-left-small"></span></li>
    <li><span class="m-icon-arrow2-right-small"></span></li>
    <li><span class="m-icon-arrow2-up-small"></span></li>
    <li><span class="m-icon-attachment-small"></span></li>
    <li><span class="m-icon-attention-2-small"></span></li>
    <li><span class="m-icon-attention-small"></span></li>
    <li><span class="m-icon-calendar-small"></span></li>
    <li><span class="m-icon-camera-small"></span></li>
    <li><span class="m-icon-chat-small"></span></li>
    <li><span class="m-icon-cloud-upload-small"></span></li>
    <li><span class="m-icon-cloud-small"></span></li>
    <li><span class="m-icon-comments-small"></span></li>
    <li><span class="m-icon-credit-card-small"></span></li>
    <li><span class="m-icon-delete-circle-small"></span></li>
    <li><span class="m-icon-delete-small"></span></li>
    <li><span class="m-icon-download-small"></span></li>
    <li><span class="m-icon-drag-small"></span></li>
    <li><span class="m-icon-edit-small"></span></li>
    <li><span class="m-icon-erase-small"></span></li>
    <li><span class="m-icon-fast-backward-small"></span></li>
    <li><span class="m-icon-folder-small"></span></li>
    <li><span class="m-icon-heart-small"></span></li>
    <li><span class="m-icon-home-small"></span></li>
    <li><span class="m-icon-info-small"></span></li>
    <li><span class="m-icon-link-small"></span></li>
    <li><span class="m-icon-loading-small"></span></li>
    <li><span class="m-icon-login-small"></span></li>
    <li><span class="m-icon-logout-small"></span></li>
    <li><span class="m-icon-mail-small"></span></li>
    <li><span class="m-icon-map-pin-small"></span></li>
    <li><span class="m-icon-map-small"></span></li>
    <li><span class="m-icon-menu-small"></span></li>
    <li><span class="m-icon-minus-circle-small"></span></li>
    <li><span class="m-icon-minus-small"></span></li>
    <li><span class="m-icon-music-small"></span></li>
    <li><span class="m-icon-new-document-small"></span></li>
    <li><span class="m-icon-new-window-small"></span></li>
    <li><span class="m-icon-ok-circle-small"></span></li>
    <li><span class="m-icon-ok-small"></span></li>
    <li><span class="m-icon-padlock-closed-small"></span></li>
    <li><span class="m-icon-padlock-open-small"></span></li>
    <li><span class="m-icon-phone-small"></span></li>
    <li><span class="m-icon-picture-gallery-small"></span></li>
    <li><span class="m-icon-picture-small"></span></li>
    <li><span class="m-icon-question-circle-small"></span></li>
    <li><span class="m-icon-question-small"></span></li>
    <li><span class="m-icon-redo-small"></span></li>
    <li><span class="m-icon-refresh-small"></span></li>
    <li><span class="m-icon-repeat-circle-small"></span></li>
    <li><span class="m-icon-repeat-small"></span></li>
    <li><span class="m-icon-save-small"></span></li>
    <li><span class="m-icon-scan-small"></span></li>
    <li><span class="m-icon-search-small"></span></li>
    <li><span class="m-icon-settings-2-small"></span></li>
    <li><span class="m-icon-settings-3-small"></span></li>
    <li><span class="m-icon-settings-small"></span></li>
    <li><span class="m-icon-share-small"></span></li>
    <li><span class="m-icon-shopping-bag-small"></span></li>
    <li><span class="m-icon-shopping-cart-small"></span></li>
    <li><span class="m-icon-sound-small"></span></li>
    <li><span class="m-icon-star-small"></span></li>
    <li><span class="m-icon-tag-small"></span></li>
    <li><span class="m-icon-thumbnails-list-small"></span></li>
    <li><span class="m-icon-thumbnails-small"></span></li>
    <li><span class="m-icon-thumbs-down-small"></span></li>
    <li><span class="m-icon-thumbs-up-small"></span></li>
    <li><span class="m-icon-time-small"></span></li>
    <li><span class="m-icon-trash-small"></span></li>
    <li><span class="m-icon-undo-small"></span></li>
    <li><span class="m-icon-user-add-small"></span></li>
    <li><span class="m-icon-user-small"></span></li>
    <li><span class="m-icon-users-small"></span></li>
    <li><span class="m-icon-video-small"></span></li>
    <li><span class="m-icon-view-small"></span></li>
    <li><span class="m-icon-wifi-small"></span></li>


    <li><span class="m-icon-ok-circle"></span></li>
    <li><span class="m-icon-add-circle"></span></li>
    <li><span class="m-icon-add"></span></li>
    <li><span class="m-icon-arrow-circle-down"></span></li>
    <li><span class="m-icon-arrow-circle-left"></span></li>
    <li><span class="m-icon-arrow-circle-right"></span></li>
    <li><span class="m-icon-arrow-circle-up"></span></li>
    <li><span class="m-icon-arrow-down"></span></li>
    <li><span class="m-icon-arrow-left"></span></li>
    <li><span class="m-icon-arrow-right"></span></li>
    <li><span class="m-icon-arrow-up"></span></li>
    <li><span class="m-icon-arrow2-down"></span></li>
    <li><span class="m-icon-arrow2-left"></span></li>
    <li><span class="m-icon-arrow2-right"></span></li>
    <li><span class="m-icon-arrow2-up"></span></li>
    <li><span class="m-icon-attachment"></span></li>
    <li><span class="m-icon-attention-2"></span></li>
    <li><span class="m-icon-attention"></span></li>
    <li><span class="m-icon-calendar"></span></li>
    <li><span class="m-icon-camera"></span></li>
    <li><span class="m-icon-chat"></span></li>
    <li><span class="m-icon-cloud-upload"></span></li>
    <li><span class="m-icon-cloud"></span></li>
    <li><span class="m-icon-comments"></span></li>
    <li><span class="m-icon-credit-card"></span></li>
    <li><span class="m-icon-delete-circle"></span></li>
    <li><span class="m-icon-delete"></span></li>
    <li><span class="m-icon-download"></span></li>
    <li><span class="m-icon-drag"></span></li>
    <li><span class="m-icon-edit"></span></li>
    <li><span class="m-icon-erase"></span></li>
    <li><span class="m-icon-fast-backward"></span></li>
    <li><span class="m-icon-folder"></span></li>
    <li><span class="m-icon-heart"></span></li>
    <li><span class="m-icon-home"></span></li>
    <li><span class="m-icon-info"></span></li>
    <li><span class="m-icon-link"></span></li>
    <li><span class="m-icon-loading"></span></li>
    <li><span class="m-icon-login"></span></li>
    <li><span class="m-icon-logout"></span></li>
    <li><span class="m-icon-mail"></span></li>
    <li><span class="m-icon-map-pin"></span></li>
    <li><span class="m-icon-map"></span></li>
    <li><span class="m-icon-menu"></span></li>
    <li><span class="m-icon-minus-circle"></span></li>
    <li><span class="m-icon-minus"></span></li>
    <li><span class="m-icon-music"></span></li>
    <li><span class="m-icon-new-document"></span></li>
    <li><span class="m-icon-new-window"></span></li>
    <li><span class="m-icon-ok-circle"></span></li>
    <li><span class="m-icon-ok"></span></li>
    <li><span class="m-icon-padlock-closed"></span></li>
    <li><span class="m-icon-padlock-open"></span></li>
    <li><span class="m-icon-phone"></span></li>
    <li><span class="m-icon-picture-gallery"></span></li>
    <li><span class="m-icon-picture"></span></li>
    <li><span class="m-icon-question-circle"></span></li>
    <li><span class="m-icon-question"></span></li>
    <li><span class="m-icon-redo"></span></li>
    <li><span class="m-icon-refresh"></span></li>
    <li><span class="m-icon-repeat-circle"></span></li>
    <li><span class="m-icon-repeat"></span></li>
    <li><span class="m-icon-save"></span></li>
    <li><span class="m-icon-scan"></span></li>
    <li><span class="m-icon-search"></span></li>
    <li><span class="m-icon-settings-2"></span></li>
    <li><span class="m-icon-settings-3"></span></li>
    <li><span class="m-icon-settings"></span></li>
    <li><span class="m-icon-share"></span></li>
    <li><span class="m-icon-shopping-bag"></span></li>
    <li><span class="m-icon-shopping-cart"></span></li>
    <li><span class="m-icon-sound"></span></li>
    <li><span class="m-icon-star"></span></li>
    <li><span class="m-icon-tag"></span></li>
    <li><span class="m-icon-thumbnails-list"></span></li>
    <li><span class="m-icon-thumbnails"></span></li>
    <li><span class="m-icon-thumbs-down"></span></li>
    <li><span class="m-icon-thumbs-up"></span></li>
    <li><span class="m-icon-time"></span></li>
    <li><span class="m-icon-trash"></span></li>
    <li><span class="m-icon-undo"></span></li>
    <li><span class="m-icon-user-add"></span></li>
    <li><span class="m-icon-user"></span></li>
    <li><span class="m-icon-users"></span></li>
    <li><span class="m-icon-video"></span></li>
    <li><span class="m-icon-view"></span></li>
    <li><span class="m-icon-wifi"></span></li>

    <li><span class="m-icon-ok-circle-large"></span></li>
    <li><span class="m-icon-add-circle-large"></span></li>
    <li><span class="m-icon-add-large"></span></li>
    <li><span class="m-icon-arrow-circle-down-large"></span></li>
    <li><span class="m-icon-arrow-circle-left-large"></span></li>
    <li><span class="m-icon-arrow-circle-right-large"></span></li>
    <li><span class="m-icon-arrow-circle-up-large"></span></li>
    <li><span class="m-icon-arrow-down-large"></span></li>
    <li><span class="m-icon-arrow-left-large"></span></li>
    <li><span class="m-icon-arrow-right-large"></span></li>
    <li><span class="m-icon-arrow-up-large"></span></li>
    <li><span class="m-icon-arrow2-down-large"></span></li>
    <li><span class="m-icon-arrow2-left-large"></span></li>
    <li><span class="m-icon-arrow2-right-large"></span></li>
    <li><span class="m-icon-arrow2-up-large"></span></li>
    <li><span class="m-icon-attachment-large"></span></li>
    <li><span class="m-icon-attention-2-large"></span></li>
    <li><span class="m-icon-attention-large"></span></li>
    <li><span class="m-icon-calendar-large"></span></li>
    <li><span class="m-icon-camera-large"></span></li>
    <li><span class="m-icon-chat-large"></span></li>
    <li><span class="m-icon-cloud-upload-large"></span></li>
    <li><span class="m-icon-cloud-large"></span></li>
    <li><span class="m-icon-comments-large"></span></li>
    <li><span class="m-icon-credit-card-large"></span></li>
    <li><span class="m-icon-delete-circle-large"></span></li>
    <li><span class="m-icon-delete-large"></span></li>
    <li><span class="m-icon-download-large"></span></li>
    <li><span class="m-icon-drag-large"></span></li>
    <li><span class="m-icon-edit-large"></span></li>
    <li><span class="m-icon-erase-large"></span></li>
    <li><span class="m-icon-fast-backward-large"></span></li>
    <li><span class="m-icon-folder-large"></span></li>
    <li><span class="m-icon-heart-large"></span></li>
    <li><span class="m-icon-home-large"></span></li>
    <li><span class="m-icon-info-large"></span></li>
    <li><span class="m-icon-link-large"></span></li>
    <li><span class="m-icon-loading-large"></span></li>
    <li><span class="m-icon-login-large"></span></li>
    <li><span class="m-icon-logout-large"></span></li>
    <li><span class="m-icon-mail-large"></span></li>
    <li><span class="m-icon-map-pin-large"></span></li>
    <li><span class="m-icon-map-large"></span></li>
    <li><span class="m-icon-menu-large"></span></li>
    <li><span class="m-icon-minus-circle-large"></span></li>
    <li><span class="m-icon-minus-large"></span></li>
    <li><span class="m-icon-music-large"></span></li>
    <li><span class="m-icon-new-document-large"></span></li>
    <li><span class="m-icon-new-window-large"></span></li>
    <li><span class="m-icon-ok-circle-large"></span></li>
    <li><span class="m-icon-ok-large"></span></li>
    <li><span class="m-icon-padlock-closed-large"></span></li>
    <li><span class="m-icon-padlock-open-large"></span></li>
    <li><span class="m-icon-phone-large"></span></li>
    <li><span class="m-icon-picture-gallery-large"></span></li>
    <li><span class="m-icon-picture-large"></span></li>
    <li><span class="m-icon-question-circle-large"></span></li>
    <li><span class="m-icon-question-large"></span></li>
    <li><span class="m-icon-redo-large"></span></li>
    <li><span class="m-icon-refresh-large"></span></li>
    <li><span class="m-icon-repeat-circle-large"></span></li>
    <li><span class="m-icon-repeat-large"></span></li>
    <li><span class="m-icon-save-large"></span></li>
    <li><span class="m-icon-scan-large"></span></li>
    <li><span class="m-icon-search-large"></span></li>
    <li><span class="m-icon-settings-2-large"></span></li>
    <li><span class="m-icon-settings-3-large"></span></li>
    <li><span class="m-icon-settings-large"></span></li>
    <li><span class="m-icon-share-large"></span></li>
    <li><span class="m-icon-shopping-bag-large"></span></li>
    <li><span class="m-icon-shopping-cart-large"></span></li>
    <li><span class="m-icon-sound-large"></span></li>
    <li><span class="m-icon-star-large"></span></li>
    <li><span class="m-icon-tag-large"></span></li>
    <li><span class="m-icon-thumbnails-list-large"></span></li>
    <li><span class="m-icon-thumbnails-large"></span></li>
    <li><span class="m-icon-thumbs-down-large"></span></li>
    <li><span class="m-icon-thumbs-up-large"></span></li>
    <li><span class="m-icon-time-large"></span></li>
    <li><span class="m-icon-trash-large"></span></li>
    <li><span class="m-icon-undo-large"></span></li>
    <li><span class="m-icon-user-add-large"></span></li>
    <li><span class="m-icon-user-large"></span></li>
    <li><span class="m-icon-users-large"></span></li>
    <li><span class="m-icon-video-large"></span></li>
    <li><span class="m-icon-view-large"></span></li>
    <li><span class="m-icon-wifi-large"></span></li>

</ul>

