<form action='' class='moo-ui-form' method='post'>
  <div class='moo-field'>
    <button class='button submit' id='save' type='button'>Save</button>
  </div>
  <div class='moo-field'>
    <label>
      Switch
    </label>
    <input id='switch' type='checkbox' value='0' />
  </div>
  <div class='moo-field'>
    <label>
      Text
    </label>
    <input id='text' placeholder='Your text here' type='text' />
  </div>
  <div class='moo-field'>
    <label>
      TextArea
    </label>
    <textarea id='textarea' placeholder='Your text here'></textarea>
  </div>
  <div class='moo-field'>
    <label>Select</label>
    <select id='select'>
      <option value='0'>One</option>
      <option value='1'>Two</option>
      <option value='2'>Three</option>
      <option value='3'>Four</option>
      <option value='4'>Let's go!</option>
    </select>
  </div>
  <div class='moo-field'>
    <legend>
      Radio
    </legend>
    <fieldset id='radio'>
      <label>One</label>
      <input type='radio' value='0' />
      <label>Two</label>
      <input type='radio' value='1' />
      <label>Three</label>
      <input type='radio' value='2' />
      <label>Four</label>
      <input type='radio' value='3' />
      <label>Let's go!</label>
      <input type='radio' value='4' />
    </fieldset>
  </div>
  <div class='moo-field'>
    <legend>
      Check
    </legend>
    <fieldset id='checkbox'>
      <label>One</label>
      <input type='checkbox' value='0' />
      <label>Two</label>
      <input type='checkbox' value='1' />
      <label>Three</label>
      <input type='checkbox' value='2' />
      <label>Four</label>
      <input type='checkbox' value='3' />
      <label>Let's go!</label>
      <input type='checkbox' value='4' />
    </fieldset>
  </div>
</form>
