$base-padding: 1em;
$base-margin: 1em;

h2 {
  margin: ($base-margin / 8) 0 ;  
}
h3 {
  margin: ($base-margin / 4) 0 ;
}

.container {
    width: 100%;
}

@media (min-width:1240px) {
  .container {
    max-width: 960px ; 
    width: auto ;
    margin: 0 auto ;
  }
}

// Catalog.Gallery

.catalog .item {
    width: 100% ;
}

