@import "colors" ;

$base-line-height: 140% ; 

body {
     font-family: Georgia ;
}

@mixin foreground0 {
    line-height: $base-line-height ; 
}

@mixin foreground1 { 
   font-family: 'FiveMinutesRegular' ;
   font-size: 4em;
   text-decoration: none;
   text-shadow: 0px 0px 1px $text1;
   color: $text1 ;
}

@mixin foreground2 {
  font-family: 'HelveticaLTStdBlackCondensed' ;
  color: $text3 ;
  font-size: 1.6em ;
  letter-spacing: -0.6pt ;
}

@mixin foreground3 { 
   font-family: 'FiveMinutesRegular' ;
   font-size: 2.1em;
   text-decoration: none;
   text-transform: lowercase;
   text-shadow: 0px 0px 1px $text2;
   color: $text2 ;
}

@mixin foreground4 { 
   font-family: Arial ;
   font-size: 1em;
   color: $text3 ;
}

@mixin foreground5 {
  font-family: 'HelveticaLTStdBlackCondensed' ;
  color: $text3 ;
  font-size: 1.1em ;
  letter-spacing: -0.6pt ;
  line-height: $base-line-height ; 
}

@mixin foreground6 {
  font-family: 'HelveticaLTStdBlackCondensed' ;
  font-size: .9em ;
  letter-spacing: 1pt ;
  line-height: $base-line-height ; 
  text-transform: uppercase;
  color: $light ;
}

@font-face {
    font-family: 'FiveMinutesRegular';
    src: url('../fonts/five_minutes-webfont.eot');
    src: url('../fonts/five_minutes-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/five_minutes-webfont.woff') format('woff'),
         url('../fonts/five_minutes-webfont.ttf') format('truetype'),
         url('../fonts/five_minutes-webfont.svg#FiveMinutesRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaLTStdBlackCondensed';
    src: url('../fonts/helveticaltstd-blkcond-webfont.eot');
    src: url('../fonts/helveticaltstd-blkcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaltstd-blkcond-webfont.woff') format('woff'),
         url('../fonts/helveticaltstd-blkcond-webfont.ttf') format('truetype'),
         url('../fonts/helveticaltstd-blkcond-webfont.svg#HelveticaLTStdBlackCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}