// App color swatches

// Swatches
$color-grey: #666;
$color-dark-grey: #333;
$color-light-grey: #ddd;

// main palette
$color-main: $color-grey;
$color-accent: $color-grey;
$color-neutral-light: $color-light-grey;
$color-neutral-dark: $color-grey;

// backgrounds
$color-bg-main: $color-neutral-light;
$color-bg-alt: $color-neutral-dark;





