/*
 * Utilities
 */ 

$visible-classname: ".moo-visible" !default;
$hidden-classname: ".moo-hidden" !default;
$clearfix-classname: ".moo-clearfix" !default;

// Hides the element without removing it from the DOM
@mixin moo-visually-hidden() {
    opacity: 0;
}

// Removes the element from the DOM
@mixin moo-hidden() {
    #{$hidden-classname} {
        display: none;
    }    
}

// A 0 px width/height element placed in the center of 
// it's container
// Used to place elements (like modals) in the center of 
// the screen.
@mixin moo-placeholder() {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;  
}

// A shorted version of the popular hack method, 
// commonly used to contain floats without resorting
// to using presentational markup.
// Method shortened by Nicolas Gallager:
// http://nicolasgallagher.com/micro-clearfix-hack/

@mixin moo-clearfix(
        $class: $clearfix-classname
    ) {
    #{$class} {
        &:before,
        &:after {
            // The use of `table` rather than `block` is only
            // necessary if using `:before` to contain the
            // top-margins of child elements.
            display: table;
        }
        &:after {
            clear: both;
        }
    }
}

