/*
Syntax error: Invalid CSS after "    }": expected selector or at-rule, was "}"
        on line 37 of /Applications/XAMPP/xamppfiles/htdocs/xampp/landing/mootor/css/src/../../_source/css/sass/_mootor.nav.scss
        from line 15 of /Applications/XAMPP/xamppfiles/htdocs/xampp/landing/mootor/css/src/styles.scss

Backtrace:
/Applications/XAMPP/xamppfiles/htdocs/xampp/landing/mootor/css/src/../../_source/css/sass/_mootor.nav.scss:37
/Applications/XAMPP/xamppfiles/htdocs/xampp/landing/mootor/css/src/styles.scss:15
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/scss/parser.rb:1010:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/scss/parser.rb:956:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/scss/parser.rb:28:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/engine.rb:326:in `_to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/engine.rb:258:in `to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:144:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/engine.rb:299:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.18/lib/sass/../sass/engine.rb:246:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/commands/update_project.rb:45:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/bin/compass:29
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/bin/compass:43:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/bin/compass:43
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    }\": expected selector or at-rule, was \"}\"\A         on line 37 of /Applications/XAMPP/xamppfiles/htdocs/xampp/landing/mootor/css/src/../../_source/css/sass/_mootor.nav.scss\A         from line 15 of /Applications/XAMPP/xamppfiles/htdocs/xampp/landing/mootor/css/src/styles.scss"; }
