
// Loading animation 
// -----------------------------------------------------------------------------------


// -------------------------------------------------------
// circles loading html and styles
// -------------------------------------------------------

// <div class='moo-ui-loading-circles'>
    // <div class="moo-ui-loading-circle moo-loading-circle-01"></div>
    // <div class="moo-ui-loading-circle moo-loading-circle-02"></div>
    // <div class="moo-ui-loading-circle moo-loading-circle-03"></div>
// </div>


// Editable styles
// -----------------------------------------------------------
// Change this styles to position/resize the element as needed.
// 1. base (darkest) color. The gradient palette derives from this color.
// 2. Position of the center point of the animation. 
//    Place wherever is needed, by default is in the center of its parent container.
// 3. The overall size of the loading is relative to this value.
// 4. Animation speed



$loading-background-color: #666 !default;

.moo-ui-loading-circles {
    width: 15em; //150px
    height: 3.2em;
    margin-left: -7.5em;
    position: absolute; // 2
    top: 50%; // 2
    left: 50%; // 2
    font-size: 1em; // 2
    &.moo-hidden {
        display: none;
    }
}


// Base
// -------------------------------------------------------
// These are the basic styles of the elements that create the animation.

.moo-ui-loading-circle {
    background-color: $loading-background-color;
    float: left;
    margin-left: 1.7em; // 17px;
    height: 3.2em; //32px
    width: 3.2em; // 32px
  
    animation-duration: 1;
    animation-iteration-count: infinite;
    animation-direction: linear;
    animation-delay: 0;
    border-radius: 2.1em; // 21px
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-border-radius: 2.1em; // 21px
    -webkit-animation-delay: 0;
}

@mixin moo-ui-loading-object-animation-default-0() {
    0% { opacity: 0; }   
    25% { opacity: 1; }
    50% { opacity: 0; }
    75% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes moo-ui-loading-object-animation-0 {
    @include moo-ui-loading-object-animation-default-0;
}
@-webkit-keyframes moo-ui-loading-object-animation-0 {
    @include moo-ui-loading-object-animation-default-0;
}

@mixin moo-ui-loading-object-animation-default-1() {
    0% { opacity: 0; }   
    25% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes moo-ui-loading-object-animation-1 {
    @include moo-ui-loading-object-animation-default-1;
}
@-webkit-keyframes moo-ui-loading-object-animation-1 {
    @include moo-ui-loading-object-animation-default-1;
}

@mixin moo-ui-loading-object-animation-default-2() {
    0% { opacity: 0; }   
    25% { opacity: 0; }
    50% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes moo-ui-loading-object-animation-2 {
    @include moo-ui-loading-object-animation-default-2;
}
@-webkit-keyframes moo-ui-loading-object-animation-2 {
    @include moo-ui-loading-object-animation-default-2;
}


.moo-loading-circle-01 {
    -webkit-animation-name: moo-ui-loading-object-animation-0;
    animation-name: moo-ui-loading-object-animation-0;
}
.moo-loading-circle-02 {
    -webkit-animation-name: moo-ui-loading-object-animation-1;
    animation-name: moo-ui-loading-object-animation-1;
}
.moo-loading-circle-03 {
    -webkit-animation-name: moo-ui-loading-object-animation-2;
    animation-name: moo-ui-loading-object-animation-2;
}

// -------------------------------------------------------
// wheel loading html and styles
// -------------------------------------------------------

// <div class='moo-ui-loading'>
    // <div class='moo-ui-loading-block moo-loading-01'></div>
    // <div class='moo-ui-loading-block moo-loading-02'></div>
    // <div class='moo-ui-loading-block moo-loading-03'></div>
    // <div class='moo-ui-loading-block moo-loading-04'></div>
    // <div class='moo-ui-loading-block moo-loading-05'></div>
    // <div class='moo-ui-loading-block moo-loading-06'></div>
    // <div class='moo-ui-loading-block moo-loading-07'></div>
    // <div class='moo-ui-loading-block moo-loading-08'></div>
// </div>


// Editable styles
// -----------------------------------------------------------
// Change this styles to position/resize the element as needed.
// 1. base (darkest) color. The gradient palette derives from this color.
// 2. Position of the center point of the animation. 
//    Place wherever is needed, by default is in the center of its parent container.
// 3. The overall size of the loading is relative to this value.
// 4. Animation speed

$loading-background-color: #000 !default;  // 1
.moo-ui-loading {
    position: absolute; // 2
    top: 50%; // 2
    left: 50%; // 2
    font-size: 1em; // 2
    -webkit-animation-duration:1.5s; // 2
}


// Base
// -------------------------------------------------------
// These are the basic styles of the elements that create the animation.

.moo-ui-loading {
    height: 0;
    width: 0;
    z-index: 550;
    -webkit-animation-name: rotateThis;
    -webkit-animation-duration:0.5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: steps(8, start);
    &.moo-hidden {
        display: none;
    }
    .moo-ui-loading-block {
        height: 3em;
        width: 1em;
        float: left;
        position:absolute;
        top: -1.5em;
        left: -0.5em;
    }
    .moo-loading-01 {
       background-color: lighten($loading-background-color, 100%);
       -webkit-transform: rotate(-90deg) translate(0, -3em);
    }
    .moo-loading-02 {
        background-color: lighten($loading-background-color, 87.5%);
        -webkit-transform: rotate(-45deg) translate(0, -3em);
    }
    .moo-loading-03 {
        background-color: lighten($loading-background-color, 75%);
        -webkit-transform: rotate(0deg) translate(0, -3em);
    }
    .moo-loading-04 {
        background-color: lighten($loading-background-color, 62.5%);
        -webkit-transform: rotate(45deg) translate(0, -3em);
    }
    .moo-loading-05 {
        background-color: lighten($loading-background-color, 50%);
        -webkit-transform: rotate(90deg) translate(0, -3em);
    }
    .moo-loading-06 {
        background-color: lighten($loading-background-color, 37.5%);
        -webkit-transform: rotate(135deg) translate(0, -3em);
    }
    .moo-loading-07 {
        background-color: lighten($loading-background-color, 25%);
        -webkit-transform: rotate(180deg) translate(0, -3em);
    }
    .moo-loading-08 {
        background-color: lighten($loading-background-color, 12.5%);
        -webkit-transform: rotate(-135deg) translate(0, -3em);
    } 
}

// Animation -------------------------------------
@-webkit-keyframes rotateThis {
  from {-webkit-transform:  rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}