<h1>UI</h1>
<form>
  <div class='moo-ui-form'>
    <div class='moo-field'>
      <label>Select</label>
      <div class='moo-ui-select-wrapper'>
        <select id='mySelect'>
          <option value='09'>Factory</option>
          <option value='01'>Hotel</option>
          <option value='05'>Medical Facility</option>
          <option value='02'>Multiple Environments</option>
          <option value='08'>Office</option>
          <option value='06'>Other</option>
          <option value='07'>Residential</option>
          <option value='04'>Restaurant</option>
          <option value='03'>Supermarket</option>
        </select>
      </div>
    </div>
  </div>
</form>
