<nav class='moo-list moo-list-navigation'>
  <li>
    <a class='moo-nav' href='#ui_checkbox'>Checkbox</a>
  </li>
  <li>
    <a class='moo-nav' href='#ui_map'>Map</a>
  </li>
  <li>
    <a class='moo-nav' href='#ui_option'>Option</a>
  </li>
  <li>
    <a class='moo-nav' href='#ui_select'>Select</a>
  </li>
  <li>
    <a class='moo-nav' href='#ui_text'>Text</a>
  </li>
  <li>
    <a class='moo-nav' href='#ui_textarea'>TextArea</a>
  </li>
  <li>
    <a class='moo-nav' href='#ui_toggleswitch'>ToggleSwitch</a>
  </li>
  <li>
    <a class='moo-nav' href='#ui_overlay'>Overlay</a>
  </li>
  <li>
    <a class='moo-nav' href='#ui_camera'>Camera</a>
  </li>
  <li>
    <a class='moo-nav' href='#ui_simplecamera'>SimpleCamera</a>
  </li>
</nav>
