%h1 UI

%form
    .moo-ui-form
        .moo-field                     
            %label Select
            .moo-ui-select-wrapper
                %select#mySelect
                    %option{:value=>"09"} Factory
                    %option{:value=>"01"} Hotel
                    %option{:value=>"05"} Medical Facility
                    %option{:value=>"02"} Multiple Environments
                    %option{:value=>"08"} Office
                    %option{:value=>"06"} Other
                    %option{:value=>"07"} Residential
                    %option{:value=>"04"} Restaurant
                    %option{:value=>"03"} Supermarket
                    
