/*
 * Nav.Footer
 */

// Defaults

$nav-footer-background-color: $color-dark-grey !default;
$nav-current: darken($nav-footer-background-color, 5%) !default;

$nav-footer-height: $nav-bar-height !default;
$nav-footer-classname: ".moo-footer" !default;


@mixin moo-footer(
        $height: $nav-footer-height,
        $class: $nav-footer-classname
    ) {
    #{$class} {
        text-align: left;
        z-index: 9999; 
        position: fixed;
        bottom: 0;
        background: $nav-footer-background-color;
        padding: 0 1em;
        width: 100%;
        height: $height;
        nav {
            text-align: center;
            a {
                display: inline-block;
                font-size: 1.4em;
                padding: .3em 1.5em;
            }
        }
    }
}

