/*
 * Nav.Header
 */

// Defaults

$nav-header-border-color: $color-main !default;
$nav-bg-color: $color-dark-grey !default;
$nav-header-background: $color-main !default;
$nav-header-nav-background: darken($nav-header-background, 5%);

$nav-header-height: $nav-bar-height !default;
$nav-header-classname: ".moo-header" !default;
$nav-header-back-classname: ".moo-nav-back" !default;
$nav-header-nav-classname: ".moo-nav" !default;
$nav-header-nav-app-classname: ".app" !default;
$nav-header-text-color: $color-light-grey !default;
$nav-header-title-font-size: 1.5em !default;

@mixin moo-header(
        $class: $nav-header-classname,
        $back-class: $nav-header-back-classname,
        $nav-class: $nav-header-nav-classname,
        $nav-app-class: $nav-header-nav-app-classname,
        $navDisplay: inline, 
        $height: $nav-header-height,
        $background: $nav-header-background,
        $color: $nav-header-text-color,
        $title-font-size: $nav-header-title-font-size,
        $title-background-image: false
    ){
    #{$class} {
        background: $background; 
        text-align: left;
        z-index: 9999; 
        position: fixed;
        top:0;
        width: 100%;
        padding: .6em 1em;
        height: $height;
        color: $color;
        
        // Title
        h1 {
            display: inline;
            float: left;
            font-size: 1.5em;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin: .3em 0;
            padding: 0 4em;
            width: 100%;
            @if $title-background-image == true {
                text-indent: -9999px;
            }
        }
        
        // Navigation
        nav {
            position: absolute;
            margin-top: 0;
            top: auto;
            left: auto;
            
            // App nav
            &#{$nav-app-class} {
                right: 1em;
                #{$nav-class} {
                    display: inline-block;
                    float: left;
                    &:before {
                        display: inline-block;
                    }

                    // Hidden item
                    &#{$hidden-classname} {
                        display: none; 
                    }

                }
            }

            // Nav links
            a {
                color: $color;
                padding: .65em 1em;
                font-size: 1.5em;            
                width: auto;
                background: $nav-header-nav-background;
                @if $navDisplay == inline {
                    display: inline-block;                
                } @else {
                    float: left;
                    display: block;
                }
            }        

            // Back button
            #{$back-class} { 
                opacity: 0;
                @include transition(opacity, .5s);    
                &#{$visible-classname} {
                    opacity: 1;    
                }    
            }            
        }
    }
}



