/*
 * Nav.Header
 */

// Defaults

$nav-header-border-color: $color-main !default;
$nav-bg-color: $color-dark-grey !default;
$nav-header-background: $color-main !default;
$nav-header-nav-background: $color-light-grey !default;

$nav-header-height: $nav-bar-height !default;
$nav-header-classname: ".moo-header" !default;
$nav-header-back-classname: ".moo-nav-back";
$nav-header-nav-classname: ".moo-nav";
$nav-header-nav-app-classname: ".app";
$nav-header-text-color: $color-light-grey !default;
$nav-header-title-font-size: 1.5em !default;


@mixin moo-header(
        $class: $nav-header-classname,
        $back-class: $nav-header-back-classname,
        $nav-class: $nav-header-nav-classname,
        $nav-app-class: $nav-header-nav-app-classname,
        $navDisplay: inline, 
        $height: $nav-header-height,
        $background: $nav-header-background,
        $color: $nav-header-text-color,
        $title-font-size: $nav-header-title-font-size
    ){
    #{$class} {
        background: $background; 
        text-align: left;
        z-index: 9999; 
        position: fixed;
        top:0;
        width: 100%;
        padding: .6em 1em;
        height: $height;
        color: $color;
        
        // Title
        h1 {
            font-size: $title-font-size;
        }
        
        // Navigation
        nav {
            position: absolute;
            margin-top: 0;
            top: auto;
            left: auto;
            
            // App nav
            #{$nav-app-class} {
                right: 0;
                #{$nav-class} {
                    display: inline-block;
                    float: left;
                    text-indent: 0;
                    font-size: 1.2em;
                    line-height: 1;
                    &:before {
                        display: inline-block;
                    }
                }
            }

            // Hidden item
            &#{$hidden-classname} {
                display: block; 
                opacity: 0;
                nav {
                    top: -9999em !important; 
                }
            }

            // Nav links
            a {
                color: $color;
                padding: .65em 1em;
                font-size: 1.5em;            
                width: auto;
                @if $navDisplay == inline {
                    display: inline-block;                
                } @else {
                    float: left;
                    display: block;
                }
            }        

            // Back button
            #{$back-class} { 
                opacity: 0;
                @include transition(opacity, .5s);    
                &#{$visible-classname} {
                    opacity: 1;    
                }    
            }            
        }
    }
}



