@import "compass/css3/transition";

$color-nav-panels-bg: $color-light-grey !default;

body, html {
    background: $color-nav-panels-bg;
    overflow-x: hidden;
    overflow-y: scroll;
}

// Navigation

nav {
    ul, 
    ol {
        list-style: none;
    }    
    a {
        text-decoration: none;
        text-align: left;
        display: block;
        padding: 1em;
    }   
}

// Panels 

.moo-panels {
    position: absolute;
    min-height: 100%;
}

.moo-panel {
    position: absolute;
    z-index: 1;
    width: 100%;
    overflow:auto;
    top: 0; 
    min-height: 100%;
}

// Hacks
 
.moo-panels, .moo-panel {
    // Prevents flicker on transform3d (iOS)    
    -webkit-transition-duration:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
     -webkit-transform: translateZ(0);
}