<div class="index-view">
    <nav class="m-list">
        <a href="#form">
            <span class="m-icon-chat"></span>
            Form
        </a>
        <a href="#buttons">
            <span class="m-icon-ok-circle"></span>
            Buttons
        </a>
        <a href="#icons">
            <span class="m-icon-camera"></span>
            Icons
        </a>
        <a href="#uinavbar">
             <span class="m-icon-question"></span>
             UINavBar
        </a>
        <a href="#colors">
             <span class="m-icon-music"></span>
             Colors
        </a>
        <a href="#text">
             <span class="m-icon-edit"></span>
             Text
        </a>
    </nav>
</div>