<div class="index-view">

    <div class="ui form segment">
      <div class="field">
        <label>Your name</label>
        <div class="ui left labeled icon input">
          <input id="inputEmail" class="m-text" placeholder="Fullname or nickname" type="text">
          <i class="user icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>
      <div class="ui blue submit button" id="btnLogin">Next</div>
    </div>

</div>